workflows/DAVID/7PLnoUk2oopeg3xw.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Kommo API Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kommo API Node": {
      "main": [
        [
          {
            "node": "Kommo API Node1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kommo API Node1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "API: Get Inmueble ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Get Inmueble ID": {
      "main": [
        [
          {
            "node": "API: Crear Visita",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Crear Visita": {
      "main": [
        [
          {
            "node": "API: Asignar Responsable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Asignar Responsable": {
      "main": [
        [
          {
            "node": "API: Datos Interesado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API: Datos Interesado": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-22T06:25:15.789Z",
  "id": "7PLnoUk2oopeg3xw",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "DAVID - HORARIO MODO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "david-modo",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2368,
        208
      ],
      "id": "1d7334c2-87e0-4ee0-8e17-534caf7fd137",
      "name": "Webhook",
      "webhookId": "2f43721a-6e19-4cf6-8b45-6300420cb2ed"
    },
    {
      "parameters": {
        "authentication": "longLivedToken",
        "resource": "leads",
        "filter": {
          "id": "={{ $json.body?.['leads[add][0][id]'] ?? $json.body?.['leads[status][0][id]'] }}"
        },
        "options": {
          "with": [
            "contacts"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -1936,
        208
      ],
      "id": "9ed9414b-80c8-4c4f-939b-60f13ea41f68",
      "name": "Kommo API Node",
      "credentials": {
        "kommoLongLivedApi": {
          "id": "20bzHfzuZvuDPmtm",
          "name": "Kommo Long Lived Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "21f0faaf-ceb5-4138-91cd-6c288f47ab96",
              "name": "telefono",
              "value": "={{$json._embedded.contacts[0].custom_fields_values.find(f => f.field_code === \"PHONE\").values[0].value}}",
              "type": "string"
            },
            {
              "id": "1552d482-8a09-4b3d-a951-228e45f81903",
              "name": "fechaMODO",
              "value": "={{ ($('Kommo API Node').item.json._embedded.leads[0].custom_fields_values || []).find(f => (f.field_name || '').trim() === 'n8n - fechaMODO')?.values?.[0]?.value || '' }}",
              "type": "string"
            },
            {
              "id": "d74b2a87-23f5-4801-a3c9-425412a71f6a",
              "name": "utm_source",
              "value": "BOT IA - MODO",
              "type": "string"
            },
            {
              "id": "5e1431e7-a9f8-4001-8b01-a20d75a8e23f",
              "name": "nombre",
              "value": "={{ $json._embedded.contacts[0].name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1488,
        208
      ],
      "id": "38a801ca-a386-46dd-b127-bcf0b628adaa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "longLivedToken",
        "resource": "contacts",
        "filter": {
          "id": "={{ $json._embedded.leads[0]._embedded.contacts[0].id }}"
        },
        "options": {},
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -1712,
        208
      ],
      "id": "9401ebe6-d655-4f18-b87a-dc5792092aff",
      "name": "Kommo API Node1",
      "credentials": {
        "kommoLongLivedApi": {
          "id": "20bzHfzuZvuDPmtm",
          "name": "Kommo Long Lived Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8645f397-dcc0-42c2-a93e-39ce5084ea6a",
              "name": "fechaMODO_formateada",
              "value": "={{ DateTime.fromFormat($json.fechaMODO, 'dd/LL/yyyy HH:mm', { zone: 'America/Lima' }).minus({ hours: 4 }).toFormat(\"yyyy-LL-dd'T'HH:mm:ss\") }}",
              "type": "string"
            },
            {
              "id": "dcbfb20d-6144-43fd-ba15-b3ae6d3a51c7",
              "name": "telefono_formateado",
              "value": "={{ String($json.telefono).replace(/^\\+?51/, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1280,
        208
      ],
      "id": "3f1a2689-add5-48b5-b70b-9ceabb858306",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2160,
        208
      ],
      "id": "6b9fac96-d38b-4c0c-bc54-4cc9518d099b",
      "name": "Wait",
      "webhookId": "132d3155-21b5-4ebf-8d42-780e167774f9"
    },
    {
      "parameters": {
        "url": "https://b9ugijtcz4.execute-api.us-east-2.amazonaws.com/prod/inmuebles/get_inmueble_codigo/MODO101/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        208
      ],
      "id": "b400be68-6484-4e39-a3b6-2a477c5d7d94",
      "name": "API: Get Inmueble ID"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://b9ugijtcz4.execute-api.us-east-2.amazonaws.com/prod/visitas/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"codigo_inmueble\": \"MODO101\",\n  \"fecha_programada\": \"{{ $node[\"Edit Fields1\"].json.fechaMODO_formateada }}\",\n  \"inmueble\": \"{{ $json.data.id }}\",\n  \"formulario\": \"Inquilino interesado\",\n  \"tiempo_reunion\": \"00:30\",\n  \"agregar_alquileres\": false,\n  \"cliente_asistio\": false,\n  \"celular\": \"{{ $node[\"Edit Fields\"].json.telefono }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -832,
        208
      ],
      "id": "30748d5c-b194-43c5-a573-df2cf9b89703",
      "name": "API: Crear Visita"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://b9ugijtcz4.execute-api.us-east-2.amazonaws.com/prod/visitas/responsables/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"visita\": \"{{ $json.id_visita }}\",\n  \"email\": \"alquileres@proper.com.pe\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        208
      ],
      "id": "1387ca65-4525-4efd-98cc-aaba9b2f81e2",
      "name": "API: Asignar Responsable"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://b9ugijtcz4.execute-api.us-east-2.amazonaws.com/prod/visitas/{{ $node[\"API: Crear Visita\"].json.id_visita }}/interesado/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"nombre\": \"{{ $node[\"Edit Fields\"].json.nombre }}\",\n  \"nacionalidad\": \"peruano\",\n  \"hijos\": false,\n  \"nro_personas_depto\": 1,\n  \"mascotas\": false,\n  \"nro_mascotas\": 0,\n  \"fecha_toma_departamento\": \"\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        208
      ],
      "id": "2f147f13-27cc-4ed0-95ae-a00376d9c1a9",
      "name": "API: Datos Interesado"
    },
    {
      "parameters": {
        "sendTo": "mvelascoo@tamibot.com, soporte.corretaje@proper.com.pe, valeria.vega@proper.com.pe",
        "subject": "=TamiBot - MODO - Nueva Visita - {{ $node[\"Edit Fields\"].json.telefono }}",
        "emailType": "text",
        "message": "=Se registra nueva solicitud de visita:\n\nNombre: {{ $node[\"Edit Fields\"].json.nombre }}\nTelefono: {{ $node[\"Edit Fields\"].json.telefono }}\nFecha: {{ $node[\"Edit Fields\"].json.fechaMODO }}\nURL: https://propertamibotcom.kommo.com/leads/detail/{{ $node[\"Kommo API Node\"].json._embedded.leads[0].id }}",
        "options": {
          "senderName": "TamiBot - MODO"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -144,
        208
      ],
      "id": "9b16e6a9-4a26-4615-be5b-91fa0ea34ecf",
      "name": "Send Email",
      "webhookId": "03cbdab2-d1d1-484b-92df-1c510fb10b49",
      "credentials": {
        "gmailOAuth2": {
          "id": "SPurZ4Z9pGQy8MKJ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-0299.up.railway.app",
            "user-agent": "amoCRM-Webhooks/3.0",
            "content-length": "314",
            "accept-encoding": "gzip",
            "content-type": "application/x-www-form-urlencoded",
            "x-amocrm-requestid": "bde59877-60c0-43ea-abed-21e3a83dedbf",
            "x-forwarded-for": "204.74.253.164",
            "x-forwarded-host": "primary-production-0299.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "Qe3F5iT3QhivxRBMAax-fw",
            "x-real-ip": "204.74.253.164",
            "x-request-start": "1766374735621"
          },
          "params": {},
          "query": {},
          "body": {
            "leads[status][0][id]": "22693784",
            "leads[status][0][status_id]": "92800052",
            "leads[status][0][pipeline_id]": "11240224",
            "leads[status][0][old_status_id]": "90801092",
            "leads[status][0][old_pipeline_id]": "11240224",
            "account[id]": "30050693",
            "account[subdomain]": "propertamibotcom"
          },
          "webhookUrl": "https://primary-production-0299.up.railway.app/webhook/david-modo",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-22T06:25:15.789Z",
      "updatedAt": "2025-09-22T06:25:15.789Z",
      "role": "workflow:owner",
      "workflowId": "7PLnoUk2oopeg3xw",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-09-22T06:25:14.306Z",
      "updatedAt": "2025-09-22T06:25:14.306Z",
      "id": "SAC5Y0KRuxIFToZ4",
      "name": "DAVID"
    },
    {
      "createdAt": "2025-08-01T18:41:06.465Z",
      "updatedAt": "2025-08-01T18:41:06.465Z",
      "id": "94z6tcDoVU8DriEW",
      "name": "IA"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-22T18:59:16.355Z",
  "versionId": "f873c606-e855-40ed-b501-92b8d3c1c085"
}