workflows/IA/cJUTPVdxTIIbq1h0.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-12T00:15:49.238Z",
    "createdAt": "2026-02-12T00:15:49.237Z",
    "versionId": "dca7eeda-97c1-48fc-becc-45e216e3f0fd",
    "workflowId": "cJUTPVdxTIIbq1h0",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "url"
              },
              {
                "name": "idkommo"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          208,
          160
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM crm.departamentos_urbania\nWHERE\n  id_urbania = {{ $json.id_urbania }}\n  OR id_adondevivir = {{ $json.id_urbania }};",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          656,
          160
        ],
        "id": "944982a8-d628-4e8e-a0c5-772f53614a30",
        "name": "Postgres",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "fuKiWlAN9ojbRM9W",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9cff59ab-24c0-49bd-b327-a84191dbe2d0",
                "name": "id_urbania",
                "value": "={{ $json.url.trim().match(/(\\d{5,12})(?=(?:\\.html)?(?:$|\\?|#))/)?.[1] }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          432,
          160
        ],
        "id": "3675e62a-88f2-40ad-967e-e75a66be6042",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "2c27e5a2-eb50-4181-8a42-b7b4d38eca71",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "number",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          880,
          160
        ],
        "id": "c35aa6f9-f900-4bae-a908-e183acb590df",
        "name": "Filter"
      },
      {
        "parameters": {
          "resource": "leads",
          "operation": "updateLeads",
          "collection": {
            "lead": [
              {
                "id": "={{ $('When Executed by Another Workflow').item.json.idkommo }}",
                "custom_fields_values": {
                  "custom_field": [
                    {
                      "data": "{\"id\":799121,\"type\":\"text\"}",
                      "value": "={{ $json.codigo }}"
                    },
                    {
                      "data": "{\"id\":799123,\"type\":\"text\"}",
                      "value": "URBANIA"
                    }
                  ]
                }
              }
            ]
          }
        },
        "type": "n8n-nodes-kommo.kommo",
        "typeVersion": 1,
        "position": [
          1312,
          160
        ],
        "id": "bc9d22c6-f277-4850-9c54-67278520239d",
        "name": "Update leads",
        "credentials": {
          "kommoOAuth2Api": {
            "id": "Xm12cHoxJw7jGGaV",
            "name": "Proper"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT *\nFROM crm.departamentos_urbania\nWHERE\n  id_urbania = {{ $('Edit Fields').item.json.id_urbania }}\n  OR id_adondevivir = {{ $('Edit Fields').item.json.id_urbania }};",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          1744,
          160
        ],
        "id": "d62a4ff7-6ebe-4719-8161-cda63f2cc94a",
        "name": "Postgres1",
        "alwaysOutputData": true,
        "credentials": {
          "postgres": {
            "id": "fuKiWlAN9ojbRM9W",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1520,
          160
        ],
        "id": "05a56305-4bd9-4a2f-9c57-b214c384c82b",
        "name": "Limit"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.limit",
        "typeVersion": 1,
        "position": [
          1088,
          160
        ],
        "id": "f0d27d0a-ec80-43ad-a466-1ac681630d7b",
        "name": "Limit1"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Postgres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Limit1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update leads": {
        "main": [
          [
            {
              "node": "Limit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit": {
        "main": [
          [
            {
              "node": "Postgres1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Limit1": {
        "main": [
          [
            {
              "node": "Update leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "dca7eeda-97c1-48fc-becc-45e216e3f0fd",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update leads": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Update leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-01T20:35:27.548Z",
  "id": "cJUTPVdxTIIbq1h0",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "BUSQUEDA LINK URBANIA",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            },
            {
              "name": "idkommo"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        208,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM crm.departamentos_urbania\nWHERE\n  id_urbania = {{ $json.id_urbania }}\n  OR id_adondevivir = {{ $json.id_urbania }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        160
      ],
      "id": "944982a8-d628-4e8e-a0c5-772f53614a30",
      "name": "Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cff59ab-24c0-49bd-b327-a84191dbe2d0",
              "name": "id_urbania",
              "value": "={{ $json.url.trim().match(/(\\d{5,12})(?=(?:\\.html)?(?:$|\\?|#))/)?.[1] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        160
      ],
      "id": "3675e62a-88f2-40ad-967e-e75a66be6042",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2c27e5a2-eb50-4181-8a42-b7b4d38eca71",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        880,
        160
      ],
      "id": "c35aa6f9-f900-4bae-a908-e183acb590df",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "leads",
        "operation": "updateLeads",
        "collection": {
          "lead": [
            {
              "id": "={{ $('When Executed by Another Workflow').item.json.idkommo }}",
              "custom_fields_values": {
                "custom_field": [
                  {
                    "data": "{\"id\":799121,\"type\":\"text\"}",
                    "value": "={{ $json.codigo }}"
                  },
                  {
                    "data": "{\"id\":799123,\"type\":\"text\"}",
                    "value": "URBANIA"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        1312,
        160
      ],
      "id": "bc9d22c6-f277-4850-9c54-67278520239d",
      "name": "Update leads",
      "credentials": {
        "kommoOAuth2Api": {
          "id": "Xm12cHoxJw7jGGaV",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM crm.departamentos_urbania\nWHERE\n  id_urbania = {{ $('Edit Fields').item.json.id_urbania }}\n  OR id_adondevivir = {{ $('Edit Fields').item.json.id_urbania }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        160
      ],
      "id": "d62a4ff7-6ebe-4719-8161-cda63f2cc94a",
      "name": "Postgres1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1520,
        160
      ],
      "id": "05a56305-4bd9-4a2f-9c57-b214c384c82b",
      "name": "Limit"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1088,
        160
      ],
      "id": "f0d27d0a-ec80-43ad-a466-1ac681630d7b",
      "name": "Limit1"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "url": "https://www.adondevivir.com/propiedades/clasificado/alclapin-moderno-y-luminoso-loft-monoambiente-en-alquiler-148219750.html",
          "idkommo": 22665127
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-01T20:35:27.548Z",
      "createdAt": "2025-08-01T20:35:27.548Z",
      "role": "workflow:owner",
      "workflowId": "cJUTPVdxTIIbq1h0",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "updatedAt": "2025-08-01T18:41:06.465Z",
      "createdAt": "2025-08-01T18:41:06.465Z",
      "id": "94z6tcDoVU8DriEW",
      "name": "IA"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-12-22T11:45:20.859Z",
  "versionId": "dca7eeda-97c1-48fc-becc-45e216e3f0fd"
}