workflows/IA/yWrQu0MbLsFrR6s2.json
{
  "active": true,
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Sort by Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date": {
      "main": [
        [
          {
            "node": "Filter DIEGO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter DIEGO": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "main": [
        [
          {
            "node": "If Phone Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Phone Exists": {
      "main": [
        [
          {
            "node": "Code Diego",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Diego": {
      "main": [
        [
          {
            "node": "Postgres Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request Statuses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Statuses1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Leads": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter INVERSIONES_IA": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Inversiones": {
      "main": [
        [
          {
            "node": "Postgres Upsert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "HTTP Request Statuses2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Statuses2": {
      "main": [
        [
          {
            "node": "HTTP Request Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Sort by Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date1": {
      "main": [
        [
          {
            "node": "Filter INVERSIONES_IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Get Contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact1": {
      "main": [
        [
          {
            "node": "If Phone Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Phone Exists1": {
      "main": [
        [
          {
            "node": "Code Inversiones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Statuses": {
      "main": [
        [
          {
            "node": "Get Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads": {
      "main": [
        [
          {
            "node": "Split Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads": {
      "main": [
        [
          {
            "node": "Filter RENTAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter RENTAS": {
      "main": [
        [
          {
            "node": "Extract Lead Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Lead Info": {
      "main": [
        [
          {
            "node": "Batch Contact IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge All",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Batch Contact IDs": {
      "main": [
        [
          {
            "node": "Get Contacts Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts Batch": {
      "main": [
        [
          {
            "node": "Extract Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Contact Info": {
      "main": [
        [
          {
            "node": "Merge All",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All": {
      "main": [
        [
          {
            "node": "Upsert Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-23T04:15:40.700Z",
  "id": "yWrQu0MbLsFrR6s2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "IA REPORT",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "=_embedded.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -448,
        928
      ],
      "id": "34bad1a3-6360-4503-a0c5-3e3589edbb59",
      "name": "Split Out"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -224,
        928
      ],
      "id": "45026a6e-25b0-44da-97ed-8c5a6099b516",
      "name": "Sort by Date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2504f489-361c-447f-93c2-2e867ae0c54f",
              "leftValue": "={{ $json._embedded.tags.toJsonString() }}",
              "rightValue": "DIEGO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7972cc23-970e-40a7-9973-5f70f5d42a25",
              "leftValue": "={{ $json._embedded.contacts[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        928
      ],
      "id": "6f166b73-a10b-4063-afd3-607164074b17",
      "name": "Filter DIEGO"
    },
    {
      "parameters": {
        "authentication": "longLivedToken",
        "resource": "contacts",
        "filter": {
          "id": "={{ $('Split Out').item.json._embedded.contacts[0].id }}"
        },
        "options": {
          "with": [
            "leads"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        448,
        784
      ],
      "id": "3da811d4-8a3b-43b5-b15b-da810c8af03d",
      "name": "Get Contact",
      "credentials": {
        "kommoLongLivedApi": {
          "id": "20bzHfzuZvuDPmtm",
          "name": "Kommo Long Lived Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "add02cca-2660-4c19-a042-f1a71ff7e63b",
              "leftValue": "={{ $('Get Contact').item.json._embedded.contacts[0].custom_fields_values.find(f => f.field_name === 'Phone')?.values?.[0]?.value || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        784
      ],
      "id": "849d617e-4f44-4ee3-8861-4a3c6b709ca5",
      "name": "If Phone Exists"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// TRANSFORMACIÓN LEAD KOMMO → POSTGRESQL (DIEGO)\n// ========================================\n\nconst lead = $('Split Out').item.json;\nconst statuses = $('HTTP Request Statuses1').first().json._embedded?.statuses || [];\nconst contactData = $('Get Contact').first().json._embedded?.contacts?.[0] || {};\n\n// Helper: obtener custom field\nfunction getCF(fieldName) {\n  const cf = (lead.custom_fields_values || []).find(x => x.field_name === fieldName);\n  return (cf && cf.values && cf.values[0]) ? cf.values[0].value : null;\n}\n\n// Helper: campo booleano\nfunction getCFBool(fieldName) {\n  const val = getCF(fieldName);\n  return (val === true || val === 1 || val === '1') ? 1 : 0;\n}\n\n// Helper: teléfono del contacto\nfunction getPhone() {\n  const phoneField = (contactData.custom_fields_values || []).find(f => f.field_name === 'Phone');\n  return phoneField?.values?.[0]?.value || null;\n}\n\n// Helper: nombre del status\nfunction getStatusName(statusId) {\n  const hit = statuses.find(s => String(s.id) === String(statusId));\n  return hit?.name || '';\n}\n\n// Helper: Unix a ISO\nfunction unixToISO(unix) {\n  if (!unix) return null;\n  return new Date(unix * 1000).toISOString().replace('T', ' ').substring(0, 19);\n}\n\n// Helper: lunes de la semana\nfunction getMonday(date) {\n  const d = new Date(date);\n  const day = d.getDay();\n  const diff = (day === 0 ? -6 : 1) - day;\n  d.setDate(d.getDate() + diff);\n  return d.toISOString().split('T')[0];\n}\n\n// ========================================\n// EXTRACCIÓN DE CAMPOS\n// ========================================\n\n// Campos Diego\nconst origen = getCF('n8n - diego - origen') || 'SIN_ORIGEN';\nconst animo = getCF('n8n - diego - animo');\n\n// Horarios\nconst fecha1 = getCF('n8n - diego - fecha1');\nconst fecha2 = getCF('n8n - diego - fecha2');\nconst dioHorario = (fecha1 || fecha2) ? 1 : 0;\n\n// Errores (campos compartidos)\nconst tuvoError = getCFBool('n8n - supp - es_error');\nconst detalleError = getCF('n8n - supp - detalle_es_error');\nconst errorMarcado = getCFBool('rentas_error_marcado');\nconst estadoCorreccion = getCF('n8n - corregido') || 'N/A';\n\n// Caso especial\nconst casoEspecialCampo = getCFBool('n8n - supp - caso_especial');\nconst casoEspecialStatus = (lead.status_id === 92821236) ? 1 : 0;\nconst casoEspecial = (casoEspecialCampo || casoEspecialStatus) ? 1 : 0;\n\n// Fechas\nconst fechaCreacionUnix = lead.created_at;\nconst fechaCreacion = unixToISO(fechaCreacionUnix);\nconst fechaDia = fechaCreacion ? fechaCreacion.substring(0, 10) : null;\nconst fechaMes = fechaDia ? fechaDia.substring(0, 7) + '-01' : null;\nconst fechaSemana = fechaCreacionUnix ? getMonday(new Date(fechaCreacionUnix * 1000)) : null;\n\n// Cliente\nconst tipoCliente = getCF('n8n - TipoCliente');\nconst esNuevo = (tipoCliente === 'NUEVO') ? 1 : 0;\n\n// ========================================\n// RETORNO\n// ========================================\n\nreturn {\n  json: {\n    id: lead.id,\n    nombre: contactData.name || null,\n    telefono: getPhone(),\n    fecha_creacion: fechaCreacion,\n    status_id: lead.status_id,\n    etapa: getStatusName(lead.status_id),\n    origen: origen,\n    bot_respondio: 0,\n    bot_apagado_manual: 0,\n    dio_horario: dioHorario,\n    fecha1: fecha1,\n    fecha2: fecha2,\n    tuvo_error: tuvoError,\n    detalle_error: detalleError,\n    error_marcado: errorMarcado,\n    estado_correccion: estadoCorreccion,\n    caso_especial: casoEspecial,\n    animo: animo,\n    tipo_cliente: tipoCliente,\n    es_nuevo: esNuevo,\n    fecha_dia: fechaDia,\n    fecha_semana: fechaSemana,\n    fecha_mes: fechaMes\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        784
      ],
      "id": "45fa1988-6c5f-4666-94ff-2d4beaef24d5",
      "name": "Code Diego"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "crm",
          "mode": "list",
          "cachedResultName": "crm"
        },
        "table": {
          "__rl": true,
          "value": "bot_leads_diego",
          "mode": "list",
          "cachedResultName": "bot_leads_diego"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nombre": "={{ $json.nombre }}",
            "telefono": "={{ $json.telefono }}",
            "fecha_creacion": "={{ $json.fecha_creacion }}",
            "status_id": "={{ $json.status_id }}",
            "etapa": "={{ $json.etapa }}",
            "origen": "={{ $json.origen }}",
            "bot_respondio": "={{ $json.bot_respondio }}",
            "bot_apagado_manual": "={{ $json.bot_apagado_manual }}",
            "dio_horario": "={{ $json.dio_horario }}",
            "fecha1": "={{ $json.fecha1 }}",
            "fecha2": "={{ $json.fecha2 }}",
            "tuvo_error": "={{ $json.tuvo_error }}",
            "detalle_error": "={{ $json.detalle_error }}",
            "error_marcado": "={{ $json.error_marcado }}",
            "estado_correccion": "={{ $json.estado_correccion }}",
            "caso_especial": "={{ $json.caso_especial }}",
            "animo": "={{ $json.animo }}",
            "tipo_cliente": "={{ $json.tipo_cliente }}",
            "es_nuevo": "={{ $json.es_nuevo }}",
            "fecha_dia": "={{ $json.fecha_dia }}",
            "fecha_semana": "={{ $json.fecha_semana }}",
            "fecha_mes": "={{ $json.fecha_mes }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_id",
              "displayName": "status_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_respondio",
              "displayName": "bot_respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_apagado_manual",
              "displayName": "bot_apagado_manual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "dio_horario",
              "displayName": "dio_horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha1",
              "displayName": "fecha1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha2",
              "displayName": "fecha2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tuvo_error",
              "displayName": "tuvo_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_error",
              "displayName": "detalle_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_marcado",
              "displayName": "error_marcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado_correccion",
              "displayName": "estado_correccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "caso_especial",
              "displayName": "caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "animo",
              "displayName": "animo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "es_nuevo",
              "displayName": "es_nuevo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_dia",
              "displayName": "fecha_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_semana",
              "displayName": "fecha_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_mes",
              "displayName": "fecha_mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        864
      ],
      "id": "a7d2804f-04bc-4b30-815b-38f3c56ef3d5",
      "name": "Postgres Upsert",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        928
      ],
      "id": "7f6700b5-4c55-4a08-826f-0de45d58563b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads/pipelines/9165176/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        928
      ],
      "id": "5f159daa-e140-4357-8335-491cdd52caa7",
      "name": "HTTP Request Statuses1",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        928
      ],
      "id": "a31054ae-2457-49f5-98a4-79300ef2cb39",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "=https://propertamibotcom.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts"
            },
            {
              "name": "filter[created_at][from]",
              "value": "1767243600"
            },
            {
              "name": "filter[created_at][to]",
              "value": "={{ Math.floor(new Date(new Date($now).setHours(0,0,0,0) + 48*60*60*1000).getTime() / 1000) }}"
            },
            {
              "name": "filter[pipeline_id][]",
              "value": "9165176"
            },
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body?._links?.next?.href }}",
              "limitPagesFetched": true,
              "maxRequests": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        928
      ],
      "id": "69e0d06a-9434-49f7-81e3-c8c47d18241a",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts"
            },
            {
              "name": "filter[created_at][from]",
              "value": "1767243600"
            },
            {
              "name": "filter[created_at][to]",
              "value": "={{ Math.floor(new Date(new Date($now).setHours(0,0,0,0) + 48*60*60*1000).getTime() / 1000) }}"
            },
            {
              "name": "filter[pipeline_id][]",
              "value": "8874156"
            },
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body?._links?.next?.href }}",
              "limitPagesFetched": true,
              "maxRequests": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        1296
      ],
      "id": "fc028897-7805-4fc1-b43a-959996a24a17",
      "name": "HTTP Request Leads",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-tag-inversiones",
              "leftValue": "={{ $json._embedded.tags.toJsonString() }}",
              "rightValue": "INVERSIONES_IA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "filter-contact-inversiones",
              "leftValue": "={{ $json._embedded.contacts[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        1296
      ],
      "id": "c8868188-59cc-49a2-83b3-5493b1c4e717",
      "name": "Filter INVERSIONES_IA"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// TRANSFORMACION LEAD KOMMO -> POSTGRESQL (INVERSIONES IA)\n// ========================================\n\nconst lead = $('Split Out3').item.json;\nconst statuses = $('HTTP Request Statuses2').first().json._embedded?.statuses || [];\nconst contactData = $('Get Contact1').first().json._embedded?.contacts?.[0] || {};\n\n// ========================================\n// HELPERS\n// ========================================\n\n// Helper: obtener custom field\nfunction getCF(fieldName) {\n  const cf = (lead.custom_fields_values || []).find(x => x.field_name === fieldName);\n  return (cf && cf.values && cf.values[0]) ? cf.values[0].value : null;\n}\n\n// Helper: campo booleano\nfunction getCFBool(fieldName) {\n  const val = getCF(fieldName);\n  return (val === true || val === 1 || val === '1' || val === 'SI' || val === 'si') ? 1 : 0;\n}\n\n// Helper: telefono del contacto\nfunction getPhone() {\n  const phoneField = (contactData.custom_fields_values || []).find(f => f.field_name === 'Phone');\n  return phoneField?.values?.[0]?.value || null;\n}\n\n// Helper: nombre del status\nfunction getStatusName(statusId) {\n  const hit = statuses.find(s => String(s.id) === String(statusId));\n  return hit?.name || 'Sin etapa';\n}\n\n// Helper: Unix a ISO\nfunction unixToISO(unix) {\n  if (!unix) return null;\n  return new Date(unix * 1000).toISOString().replace('T', ' ').substring(0, 19);\n}\n\n// Helper: lunes de la semana\nfunction getMonday(date) {\n  const d = new Date(date);\n  const day = d.getDay();\n  const diff = (day === 0 ? -6 : 1) - day;\n  d.setDate(d.getDate() + diff);\n  return d.toISOString().split('T')[0];\n}\n\n// ========================================\n// CATEGORIZACIÓN DE INTERÉS\n// ========================================\n\nfunction categorizarInteres(interes, tipoCliente) {\n  if (!interes) return { categoria: 'SIN CLASIFICAR', subCategoria: 'Interés No Identificado' };\n  \n  const interesUpper = interes.toUpperCase();\n  \n  // INVERSIÓN (VENTA)\n  if (interesUpper.includes('INVERSION') || interesUpper.includes('INVERSIÓN') || \n      interesUpper.includes('COMPRA') || interesUpper.includes('VENTA')) {\n    if (tipoCliente === 'NUEVO') {\n      return { categoria: 'INVERSIÓN (VENTA)', subCategoria: 'Nuevo Cliente' };\n    } else {\n      return { categoria: 'INVERSIÓN (VENTA)', subCategoria: 'Cliente Existente' };\n    }\n  }\n  \n  // RENTAS & GESTIÓN\n  if (interesUpper.includes('ALQUILER') || interesUpper.includes('RENTA') || interesUpper.includes('ARRENDAMIENTO')) {\n    return { categoria: 'RENTAS & GESTIÓN', subCategoria: 'Busca Alquiler (Rentas)' };\n  }\n  \n  if (interesUpper.includes('PROPIETARIO') || interesUpper.includes('OFRECE')) {\n    return { categoria: 'RENTAS & GESTIÓN', subCategoria: 'Propietario (Ofrece)' };\n  }\n  \n  if (interesUpper.includes('CLIENTE_ACTUAL') || interesUpper.includes('INQUILINO')) {\n    return { categoria: 'RENTAS & GESTIÓN', subCategoria: 'Cliente Actual (Inq/Prop)' };\n  }\n  \n  // DEFAULT\n  return { categoria: 'SIN CLASIFICAR', subCategoria: 'Interés No Identificado' };\n}\n\n// ========================================\n// CATEGORIZACIÓN DE ETAPAS\n// ========================================\n\nfunction categorizarEtapa(statusId, etapaNombre) {\n  // Mapeo de grupos de etapas - AJUSTAR según tu pipeline real\n  const gruposEtapa = {\n    // Etapas iniciales\n    'NUEVO': { grupo: 'ENTRADA', orden: 1 },\n    'ENTRANTE': { grupo: 'ENTRADA', orden: 1 },\n    'SIN CONTACTAR': { grupo: 'ENTRADA', orden: 2 },\n    \n    // Calificación\n    'EN CALIFICACION': { grupo: 'CALIFICACIÓN', orden: 10 },\n    'CALIFICANDO': { grupo: 'CALIFICACIÓN', orden: 10 },\n    'DATOS COMPLETOS': { grupo: 'CALIFICACIÓN', orden: 11 },\n    \n    // Seguimiento\n    'EN SEGUIMIENTO': { grupo: 'SEGUIMIENTO', orden: 20 },\n    'CONTACTADO': { grupo: 'SEGUIMIENTO', orden: 21 },\n    'INTERESADO': { grupo: 'SEGUIMIENTO', orden: 22 },\n    \n    // Charla/Cita\n    'CHARLA AGENDADA': { grupo: 'CHARLA', orden: 30 },\n    'CITA AGENDADA': { grupo: 'CHARLA', orden: 31 },\n    'ASISTIO CHARLA': { grupo: 'CHARLA', orden: 32 },\n    \n    // Cierre\n    'NEGOCIACION': { grupo: 'CIERRE', orden: 40 },\n    'SEPARACION': { grupo: 'CIERRE', orden: 41 },\n    'GANADO': { grupo: 'CERRADO', orden: 50 },\n    'CERRADO GANADO': { grupo: 'CERRADO', orden: 50 },\n    \n    // Perdidos\n    'PERDIDO': { grupo: 'PERDIDO', orden: 90 },\n    'NO CALIFICA': { grupo: 'PERDIDO', orden: 91 },\n    'NO INTERESADO': { grupo: 'PERDIDO', orden: 92 },\n    'SIN RESPUESTA': { grupo: 'PERDIDO', orden: 93 }\n  };\n  \n  const etapaUpper = (etapaNombre || '').toUpperCase().trim();\n  \n  // Buscar coincidencia exacta o parcial\n  for (const [key, value] of Object.entries(gruposEtapa)) {\n    if (etapaUpper === key || etapaUpper.includes(key)) {\n      return value;\n    }\n  }\n  \n  // Default\n  return { grupo: 'OTROS', orden: 99 };\n}\n\n// ========================================\n// EXTRACCION DE CAMPOS BOTIA\n// ========================================\n\n// Clasificacion\nconst interes = getCF('botia - interes') || 'no_definido';\nconst tipoCliente = getCF('botia - tipo_cliente');\nconst esNuevo = (tipoCliente === 'NUEVO') ? 1 : 0;\n\n// Categorización\nconst categorizacion = categorizarInteres(interes, tipoCliente);\n\n// Datos financieros\nconst ingresoPromedioMensual = getCF('botia - ingreso_promedio_mensual');\nconst capitalInicial = getCF('botia - capital_inicial');\nconst egresos = getCF('botia - egresos');\nconst primeraVivienda = getCF('botia - primera_vivienda');\nconst edad = getCF('botia - edad');\nconst dni = getCF('botia - dni');\nconst tipoIngreso = getCF('botia - tipo_ingreso');\n\n// Calificacion\nconst cumpleIngresos = getCF('botia - cumple_ingresos');\nconst cumpleInicial = getCF('botia - cumple_inicial');\nconst categoriaCompleta = getCF('botia - categoria_completa');\n\n// Asesor\nconst tieneAsesor = getCF('botia - tiene_asesor');\nconst nombreAsesor = getCF('botia - nombre_asesor');\nconst telefonoAsesor = getCF('botia - telefono_asesor');\n\n// Charla\nconst charlaElegida = getCF('botia - charla_elegida');\n\n// Derivacion\nconst derivadoA = getCF('botia - derivado_a');\nconst distritoPropiedad = getCF('botia - distrito_propiedad');\nconst zonaInteres = getCF('botia - zona_interes');\nconst edificioActual = getCF('botia - edificio_actual');\n\n// Resumen\nconst resumenConversacion = getCF('botia - resumen_conversacion');\n\n// Caso especial\nconst casoEspecial = getCF('botia - caso_especial');\nconst detalleCasoEspecial = getCF('botia - detalle_caso_especial');\n\n// Embudo\nconst estatusEmbudo = getCF('botia - estatusEmbudo');\n\n// Errores\nconst tuvoError = getCFBool('n8n - supp - es_error');\nconst detalleError = getCF('n8n - supp - detalle_es_error');\nconst errorMarcado = getCFBool('rentas_error_marcado');\nconst estadoCorreccion = getCF('n8n - corregido') || 'N/A';\n\n// Origen\nconst origen = getCF('n8n - origen') || 'SIN_ORIGEN';\n\n// Fechas\nconst fechaCreacionUnix = lead.created_at;\nconst fechaCreacion = unixToISO(fechaCreacionUnix);\nconst fechaDia = fechaCreacion ? fechaCreacion.substring(0, 10) : null;\nconst fechaMes = fechaDia ? fechaDia.substring(0, 7) + '-01' : null;\nconst fechaSemana = fechaCreacionUnix ? getMonday(new Date(fechaCreacionUnix * 1000)) : null;\n\n// Etapa\nconst etapaNombre = getStatusName(lead.status_id);\nconst etapaCategoria = categorizarEtapa(lead.status_id, etapaNombre);\n\n// ========================================\n// RETORNO\n// ========================================\n\nreturn {\n  json: {\n    // Identificadores\n    id: lead.id,\n    nombre: contactData.name || null,\n    telefono: getPhone(),\n    \n    // Fechas\n    fecha_creacion: fechaCreacion,\n    fecha_dia: fechaDia,\n    fecha_semana: fechaSemana,\n    fecha_mes: fechaMes,\n    \n    // Estado CRM\n    status_id: lead.status_id,\n    etapa: etapaNombre,\n    grupo_etapa: etapaCategoria.grupo,\n    orden_etapa: etapaCategoria.orden,\n    origen: origen,\n    \n    // Clasificacion\n    interes: categorizacion.subCategoria,\n    categoria_interes: categorizacion.categoria,\n    tipo_cliente: tipoCliente,\n    es_nuevo: esNuevo,\n    \n    // Datos financieros\n    ingreso_promedio_mensual: ingresoPromedioMensual,\n    capital_inicial: capitalInicial,\n    egresos: egresos,\n    primera_vivienda: primeraVivienda,\n    edad: edad,\n    dni: dni,\n    tipo_ingreso: tipoIngreso,\n    \n    // Calificacion\n    cumple_ingresos: cumpleIngresos,\n    cumple_inicial: cumpleInicial,\n    categoria_completa: categoriaCompleta,\n    \n    // Asesor\n    tiene_asesor: tieneAsesor,\n    nombre_asesor: nombreAsesor,\n    telefono_asesor: telefonoAsesor,\n    \n    // Charla\n    charla_elegida: charlaElegida,\n    \n    // Derivacion\n    derivado_a: derivadoA,\n    distrito_propiedad: distritoPropiedad,\n    zona_interes: zonaInteres,\n    edificio_actual: edificioActual,\n    \n    // Resumen\n    resumen_conversacion: resumenConversacion,\n    \n    // Errores\n    tuvo_error: tuvoError,\n    detalle_error: detalleError,\n    error_marcado: errorMarcado,\n    estado_correccion: estadoCorreccion,\n    \n    // Caso especial\n    caso_especial: casoEspecial,\n    detalle_caso_especial: detalleCasoEspecial,\n    \n    // Embudo\n    estatus_embudo: estatusEmbudo,\n    \n    // Control bot\n    bot_respondio: 0,\n    bot_apagado_manual: 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1152
      ],
      "id": "9f94c99a-068b-40b4-8691-7220bccb5bc5",
      "name": "Code Inversiones"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        1296
      ],
      "id": "32acfc82-4ec6-47ad-91d6-7f9560d7810d",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads/pipelines/8874156/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        1296
      ],
      "id": "0d1db9b9-c739-4cf9-a817-c260a202e374",
      "name": "HTTP Request Statuses2",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=_embedded.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -448,
        1296
      ],
      "id": "1ee8f0aa-27ce-4f13-831e-2029c649e9d9",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -224,
        1296
      ],
      "id": "56bbfc98-cb24-4ca2-a6b0-19f70c952060",
      "name": "Sort by Date1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        1296
      ],
      "id": "2a32cefe-038c-498f-9f91-b3e99a229061",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "authentication": "longLivedToken",
        "resource": "contacts",
        "filter": {
          "id": "={{ $('Split Out3').item.json._embedded.contacts[0].id }}"
        },
        "options": {
          "with": [
            "leads"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        448,
        1152
      ],
      "id": "f242d7ea-e666-4a36-9136-4646cf05f8ec",
      "name": "Get Contact1",
      "credentials": {
        "kommoLongLivedApi": {
          "id": "20bzHfzuZvuDPmtm",
          "name": "Kommo Long Lived Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-phone-inversiones",
              "leftValue": "={{ $('Get Contact1').item.json._embedded.contacts[0].custom_fields_values.find(f => f.field_name === 'Phone')?.values?.[0]?.value || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        1152
      ],
      "id": "20cbc50f-ce2e-4901-8255-52b9c50cfc9c",
      "name": "If Phone Exists1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "crm",
          "mode": "list",
          "cachedResultName": "crm"
        },
        "table": {
          "__rl": true,
          "value": "bot_leads_inversiones",
          "mode": "list",
          "cachedResultName": "bot_leads_inversiones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nombre": "={{ $json.nombre }}",
            "telefono": "={{ $json.telefono }}",
            "fecha_creacion": "={{ $json.fecha_creacion }}",
            "fecha_dia": "={{ $json.fecha_dia }}",
            "fecha_semana": "={{ $json.fecha_semana }}",
            "fecha_mes": "={{ $json.fecha_mes }}",
            "status_id": "={{ $json.status_id }}",
            "etapa": "={{ $json.etapa }}",
            "origen": "={{ $json.origen }}",
            "interes": "={{ $json.interes }}",
            "tipo_cliente": "={{ $json.tipo_cliente }}",
            "es_nuevo": "={{ $json.es_nuevo }}",
            "ingreso_promedio_mensual": "={{ $json.ingreso_promedio_mensual }}",
            "capital_inicial": "={{ $json.capital_inicial }}",
            "egresos": "={{ $json.egresos }}",
            "primera_vivienda": "={{ $json.primera_vivienda }}",
            "edad": "={{ $json.edad }}",
            "dni": "={{ $json.dni }}",
            "tipo_ingreso": "={{ $json.tipo_ingreso }}",
            "cumple_ingresos": "={{ $json.cumple_ingresos }}",
            "cumple_inicial": "={{ $json.cumple_inicial }}",
            "categoria_completa": "={{ $json.categoria_completa }}",
            "tiene_asesor": "={{ $json.tiene_asesor }}",
            "nombre_asesor": "={{ $json.nombre_asesor }}",
            "telefono_asesor": "={{ $json.telefono_asesor }}",
            "charla_elegida": "={{ $json.charla_elegida }}",
            "derivado_a": "={{ $json.derivado_a }}",
            "distrito_propiedad": "={{ $json.distrito_propiedad }}",
            "zona_interes": "={{ $json.zona_interes }}",
            "edificio_actual": "={{ $json.edificio_actual }}",
            "resumen_conversacion": "={{ $json.resumen_conversacion }}",
            "tuvo_error": "={{ $json.tuvo_error }}",
            "detalle_error": "={{ $json.detalle_error }}",
            "error_marcado": "={{ $json.error_marcado }}",
            "estado_correccion": "={{ $json.estado_correccion }}",
            "caso_especial": "={{ $json.caso_especial }}",
            "detalle_caso_especial": "={{ $json.detalle_caso_especial }}",
            "estatus_embudo": "={{ $json.estatus_embudo }}",
            "bot_respondio": "={{ $json.bot_respondio }}",
            "bot_apagado_manual": "={{ $json.bot_apagado_manual }}",
            "orden_etapa": "={{ $json.orden_etapa }}",
            "categoria_interes": "={{ $json.categoria_interes }}",
            "grupo_etapa": "={{ $json.grupo_etapa }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_dia",
              "displayName": "fecha_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_semana",
              "displayName": "fecha_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_mes",
              "displayName": "fecha_mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_id",
              "displayName": "status_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "interes",
              "displayName": "interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "es_nuevo",
              "displayName": "es_nuevo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ingreso_promedio_mensual",
              "displayName": "ingreso_promedio_mensual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "capital_inicial",
              "displayName": "capital_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "egresos",
              "displayName": "egresos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "primera_vivienda",
              "displayName": "primera_vivienda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "edad",
              "displayName": "edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "dni",
              "displayName": "dni",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_ingreso",
              "displayName": "tipo_ingreso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cumple_ingresos",
              "displayName": "cumple_ingresos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cumple_inicial",
              "displayName": "cumple_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "categoria_completa",
              "displayName": "categoria_completa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tiene_asesor",
              "displayName": "tiene_asesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre_asesor",
              "displayName": "nombre_asesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_asesor",
              "displayName": "telefono_asesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "charla_elegida",
              "displayName": "charla_elegida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "derivado_a",
              "displayName": "derivado_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "distrito_propiedad",
              "displayName": "distrito_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "zona_interes",
              "displayName": "zona_interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "edificio_actual",
              "displayName": "edificio_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "resumen_conversacion",
              "displayName": "resumen_conversacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tuvo_error",
              "displayName": "tuvo_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_error",
              "displayName": "detalle_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_marcado",
              "displayName": "error_marcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado_correccion",
              "displayName": "estado_correccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "caso_especial",
              "displayName": "caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_caso_especial",
              "displayName": "detalle_caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estatus_embudo",
              "displayName": "estatus_embudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_respondio",
              "displayName": "bot_respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_apagado_manual",
              "displayName": "bot_apagado_manual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "categoria_interes",
              "displayName": "categoria_interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "grupo_etapa",
              "displayName": "grupo_etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "orden_etapa",
              "displayName": "orden_etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        1232
      ],
      "id": "66707c8b-0c09-4ae0-b9c0-096370afea31",
      "name": "Postgres Upsert1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1168,
        336
      ],
      "id": "97da81a2-d734-4997-b7f1-0bc5538ee39f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads/pipelines/11240224/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -944,
        336
      ],
      "id": "61239bf4-7154-425e-96aa-f0ec0ebd0cf2",
      "name": "Get Statuses",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts"
            },
            {
              "name": "filter[created_at][from]",
              "value": "={{ Math.floor((new Date(new Date($now).setHours(0,0,0,0)).getTime() - 45*24*60*60*1000) / 1000) }}"
            },
            {
              "name": "filter[created_at][to]",
              "value": "={{ Math.floor(new Date(new Date($now).setHours(0,0,0,0) + 48*60*60*1000).getTime() / 1000) }}"
            },
            {
              "name": "filter[pipeline_id][]",
              "value": "11240224"
            },
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body?._links?.next?.href }}",
              "limitPagesFetched": true,
              "maxRequests": 50
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -720,
        336
      ],
      "id": "7bb058ed-9466-4a6c-be92-fbcac45268ac",
      "name": "Get Leads",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "_embedded.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -496,
        336
      ],
      "id": "9a5bece5-52c1-4fbd-93dc-6788f67f9aa9",
      "name": "Split Leads"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json._embedded.tags.map(t => t.name).join(',') }}",
              "rightValue": "RENTAS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "leftValue": "={{ $json._embedded.contacts?.[0]?.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -272,
        336
      ],
      "id": "0f9cf196-06cf-4260-ae50-fee74259778a",
      "name": "Filter RENTAS"
    },
    {
      "parameters": {
        "jsCode": "// Transform Lead Data for matching and output\nconst statuses = $('Get Statuses').first().json._embedded?.statuses || [];\n\nfunction getCF(lead, fieldName) {\n  const cf = (lead.custom_fields_values || []).find(x => x.field_name === fieldName);\n  return (cf && cf.values && cf.values[0]) ? cf.values[0].value : null;\n}\nfunction getCFBool(lead, fieldName) {\n  const val = getCF(lead, fieldName);\n  return (val === true || val === 1 || val === '1') ? 1 : 0;\n}\nfunction getStatusName(statusId) {\n  const hit = statuses.find(s => String(s.id) === String(statusId));\n  return hit?.name || '';\n}\nfunction unixToISO(unix) {\n  if (!unix) return null;\n  return new Date(unix * 1000).toISOString().replace('T', ' ').substring(0, 19);\n}\nfunction getMonday(dateStr) {\n  const d = new Date(dateStr);\n  const day = d.getDay();\n  const diff = (day === 0 ? -6 : 1) - day;\n  d.setDate(d.getDate() + diff);\n  return d.toISOString().split('T')[0];\n}\nfunction truncate(str, maxLength) {\n  if (!str) return null;\n  const s = String(str);\n  return s.length <= maxLength ? s : s.substring(0, maxLength);\n}\n\nreturn items.map(item => {\n  const lead = item.json;\n  \n  const codInmueble = getCF(lead, 'codigoInmueble');\n  const codPropiedad = getCF(lead, 'n8n - CODPROPIEDAD');\n  const codPropiedadLogico = getCF(lead, 'n8n - codpropiedad logico');\n  const codUnificadoRaw = codInmueble || codPropiedad || codPropiedadLogico || null;\n  let codUnificado = codUnificadoRaw;\n  if (codUnificadoRaw && String(codUnificadoRaw).toUpperCase().includes('MODO')) {\n    codUnificado = 'MODO';\n  }\n\n  const origenForm = getCF(lead, 'n8n - origen - form');\n  const origenOriginal = getCF(lead, 'n8n - Origen');\n  const linkUrbania = getCF(lead, 'LinkUrbania');\n  let origenUnificado = origenForm ? origenForm : (linkUrbania ? 'URBANIA' : (origenOriginal || 'SIN_ORIGEN'));\n\n  const fecha1 = getCF(lead, 'n8n - fecha1');\n  const fecha2 = getCF(lead, 'n8n - fecha2');\n  const fechaModo = getCF(lead, 'n8n - fechaMODO');\n  const dioHorario = (fecha1 || fecha2 || fechaModo) ? 1 : 0;\n\n  const fechaCreacionUnix = lead.created_at;\n  const fechaCreacion = unixToISO(fechaCreacionUnix);\n  const fechaDia = fechaCreacion ? fechaCreacion.substring(0, 10) : null;\n  const fechaMes = fechaDia ? fechaDia.substring(0, 7) + '-01' : null;\n  const fechaSemana = fechaCreacion ? getMonday(fechaCreacion) : null;\n\n  const tipoCliente = getCF(lead, 'n8n - TipoCliente');\n  const esNuevo = (tipoCliente === 'NUEVO') ? 1 : 0;\n  \n  const casoEspecialCampo = getCFBool(lead, 'n8n - supp - caso_especial');\n  const casoEspecialStatus = (lead.status_id === 90801084) ? 1 : 0;\n  const casoEspecial = (casoEspecialCampo || casoEspecialStatus) ? 1 : 0;\n\n  return {\n    json: {\n      lead_id: lead.id,\n      id: lead.id,\n      status_id: lead.status_id,\n      etapa: truncate(getStatusName(lead.status_id), 50),\n      fecha_creacion: fechaCreacion,\n      cod_inmueble: truncate(codInmueble, 50),\n      cod_propiedad: truncate(codPropiedad, 50),\n      cod_propiedad_logico: truncate(codPropiedadLogico, 50),\n      cod_propiedad_unificado: truncate(codUnificado, 50),\n      inmueble_identificado: codUnificadoRaw ? 1 : 0,\n      link_urbania: truncate(linkUrbania, 255),\n      origen_form: truncate(origenForm, 50),\n      origen_original: truncate(origenOriginal, 50),\n      origen: truncate(origenUnificado, 50),\n      bot_respondio: getCFBool(lead, 'rentas_mensajeia_salio'),\n      bot_apagado_manual: getCFBool(lead, 'rentas_bot_apagado_manual'),\n      bot_fecha_ult_msg: getCF(lead, 'bot - fecha_ult_msg'),\n      dio_horario: dioHorario,\n      genero_horario: getCFBool(lead, 'rentas_ia_generohorario'),\n      horario_registrado: getCFBool(lead, 'rentas_ia_generohorario_registrado'),\n      horario_notificado: getCFBool(lead, 'rentas_ia_generohorario_notificado'),\n      fecha1: truncate(fecha1, 50),\n      fecha2: truncate(fecha2, 50),\n      fecha_modo: truncate(fechaModo, 50),\n      tuvo_error: getCFBool(lead, 'n8n - supp - es_error'),\n      detalle_error: truncate(getCF(lead, 'n8n - supp - detalle_es_error'), 255),\n      error_marcado: getCFBool(lead, 'rentas_error_marcado'),\n      estado_correccion: truncate(getCF(lead, 'n8n - corregido'), 50) || 'N/A',\n      detalle_correccion: truncate(getCF(lead, 'n8n - detalle corregido'), 255),\n      caso_especial: casoEspecial,\n      detalle_caso_especial: truncate(getCF(lead, 'n8n - supp - detalle_caso_especial'), 255),\n      seg1: truncate(getCF(lead, 'n8n - supp - seg1'), 50),\n      seg2: truncate(getCF(lead, 'n8n - supp - seg2'), 50),\n      animo: truncate(getCF(lead, 'n8n - animo') || getCF(lead, 'n8n - supp - animo'), 50),\n      tiene_solucion: getCFBool(lead, 'n8n - supp - tiene_solucion'),\n      cliente_identificado: getCFBool(lead, 'n8n - supp - clienteIdentificado'),\n      tipo_cliente: truncate(tipoCliente, 50),\n      es_nuevo: esNuevo,\n      fecha_dia: fechaDia,\n      fecha_semana: fechaSemana,\n      fecha_mes: fechaMes,\n      contact_id_ref: lead._embedded?.contacts?.[0]?.id\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        336
      ],
      "id": "ed58cbad-1171-4c37-a23c-e7a6bc772e4e",
      "name": "Extract Lead Info"
    },
    {
      "parameters": {
        "jsCode": "// Create batches of contact IDs to fetch\nconst BATCH_SIZE = 100;\nconst contactIds = [...new Set(items.map(item => item.json.contact_id_ref).filter(id => id))];\n\nconst batches = [];\nfor (let i = 0; i < contactIds.length; i += BATCH_SIZE) {\n  const chunk = contactIds.slice(i, i + BATCH_SIZE);\n  const contactIdsStr = chunk.map(id => `filter[id][]=${id}`).join('&');\n\n  if (contactIdsStr) {\n    batches.push({\n      json: {\n        batch_index: batches.length,\n        contact_ids_query: contactIdsStr\n      }\n    });\n  }\n}\n\nreturn batches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        416
      ],
      "id": "db0aa2fd-b75c-4113-b6d7-c05659f3ea40",
      "name": "Batch Contact IDs"
    },
    {
      "parameters": {
        "url": "=https://propertamibotcom.kommo.com/api/v4/contacts?{{ $json.contact_ids_query }}&with=leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1500
            }
          },
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        416
      ],
      "id": "8a23e1e0-2ef1-4a30-9270-ca507539c480",
      "name": "Get Contacts Batch",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of items) {\n  const contacts = item.json._embedded?.contacts || [];\n  for (const contact of contacts) {\n    let contactName = contact.name || null;\n    if (!contactName) {\n      const firstName = contact.first_name || '';\n      const lastName = contact.last_name || '';\n      contactName = [firstName, lastName].filter(Boolean).join(' ').trim() || null;\n    }\n    \n    const fields = contact.custom_fields_values || [];\n    const phoneField = fields.find(f => f.field_code === 'PHONE');\n    const phone = phoneField?.values?.[0]?.value || null;\n    \n    const associatedLeads = contact._embedded?.leads || [];\n    for (const leadRef of associatedLeads) {\n      results.push({\n        json: {\n          lead_id: leadRef.id,\n          nombre: contactName,\n          telefono: phone\n        }\n      });\n    }\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        416
      ],
      "id": "c7e0925f-ba74-4000-b4d0-d4427e941077",
      "name": "Extract Contact Info"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "lead_id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        848,
        336
      ],
      "id": "28acef8b-abbc-4485-8c8b-006e021d1158",
      "name": "Merge All"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "crm",
          "mode": "list",
          "cachedResultName": "crm"
        },
        "table": {
          "__rl": true,
          "value": "bot_leads_david",
          "mode": "list",
          "cachedResultName": "bot_leads_david"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nombre": "={{ $json.nombre }}",
            "telefono": "={{ $json.telefono }}",
            "origen": "={{ $json.origen }}",
            "etapa": "={{ $json.etapa }}",
            "fecha1": "={{ $json.fecha1 }}",
            "fecha2": "={{ $json.fecha2 }}",
            "fecha_modo": "={{ $json.fecha_modo }}",
            "dio_horario": "={{ $json.dio_horario }}",
            "inmueble_identificado": "={{ $json.inmueble_identificado }}",
            "caso_especial": "={{ $json.caso_especial }}",
            "fecha_mes": "={{ $json.fecha_mes }}",
            "fecha_dia": "={{ $json.fecha_dia }}",
            "fecha_semana": "={{ $json.fecha_semana }}",
            "tipo_cliente": "={{ $json.tipo_cliente }}",
            "es_nuevo": "={{ $json.es_nuevo }}",
            "cliente_identificado": "={{ $json.cliente_identificado }}",
            "tiene_solucion": "={{ $json.tiene_solucion }}",
            "error_marcado": "={{ $json.error_marcado }}",
            "fecha_creacion": "={{ $json.fecha_creacion }}",
            "status_id": "={{ $json.status_id }}",
            "cod_inmueble": "={{ $json.cod_inmueble }}",
            "cod_propiedad": "={{ $json.cod_propiedad }}",
            "cod_propiedad_unificado": "={{ $json.cod_propiedad_unificado }}",
            "link_urbania": "={{ $json.link_urbania }}",
            "bot_respondio": "={{ $json.bot_respondio }}",
            "bot_apagado_manual": "={{ $json.bot_apagado_manual }}",
            "bot_fecha_ult_msg": "={{ $json.bot_fecha_ult_msg }}",
            "genero_horario": "={{ $json.genero_horario }}",
            "horario_registrado": "={{ $json.horario_registrado }}",
            "horario_notificado": "={{ $json.horario_notificado }}",
            "tuvo_error": "={{ $json.tuvo_error }}",
            "detalle_error": "={{ $json.detalle_error }}",
            "estado_correccion": "={{ $json.estado_correccion }}",
            "detalle_correccion": "={{ $json.detalle_correccion }}",
            "detalle_caso_especial": "={{ $json.detalle_caso_especial }}",
            "seg2": "={{ $json.seg2 }}",
            "animo": "={{ $json.animo }}",
            "codpropiedad_logico": "={{ $json.cod_propiedad_logico }}",
            "origen_form": "={{ $json.origen_form }}",
            "origen_original": "={{ $json.origen_original }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_id",
              "displayName": "status_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cod_inmueble",
              "displayName": "cod_inmueble",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cod_propiedad",
              "displayName": "cod_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cod_propiedad_unificado",
              "displayName": "cod_propiedad_unificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "inmueble_identificado",
              "displayName": "inmueble_identificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "link_urbania",
              "displayName": "link_urbania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_respondio",
              "displayName": "bot_respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_apagado_manual",
              "displayName": "bot_apagado_manual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_fecha_ult_msg",
              "displayName": "bot_fecha_ult_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "dio_horario",
              "displayName": "dio_horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "genero_horario",
              "displayName": "genero_horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "horario_registrado",
              "displayName": "horario_registrado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "horario_notificado",
              "displayName": "horario_notificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha1",
              "displayName": "fecha1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha2",
              "displayName": "fecha2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_modo",
              "displayName": "fecha_modo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tuvo_error",
              "displayName": "tuvo_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_error",
              "displayName": "detalle_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_marcado",
              "displayName": "error_marcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado_correccion",
              "displayName": "estado_correccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_correccion",
              "displayName": "detalle_correccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "caso_especial",
              "displayName": "caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_caso_especial",
              "displayName": "detalle_caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "seg1",
              "displayName": "seg1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "seg2",
              "displayName": "seg2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "animo",
              "displayName": "animo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tiene_solucion",
              "displayName": "tiene_solucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "cliente_identificado",
              "displayName": "cliente_identificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "es_nuevo",
              "displayName": "es_nuevo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_dia",
              "displayName": "fecha_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_semana",
              "displayName": "fecha_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_mes",
              "displayName": "fecha_mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "codpropiedad_logico",
              "displayName": "codpropiedad_logico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "origen_form",
              "displayName": "origen_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "origen_original",
              "displayName": "origen_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1072,
        336
      ],
      "id": "a3168777-3905-4551-9bac-a6ed79f0ebe7",
      "name": "Upsert Postgres",
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600
  },
  "shared": [
    {
      "createdAt": "2025-09-23T04:15:40.700Z",
      "updatedAt": "2025-09-23T04:15:40.700Z",
      "role": "workflow:owner",
      "workflowId": "yWrQu0MbLsFrR6s2",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-08-01T18:41:06.465Z",
      "updatedAt": "2025-08-01T18:41:06.465Z",
      "id": "94z6tcDoVU8DriEW",
      "name": "IA"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2026-02-05T16:04:38.541Z",
  "versionId": "961b6991-6cf2-45c3-88e5-5d0dd570bec0"
}