workflows/IA/yWrQu0MbLsFrR6s2.json
{
  "active": true,
  "connections": {
    "Split Out1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get list of contacts": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get list of contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request Statuses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get list of contacts2": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Get list of contacts2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Statuses": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Sort by Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date": {
      "main": [
        [
          {
            "node": "Filter DIEGO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter DIEGO": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "main": [
        [
          {
            "node": "If Phone Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Phone Exists": {
      "main": [
        [
          {
            "node": "Code Diego",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Diego": {
      "main": [
        [
          {
            "node": "Postgres Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "HTTP Request Statuses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Statuses1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Leads": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter INVERSIONES_IA": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Inversiones": {
      "main": [
        [
          {
            "node": "Postgres Upsert1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "HTTP Request Statuses2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Statuses2": {
      "main": [
        [
          {
            "node": "HTTP Request Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Sort by Date1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date1": {
      "main": [
        [
          {
            "node": "Filter INVERSIONES_IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [],
        [
          {
            "node": "Get Contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact1": {
      "main": [
        [
          {
            "node": "If Phone Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Phone Exists1": {
      "main": [
        [
          {
            "node": "Code Inversiones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Upsert1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-23T04:15:40.700Z",
  "id": "yWrQu0MbLsFrR6s2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "IA REPORT",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "=_embedded.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -304,
        528
      ],
      "id": "016e8895-6f3a-44cb-98e5-db27dd41fdf7",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2504f489-361c-447f-93c2-2e867ae0c54f",
              "leftValue": "={{ $json._embedded.tags.toJsonString() }}",
              "rightValue": "RENTAS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7972cc23-970e-40a7-9973-5f70f5d42a25",
              "leftValue": "={{ $json._embedded.contacts[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        144,
        528
      ],
      "id": "73bb32d5-058b-41b9-ab8a-34a2fee7a7ff",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "longLivedToken",
        "resource": "contacts",
        "filter": {
          "id": "={{ $('Split Out1').item.json._embedded.contacts[0].id }}"
        },
        "options": {
          "with": [
            "leads"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        592,
        384
      ],
      "id": "2c8ecad3-06b7-4f1b-914d-1142cbfd32cc",
      "name": "Get list of contacts",
      "credentials": {
        "kommoLongLivedApi": {
          "id": "20bzHfzuZvuDPmtm",
          "name": "Kommo Long Lived Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        528
      ],
      "id": "f270d9f4-cbda-44c1-a100-6f3e18aa05ba",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cd639ed-d911-486c-8770-5fbe6f7e9670",
              "name": "etapa",
              "value": "={{\n  (() => {\n    const statuses = $('HTTP Request Statuses').item.json?._embedded?.statuses ?? [];\n    const statusId = $('Split Out1').item.json.status_id;\n    const hit = statuses.find(s => String(s.id) === String(statusId));\n    return hit?.name || '';\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        384
      ],
      "id": "7a80d4b8-60dc-4832-a1de-57982043ee9c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "crm",
          "mode": "list",
          "cachedResultName": "crm"
        },
        "table": {
          "__rl": true,
          "value": "bot_leads_david",
          "mode": "list",
          "cachedResultName": "bot_leads_david"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nombre": "={{ $json.nombre }}",
            "telefono": "={{ $json.telefono }}",
            "origen": "={{ $json.origen }}",
            "etapa": "={{ $json.etapa }}",
            "fecha1": "={{ $json.fecha1 }}",
            "fecha2": "={{ $json.fecha2 }}",
            "fecha_modo": "={{ $json.fecha_modo }}",
            "dio_horario": "={{ $json.dio_horario }}",
            "inmueble_identificado": "={{ $json.inmueble_identificado }}",
            "caso_especial": "={{ $json.caso_especial }}",
            "fecha_mes": "={{ $json.fecha_mes }}",
            "fecha_dia": "={{ $json.fecha_dia }}",
            "fecha_semana": "={{ $json.fecha_semana }}",
            "tipo_cliente": "={{ $json.tipo_cliente }}",
            "es_nuevo": "={{ $json.es_nuevo }}",
            "cliente_identificado": "={{ $json.cliente_identificado }}",
            "tiene_solucion": "={{ $json.tiene_solucion }}",
            "error_marcado": "={{ $json.error_marcado }}",
            "fecha_creacion": "={{ $json.fecha_creacion }}",
            "status_id": "={{ $json.status_id }}",
            "cod_inmueble": "={{ $json.cod_inmueble }}",
            "cod_propiedad": "={{ $json.cod_propiedad }}",
            "cod_propiedad_unificado": "={{ ($json.cod_propiedad_unificado ?? '').toString().slice(0, 20) }}",
            "link_urbania": "={{ $json.link_urbania }}",
            "bot_respondio": "={{ $json.bot_respondio }}",
            "bot_apagado_manual": "={{ $json.bot_apagado_manual }}",
            "bot_fecha_ult_msg": "={{ $json.bot_fecha_ult_msg }}",
            "genero_horario": "={{ $json.genero_horario }}",
            "horario_registrado": "={{ $json.horario_registrado }}",
            "horario_notificado": "={{ $json.horario_notificado }}",
            "tuvo_error": "={{ $json.tuvo_error }}",
            "detalle_error": "={{ $json.detalle_error }}",
            "estado_correccion": "={{ $json.estado_correccion }}",
            "detalle_correccion": "={{ $json.detalle_correccion }}",
            "detalle_caso_especial": "={{ $json.detalle_caso_especial }}",
            "seg1": "={{ $json.seg1 }}",
            "seg2": "={{ $json.seg2 }}",
            "animo": "={{ $json.animo }}",
            "codpropiedad_logico": "={{ ($json.cod_propiedad_logico ?? '').toString().slice(0, 20) }}",
            "origen_form": "={{ $json.origen_form }}",
            "origen_original": "={{ $json.origen_original }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status_id",
              "displayName": "status_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cod_inmueble",
              "displayName": "cod_inmueble",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cod_propiedad",
              "displayName": "cod_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cod_propiedad_unificado",
              "displayName": "cod_propiedad_unificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "inmueble_identificado",
              "displayName": "inmueble_identificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "link_urbania",
              "displayName": "link_urbania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_respondio",
              "displayName": "bot_respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "bot_apagado_manual",
              "displayName": "bot_apagado_manual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "bot_fecha_ult_msg",
              "displayName": "bot_fecha_ult_msg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "dio_horario",
              "displayName": "dio_horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "genero_horario",
              "displayName": "genero_horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "horario_registrado",
              "displayName": "horario_registrado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "horario_notificado",
              "displayName": "horario_notificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "fecha1",
              "displayName": "fecha1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "fecha2",
              "displayName": "fecha2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "fecha_modo",
              "displayName": "fecha_modo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tuvo_error",
              "displayName": "tuvo_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "detalle_error",
              "displayName": "detalle_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "error_marcado",
              "displayName": "error_marcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "estado_correccion",
              "displayName": "estado_correccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "detalle_correccion",
              "displayName": "detalle_correccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "caso_especial",
              "displayName": "caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "detalle_caso_especial",
              "displayName": "detalle_caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "seg1",
              "displayName": "seg1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "seg2",
              "displayName": "seg2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "animo",
              "displayName": "animo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tiene_solucion",
              "displayName": "tiene_solucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "cliente_identificado",
              "displayName": "cliente_identificado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "es_nuevo",
              "displayName": "es_nuevo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "fecha_dia",
              "displayName": "fecha_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "fecha_semana",
              "displayName": "fecha_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "fecha_mes",
              "displayName": "fecha_mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "codpropiedad_logico",
              "displayName": "codpropiedad_logico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "origen_form",
              "displayName": "origen_form",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "origen_original",
              "displayName": "origen_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1712,
        464
      ],
      "id": "1a8576e0-7c93-404f-b24b-c2333a33c8fb",
      "name": "Insert or update rows in a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        528
      ],
      "id": "1182f8b0-7f44-4b99-bbfa-03684c311629",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "=https://propertamibotcom.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts"
            },
            {
              "name": "filter[created_at][from]",
              "value": "1767243600"
            },
            {
              "name": "filter[created_at][to]",
              "value": "={{ Math.floor(new Date(new Date($now).setHours(0,0,0,0) + 48*60*60*1000).getTime() / 1000) }}"
            },
            {
              "name": "filter[pipeline_id][]",
              "value": "11240224"
            },
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body?._links?.next?.href }}",
              "limitPagesFetched": true,
              "maxRequests": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        528
      ],
      "id": "cbf10df5-5cd6-4377-8603-473438f969c5",
      "name": "HTTP Request2",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=_embedded.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -752,
        160
      ],
      "id": "15169c4f-5b2f-4d37-8239-9271f7e46bd4",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2504f489-361c-447f-93c2-2e867ae0c54f",
              "leftValue": "={{ $json._embedded.tags.toJsonString() }}",
              "rightValue": "DIEGO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7972cc23-970e-40a7-9973-5f70f5d42a25",
              "leftValue": "={{ $json._embedded.contacts[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -528,
        160
      ],
      "id": "3f3f3ae9-6919-42e8-b570-eb1e87c54534",
      "name": "Filter2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed4e7330-076f-4bc8-a9fe-655965921e07",
              "name": "nombre",
              "value": "={{ $('Get list of contacts2').item.json._embedded.contacts[0].name }}",
              "type": "string"
            },
            {
              "id": "09d7ed93-7735-4993-b380-9e4529016f0d",
              "name": "telefono",
              "value": "={{ $('Get list of contacts2').item.json._embedded.contacts[0].custom_fields_values\n     .find(f => f.field_name === 'Phone')?.values?.[0]?.value || '' }}",
              "type": "string"
            },
            {
              "id": "830bdbe1-696d-4a85-9e28-7912409b356e",
              "name": "fechaCreacion",
              "value": "={{ $('Split Out2').item.json.created_at }}",
              "type": "string"
            },
            {
              "id": "90859fd1-3a39-4eba-89e5-47c1e46d998d",
              "name": "statusID",
              "value": "={{ $('Split Out2').item.json.status_id }}",
              "type": "string"
            },
            {
              "id": "921a1934-e048-4b53-b493-15ed624117d1",
              "name": "idKommo",
              "value": "={{ $('Split Out2').item.json.id }}",
              "type": "string"
            },
            {
              "id": "02b2ae1b-ec65-420d-88c7-f0edf9038110",
              "name": "origen",
              "value": "={{ \n  (()=>{\n    const lead = $('Split Out2').item.json;\n    const cf = (lead.custom_fields_values || []).find(x => x.field_name === 'n8n - diego - origen');\n    return (cf && cf.values && cf.values[0]) ? cf.values[0].value : '';\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "1ffd7449-5232-40fd-8fe0-5b6520736d1f",
              "name": "etapa",
              "value": "={{ $('Edit Fields6').item.json.etapa }}",
              "type": "string"
            },
            {
              "id": "1d19dd78-6a98-45db-81d4-f21b72c4bff1",
              "name": "fecha1",
              "value": "={{   (()=>{     const lead = $('Split Out2').item.json;     const cf = (lead.custom_fields_values || []).find(x => x.field_name === 'n8n - diego - fecha1');     return (cf && cf.values && cf.values[0]) ? cf.values[0].value : '';   })() }}",
              "type": "string"
            },
            {
              "id": "e98d67b2-6626-41d7-9312-07ef8e399d31",
              "name": "fecha2",
              "value": "={{   (()=>{     const lead = $('Split Out2').item.json;     const cf = (lead.custom_fields_values || []).find(x => x.field_name === 'n8n - diego - fecha2');     return (cf && cf.values && cf.values[0]) ? cf.values[0].value : '';   })() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        16
      ],
      "id": "fe502faa-cfb4-4aa3-b5d3-b4623cedf787",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "authentication": "longLivedToken",
        "resource": "contacts",
        "filter": {
          "id": "={{ $('Split Out2').item.json._embedded.contacts[0].id }}"
        },
        "options": {
          "with": [
            "leads"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        -80,
        16
      ],
      "id": "eb090aea-c8e2-4966-8fb3-6a6725316a1f",
      "name": "Get list of contacts2",
      "credentials": {
        "kommoLongLivedApi": {
          "id": "20bzHfzuZvuDPmtm",
          "name": "Kommo Long Lived Token account"
        }
      }
    },
    {
      "parameters": {
        "url": " https://propertamibotcom.kommo.com/api/v4/leads/pipelines/9165176/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        16
      ],
      "id": "c69119fc-a134-4879-88af-131e3b478dcc",
      "name": "HTTP Request4",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        160
      ],
      "id": "4c1c2f05-8e1f-4529-a421-9fb1026221d2",
      "name": "Loop Over Items2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cd639ed-d911-486c-8770-5fbe6f7e9670",
              "name": "etapa",
              "value": "={{\n  (() => {\n    const statuses = $('HTTP Request4').item.json?._embedded?.statuses ?? [];\n    const statusId = $('Split Out2').item.json.status_id;\n    const hit = statuses.find(s => String(s.id) === String(statusId));\n    return hit?.name || '';\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        16
      ],
      "id": "e915282a-6dc1-4a24-a41e-1223d827a864",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "crm",
          "mode": "list",
          "cachedResultName": "crm"
        },
        "table": {
          "__rl": true,
          "value": "reporte_diego_ia",
          "mode": "list",
          "cachedResultName": "reporte_diego_ia"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dio_horario": "={{ $json.dio_horario }}",
            "agendo_llamada": "={{ $json.agendo_visita }}",
            "realizo_llamada": "=0",
            "id": "={{ $('Edit Fields5').item.json.idKommo }}",
            "nombre": "={{ $('Edit Fields5').item.json.nombre }}",
            "telefono": "={{ $('Edit Fields5').item.json.telefono }}",
            "fecha_creacion": "={{ new Date($('Edit Fields5').item.json.fechaCreacion * 1000).toISOString().replace('T',' ').substring(0,19) }}",
            "nc_order": 0,
            "status_id": "={{ $('Edit Fields5').item.json.statusID }}",
            "id_kommo": "={{ $('Edit Fields5').item.json.idKommo }}",
            "origen": "={{ $('Edit Fields5').item.json.origen }}",
            "etapa": "={{ $('Edit Fields6').item.json.etapa }}",
            "fecha1": "={{ $('Edit Fields5').item.json.fecha1 }}",
            "fecha2": "={{ $('Edit Fields5').item.json.fecha2 }}",
            "caso_especial": "={{ $json.caso_especial }}",
            "fecha_dia": "={{ $json.fecha_dia }}",
            "fecha_mes": "={{ $json.fecha_mes }}",
            "fecha_semana": "={{ $json.fecha_semana }}",
            "es_nuevo": "={{ $json.es_nuevo }}",
            "tipo_cliente": "={{ $json.tipo_cliente }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "updated_by",
              "displayName": "updated_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nc_order",
              "displayName": "nc_order",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_id",
              "displayName": "status_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "id_kommo",
              "displayName": "id_kommo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha1",
              "displayName": "fecha1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha2",
              "displayName": "fecha2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "dio_horario",
              "displayName": "dio_horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "agendo_llamada",
              "displayName": "agendo_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "realizo_llamada",
              "displayName": "realizo_llamada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_dia",
              "displayName": "fecha_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_semana",
              "displayName": "fecha_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_mes",
              "displayName": "fecha_mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "caso_especial",
              "displayName": "caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "es_nuevo",
              "displayName": "es_nuevo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1488,
        96
      ],
      "id": "e2f9cd0e-cbdb-45af-9650-8c048784ea46",
      "name": "Insert or update rows in a table2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts"
            },
            {
              "name": "filter[created_at][from]",
              "value": "1756702800"
            },
            {
              "name": "filter[created_at][to]",
              "value": "={{ Math.floor(new Date(new Date($now).setHours(0,0,0,0) + 24*60*60*1000).getTime() / 1000) }}"
            },
            {
              "name": "filter[pipeline_id][]",
              "value": "9165176"
            },
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body?._links?.next?.href }}",
              "limitPagesFetched": true,
              "maxRequests": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -976,
        160
      ],
      "id": "bb4b01a9-b4e4-4a90-a5c2-de1edf1a5d2a",
      "name": "HTTP Request5",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e1bb824-6e86-4bd3-9268-334c0aa98eb5",
              "name": "dio_horario",
              "value": "={{ ($('Edit Fields5').item.json.fecha1?.trim() || $('Edit Fields5').item.json.fecha2?.trim()) ? 1 : 0 }}",
              "type": "string"
            },
            {
              "id": "bd372d99-89ae-4496-bdbf-314005ef08e0",
              "name": "agendo_visita",
              "value": "={{ $('Execute a SQL query3').item.json.existe_en_visitas ? 1 : 0 }}",
              "type": "boolean"
            },
            {
              "id": "4f38fa84-0d64-4c5c-b21d-3dc7f6537c70",
              "name": "fecha_dia",
              "value": "={{ new Date($('Edit Fields5').item.json.fechaCreacion * 1000).toISOString().slice(0, 10) }}",
              "type": "string"
            },
            {
              "id": "2384ba2c-ab71-4a04-a800-2758c608a5c9",
              "name": "fecha_mes",
              "value": "={{ new Date($('Edit Fields5').item.json.fechaCreacion * 1000).toISOString().split('T')[0].slice(0,7) + \"-01\" }}",
              "type": "string"
            },
            {
              "id": "49900d16-c092-4124-99c9-45e066f7dcdb",
              "name": "caso_especial",
              "value": "={{ $('Edit Fields5').item.json.statusID === \"92821236\" ? 1 : 0 }}",
              "type": "string"
            },
            {
              "id": "297a8f5c-4972-4930-a9cd-71f9c66783d3",
              "name": "fecha_semana",
              "value": "={{\n  (() => {\n    const d = new Date($('Edit Fields5').item.json.fechaCreacion * 1000);\n    const day = d.getDay(); // domingo=0, lunes=1, ..., sbado=6\n    const diff = (day === 0 ? -6 : 1) - day; // retroceder hasta lunes\n    d.setDate(d.getDate() + diff);\n    d.setHours(0, 0, 0, 0);\n    return d.toISOString().split('T')[0]; // YYYY-MM-DD\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "357bb785-faae-4baf-970b-bb883d9b668d",
              "name": "tipo_cliente",
              "value": "={{   (     ($('Split Out2').item.json.custom_fields_values || [])       .find(x => x.field_name === 'n8n - TipoCliente')       ?.values[0].value   ) || '' }}",
              "type": "string"
            },
            {
              "id": "610993e3-e67e-4189-8132-fdb92d517f0c",
              "name": "es_nuevo",
              "value": "={{   (     (       ($('Split Out2').item.json.custom_fields_values || [])         .find(x => x.field_name === 'n8n - TipoCliente')         ?.values[0].value     ) === 'NUEVO'   ) ? 1 : 0 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        16
      ],
      "id": "e8e58b78-1358-4cd9-9c6a-eb31f0bcda46",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH num AS (\n  -- Normaliza el nmero de entrada: solo dgitos y ltimos 9\n  SELECT RIGHT(REGEXP_REPLACE($1, '\\D', '', 'g'), 9) AS n\n),\nvis AS (\n  -- Normaliza todos los celulares de la tabla\n  SELECT\n    v.*,\n    RIGHT(REGEXP_REPLACE(COALESCE(v.celular, ''), '\\D', '', 'g'), 9) AS cel9\n  FROM RENTAS_CRM.VISITAS v\n),\nhits AS (\n  -- Coincidencias por celular normalizado (evita vacos)\n  SELECT 1\n  FROM vis\n  JOIN num ON vis.cel9 = num.n\n  WHERE vis.cel9 <> ''\n),\nhits_con_inicio AS (\n  SELECT 1\n  FROM vis\n  JOIN num ON vis.cel9 = num.n\n  WHERE vis.cel9 <> '' AND vis.inicio IS NOT NULL\n)\nSELECT\n  EXISTS(SELECT 1 FROM hits)           AS existe_en_visitas,\n  EXISTS(SELECT 1 FROM hits_con_inicio) AS tiene_inicio;",
        "options": {
          "queryReplacement": "={{ $('Edit Fields5').item.json.telefono }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        16
      ],
      "id": "9c347da1-a0a2-4986-a2c2-12bf4515fece",
      "name": "Execute a SQL query3",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "add02cca-2660-4c19-a042-f1a71ff7e63b",
              "leftValue": "={{ $('Get list of contacts2').item.json._embedded.contacts[0].custom_fields_values\n     .find(f => f.field_name === 'Phone')?.values?.[0]?.value || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        16
      ],
      "id": "fd180090-52e5-428a-afd3-34ee8ddba466",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "add02cca-2660-4c19-a042-f1a71ff7e63b",
              "leftValue": "={{ $('Get list of contacts').item.json._embedded.contacts[0].custom_fields_values\n     .find(f => f.field_name === 'Phone')?.values?.[0]?.value || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        384
      ],
      "id": "7a44fce1-167a-41ae-a6cf-a59c5aa45a6f",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- =============================================\n-- TABLA SIMPLIFICADA - Solo datos de Kommo\n-- =============================================\n\nCREATE TABLE IF NOT EXISTS crm.bot_leads_david (\n    -- === IDENTIFICADORES ===\n    id BIGINT PRIMARY KEY,\n    \n    -- === DATOS BSICOS ===\n    nombre VARCHAR(255),\n    telefono VARCHAR(50),\n    fecha_creacion TIMESTAMP,\n    status_id INTEGER,\n    etapa VARCHAR(100),\n    \n    -- === PROPIEDAD ===\n    cod_inmueble VARCHAR(50),\n    cod_propiedad VARCHAR(50),\n    cod_propiedad_unificado VARCHAR(50),\n    inmueble_identificado SMALLINT DEFAULT 0,\n    link_urbania TEXT,\n    \n    -- === ORIGEN ===\n    origen VARCHAR(30),\n    \n    -- === BOT - RESPUESTA ===\n    bot_respondio SMALLINT DEFAULT 0,\n    bot_apagado_manual SMALLINT DEFAULT 0,\n    bot_fecha_ult_msg TIMESTAMP,\n    \n    -- === BOT - HORARIOS ===\n    dio_horario SMALLINT DEFAULT 0,\n    genero_horario SMALLINT DEFAULT 0,\n    horario_registrado SMALLINT DEFAULT 0,\n    horario_notificado SMALLINT DEFAULT 0,\n    fecha1 VARCHAR(50),\n    fecha2 VARCHAR(50),\n    fecha_modo VARCHAR(50),\n    \n    -- === BOT - ERRORES ===\n    tuvo_error SMALLINT DEFAULT 0,\n    detalle_error TEXT,\n    error_marcado SMALLINT DEFAULT 0,\n    estado_correccion VARCHAR(20),\n    detalle_correccion TEXT,\n    \n    -- === BOT - CASO ESPECIAL ===\n    caso_especial SMALLINT DEFAULT 0,\n    detalle_caso_especial TEXT,\n    \n    -- === BOT - SEGUIMIENTO ===\n    seg1 TEXT,\n    seg2 TEXT,\n    animo VARCHAR(50),\n    tiene_solucion SMALLINT DEFAULT 0,\n    cliente_identificado SMALLINT DEFAULT 0,\n    \n    -- === CLIENTE ===\n    tipo_cliente VARCHAR(50),\n    es_nuevo SMALLINT DEFAULT 0,\n    \n    -- === FECHAS CALCULADAS ===\n    fecha_dia DATE,\n    fecha_semana DATE,\n    fecha_mes DATE,\n    \n    -- === METADATA ===\n    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP\n);\n\n-- ndices\nCREATE INDEX IF NOT EXISTS idx_bld_fecha ON crm.bot_leads_david(fecha_creacion);\nCREATE INDEX IF NOT EXISTS idx_bld_origen ON crm.bot_leads_david(origen);\nCREATE INDEX IF NOT EXISTS idx_bld_propiedad ON crm.bot_leads_david(cod_propiedad_unificado);\nCREATE INDEX IF NOT EXISTS idx_bld_error ON crm.bot_leads_david(tuvo_error);\nCREATE INDEX IF NOT EXISTS idx_bld_horario ON crm.bot_leads_david(genero_horario);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -976,
        -208
      ],
      "id": "4866244e-5e41-4bce-9c38-cf59173e2f97",
      "name": "Execute a SQL query7",
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// TRANSFORMACIN DE LEAD KOMMO  POSTGRESQL\n// ========================================\n\n// Obtener datos de los nodos correctos de TU flujo\nconst lead = $('Split Out1').item.json;\nconst statuses = $('HTTP Request Statuses').first().json._embedded?.statuses || [];\nconst contactData = $('Get list of contacts').first().json._embedded?.contacts?.[0] || {};\n\n// Funcin helper para obtener custom field del LEAD\nfunction getCF(fieldName) {\n  const cf = (lead.custom_fields_values || []).find(x => x.field_name === fieldName);\n  return (cf && cf.values && cf.values[0]) ? cf.values[0].value : null;\n}\n\n// Funcin helper para campos booleanos (toggle/checkbox)\nfunction getCFBool(fieldName) {\n  const val = getCF(fieldName);\n  return (val === true || val === 1 || val === '1') ? 1 : 0;\n}\n\n// Funcin para obtener telfono del contacto\nfunction getPhone() {\n  const phoneField = (contactData.custom_fields_values || []).find(f => f.field_name === 'Phone');\n  return phoneField?.values?.[0]?.value || null;\n}\n\n// Funcin para obtener nombre del status\nfunction getStatusName(statusId) {\n  const hit = statuses.find(s => String(s.id) === String(statusId));\n  return hit?.name || '';\n}\n\n// Funcin para parsear fecha Unix a ISO\nfunction unixToISO(unix) {\n  if (!unix) return null;\n  return new Date(unix * 1000).toISOString().replace('T', ' ').substring(0, 19);\n}\n\n// Funcin para calcular fecha del lunes de la semana\nfunction getMonday(date) {\n  const d = new Date(date);\n  const day = d.getDay();\n  const diff = (day === 0 ? -6 : 1) - day;\n  d.setDate(d.getDate() + diff);\n  return d.toISOString().split('T')[0];\n}\n\n// ========================================\n// EXTRACCIN DE CAMPOS\n// ========================================\n\n// Cdigos de propiedad\nconst codInmueble = getCF('codigoInmueble');\nconst codPropiedad = getCF('n8n - CODPROPIEDAD');\n\n// Extraer el campo lgico\nconst codPropiedadLogico = getCF('n8n - codpropiedad logico');\n\n// Lgica de unificacin:\n// Prioridad: 1. codInmueble, 2. codPropiedad, 3. codPropiedadLogico\nconst codUnificadoRaw = codInmueble || codPropiedad || codPropiedadLogico || null;\n\n// Normalizar MODO\nlet codUnificado = codUnificadoRaw;\nif (codUnificadoRaw && codUnificadoRaw.toString().toUpperCase().includes('MODO')) {\n  codUnificado = 'MODO';\n}\n\n// ========================================\n// LGICA DE ORIGEN - NUEVA IMPLEMENTACIN\n// ========================================\n\n// Extraer los campos individuales\nconst origenForm = getCF('n8n - origen - form');  // NUEVO campo\nconst origenOriginal = getCF('n8n - Origen');\nconst linkUrbania = getCF('LinkUrbania');\n\n// Lgica de priorizacin para origen_unificado:\n// 1. Si existe \"n8n - origen - form\", usar ese valor\n// 2. Si no, y existe LinkUrbania, usar 'URBANIA'\n// 3. Si no, usar \"n8n - Origen\"\n// 4. Por defecto: 'SIN_ORIGEN'\nlet origenUnificado;\nif (origenForm) {\n  origenUnificado = origenForm;\n} else if (linkUrbania) {\n  origenUnificado = 'URBANIA';\n} else {\n  origenUnificado = origenOriginal || 'SIN_ORIGEN';\n}\n\n// ========================================\n// CONTINUACIN - OTROS CAMPOS\n// ========================================\n\n// Fechas de horarios\nconst fecha1 = getCF('n8n - fecha1');\nconst fecha2 = getCF('n8n - fecha2');\nconst fechaModo = getCF('n8n - fechaMODO');\nconst dioHorario = (fecha1 || fecha2 || fechaModo) ? 1 : 0;\n\n// Fecha de creacin y derivadas\nconst fechaCreacionUnix = lead.created_at;\nconst fechaCreacion = unixToISO(fechaCreacionUnix);\nconst fechaDia = fechaCreacion ? fechaCreacion.substring(0, 10) : null;\nconst fechaMes = fechaDia ? fechaDia.substring(0, 7) + '-01' : null;\nconst fechaSemana = fechaCreacionUnix ? getMonday(new Date(fechaCreacionUnix * 1000)) : null;\n\n// Tipo cliente\nconst tipoCliente = getCF('n8n - TipoCliente');\nconst esNuevo = (tipoCliente === 'NUEVO') ? 1 : 0;\n\n// Caso especial: por campo O por status_id\nconst casoEspecialCampo = getCFBool('n8n - supp - caso_especial');\nconst casoEspecialStatus = (lead.status_id === 90801084) ? 1 : 0;\nconst casoEspecial = (casoEspecialCampo || casoEspecialStatus) ? 1 : 0;\n\n// ========================================\n// OBJETO FINAL\n// ========================================\n\nreturn {\n  json: {\n    // Identificadores\n    id: lead.id,\n    \n    // Datos bsicos\n    nombre: contactData.name || null,\n    telefono: getPhone(),\n    fecha_creacion: fechaCreacion,\n    status_id: lead.status_id,\n    etapa: getStatusName(lead.status_id),\n    \n    // Propiedad\n    cod_inmueble: codInmueble,\n    cod_propiedad: codPropiedad,\n    cod_propiedad_logico: codPropiedadLogico,\n    cod_propiedad_unificado: codUnificado,\n    inmueble_identificado: codUnificadoRaw ? 1 : 0,\n    link_urbania: linkUrbania,\n    \n    // Origen - CAMPOS INDIVIDUALES Y UNIFICADO\n    origen_form: origenForm,           // Campo individual del formulario\n    origen_original: origenOriginal,    // Campo original de n8n - Origen\n    origen: origenUnificado,            // Campo unificado con la lgica de priorizacin\n    \n    // Bot - Respuesta\n    bot_respondio: getCFBool('rentas_mensajeia_salio'),\n    bot_apagado_manual: getCFBool('rentas_bot_apagado_manual'),\n    bot_fecha_ult_msg: getCF('bot - fecha_ult_msg'),\n    \n    // Bot - Horarios\n    dio_horario: dioHorario,\n    genero_horario: getCFBool('rentas_ia_generohorario'),\n    horario_registrado: getCFBool('rentas_ia_generohorario_registrado'),\n    horario_notificado: getCFBool('rentas_ia_generohorario_notificado'),\n    fecha1: fecha1,\n    fecha2: fecha2,\n    fecha_modo: fechaModo,\n    \n    // Bot - Errores\n    tuvo_error: getCFBool('n8n - supp - es_error'),\n    detalle_error: getCF('n8n - supp - detalle_es_error'),\n    error_marcado: getCFBool('rentas_error_marcado'),\n    estado_correccion: getCF('n8n - corregido') || 'N/A',\n    detalle_correccion: getCF('n8n - detalle corregido'),\n    \n    // Bot - Caso especial\n    caso_especial: casoEspecial,\n    detalle_caso_especial: getCF('n8n - supp - detalle_caso_especial'),\n    \n    // Bot - Seguimiento\n    seg1: getCF('n8n - supp - seg1'),\n    seg2: getCF('n8n - supp - seg2'),\n    animo: getCF('n8n - animo') || getCF('n8n - supp - animo'),\n    tiene_solucion: getCFBool('n8n - supp - tiene_solucion'),\n    cliente_identificado: getCFBool('n8n - supp - clienteIdentificado'),\n    \n    // Cliente\n    tipo_cliente: tipoCliente,\n    es_nuevo: esNuevo,\n    \n    // Fechas calculadas\n    fecha_dia: fechaDia,\n    fecha_semana: fechaSemana,\n    fecha_mes: fechaMes\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        384
      ],
      "id": "dc7f8aea-a5a8-4c3e-abf4-bf419d62048b",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "684619f8-7dfd-4c90-b64b-8d2a55066558",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "4e33948c-ad41-4f01-931d-6f64e8d411e4",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "0ac7a1c7-d9c7-4632-a656-7169d83288eb",
              "name": "telefono",
              "value": "={{ $json.telefono }}",
              "type": "string"
            },
            {
              "id": "b0d63993-f0cb-4d3b-9dbd-b31cf93d5e5a",
              "name": "fecha_creacion",
              "value": "={{ $json.fecha_creacion }}",
              "type": "string"
            },
            {
              "id": "1c107fab-519a-4bd3-afbc-7a1f7429e56e",
              "name": "status_id",
              "value": "={{ $json.status_id }}",
              "type": "string"
            },
            {
              "id": "3ce235bd-c42b-49d4-851f-1b3b0e77f251",
              "name": "etapa",
              "value": "={{ $json.etapa }}",
              "type": "string"
            },
            {
              "id": "d57c59f8-feea-4dba-9a8f-f629bed113a1",
              "name": "cod_inmueble",
              "value": "={{ $json.cod_inmueble }}",
              "type": "string"
            },
            {
              "id": "feb47888-9976-4733-9b03-bfc57fb9ac52",
              "name": "cod_propiedad",
              "value": "={{ $json.cod_propiedad }}",
              "type": "string"
            },
            {
              "id": "ad69a59b-e0ab-4c10-a47e-01df19f53c40",
              "name": "cod_propiedad_unificado",
              "value": "={{ $json.cod_propiedad_unificado }}",
              "type": "string"
            },
            {
              "id": "cdd9e426-b568-44d3-8f96-8d3ddd7ce34d",
              "name": "inmueble_identificado",
              "value": "={{ $json.inmueble_identificado }}",
              "type": "string"
            },
            {
              "id": "64fcbf61-bf6c-48f2-9a4a-df5d3bb34c2b",
              "name": "link_urbania",
              "value": "={{ $json.link_urbania }}",
              "type": "string"
            },
            {
              "id": "b78ced0a-e357-4f1d-9c12-dccd2d42c163",
              "name": "origen",
              "value": "={{ $json.origen }}",
              "type": "string"
            },
            {
              "id": "ee16cba7-0372-4e3e-b55b-5f6d447b69a2",
              "name": "bot_respondio",
              "value": "={{ $json.bot_respondio }}",
              "type": "string"
            },
            {
              "id": "12ff9ecf-4d4f-454d-9839-4ef27ae089a2",
              "name": "bot_apagado_manual",
              "value": "={{ $json.bot_apagado_manual }}",
              "type": "string"
            },
            {
              "id": "ae5a9ffb-4fbf-4c92-938c-313af3cb9f35",
              "name": "bot_fecha_ult_msg",
              "value": "={{ $json.bot_fecha_ult_msg }}",
              "type": "string"
            },
            {
              "id": "386d5051-f074-4442-9d01-73df73b6da6b",
              "name": "dio_horario",
              "value": "={{ $json.dio_horario }}",
              "type": "string"
            },
            {
              "id": "455db161-ae8b-4634-8d35-3bc10e0724b3",
              "name": "genero_horario",
              "value": "={{ $json.genero_horario }}",
              "type": "string"
            },
            {
              "id": "20059576-aa05-4651-b2aa-dd9fdd3b546d",
              "name": "horario_registrado",
              "value": "={{ $json.horario_registrado }}",
              "type": "string"
            },
            {
              "id": "ec6c3bd4-7dfa-453f-a0be-83a8abb69dd0",
              "name": "horario_notificado",
              "value": "={{ $json.horario_notificado }}",
              "type": "string"
            },
            {
              "id": "cc29702e-b4f3-4ca8-bf0b-6f88febc223b",
              "name": "fecha1",
              "value": "={{ $json.fecha1 }}",
              "type": "string"
            },
            {
              "id": "7e4b45b7-6726-4854-b3a0-70e67fadc2e0",
              "name": "fecha2",
              "value": "={{ $json.fecha2 }}",
              "type": "string"
            },
            {
              "id": "d2cb8fae-5b1c-4072-bd96-1124a59019bf",
              "name": "fecha_modo",
              "value": "={{ $json.fecha_modo }}",
              "type": "string"
            },
            {
              "id": "ba9056da-5a60-4fdf-a66e-888f6c766274",
              "name": "tuvo_error",
              "value": "={{ $json.tuvo_error }}",
              "type": "string"
            },
            {
              "id": "384adeb4-b38d-4bf4-84d0-1fbd43b2885f",
              "name": "detalle_error",
              "value": "={{ $json.detalle_error }}",
              "type": "string"
            },
            {
              "id": "931e51f9-4825-4291-8eeb-bb24350b0d14",
              "name": "error_marcado",
              "value": "={{ $json.error_marcado }}",
              "type": "string"
            },
            {
              "id": "4f25db73-b887-437b-9ece-d99898f6f7a7",
              "name": "estado_correccion",
              "value": "={{ $json.estado_correccion }}",
              "type": "string"
            },
            {
              "id": "45690012-e9ff-453c-8b33-6f57788827cf",
              "name": "detalle_correccion",
              "value": "={{ $json.detalle_correccion }}",
              "type": "string"
            },
            {
              "id": "a524d3ec-be12-4d9f-b763-f363a7a6885e",
              "name": "caso_especial",
              "value": "={{ $json.caso_especial }}",
              "type": "string"
            },
            {
              "id": "afb448ce-0e99-4009-918a-49698868011f",
              "name": "detalle_caso_especial",
              "value": "={{ $json.detalle_caso_especial }}",
              "type": "string"
            },
            {
              "id": "3c44a050-f13d-4ac7-9d4e-e71aa1e49e41",
              "name": "seg1",
              "value": "={{ $json.seg1 }}",
              "type": "string"
            },
            {
              "id": "b3c4cde2-c5d9-41a8-9c99-3ccc94c57a14",
              "name": "seg2",
              "value": "={{ $json.seg2 }}",
              "type": "string"
            },
            {
              "id": "2837259c-43dc-4d55-8087-745f3c3b616c",
              "name": "animo",
              "value": "={{ $json.animo }}",
              "type": "string"
            },
            {
              "id": "04d948d1-1bb5-4e7a-a0f4-30f9c51fe3e3",
              "name": "tiene_solucion",
              "value": "={{ $json.tiene_solucion }}",
              "type": "string"
            },
            {
              "id": "dca48ca0-d1b8-48b3-9b05-08c2956587f2",
              "name": "cliente_identificado",
              "value": "={{ $json.cliente_identificado }}",
              "type": "string"
            },
            {
              "id": "9afbb798-a43d-4e71-842c-eb444621df0a",
              "name": "tipo_cliente",
              "value": "={{ $json.tipo_cliente }}",
              "type": "string"
            },
            {
              "id": "0f3fe691-524d-4716-891b-886985396ef7",
              "name": "es_nuevo",
              "value": "={{ $json.es_nuevo }}",
              "type": "string"
            },
            {
              "id": "8f796153-62cc-4c5e-9bd6-2918542311b6",
              "name": "fecha_dia",
              "value": "={{ $json.fecha_dia }}",
              "type": "string"
            },
            {
              "id": "376dface-2d59-4cc5-ab61-9e5f937f8b7e",
              "name": "fecha_semana",
              "value": "={{ $json.fecha_semana }}",
              "type": "string"
            },
            {
              "id": "96e06c2d-1b5f-4ae4-b108-8eaf1fda30e9",
              "name": "fecha_mes",
              "value": "={{ $json.fecha_mes }}",
              "type": "string"
            },
            {
              "id": "de60abb9-33fa-4c32-b4f8-da51add27a3e",
              "name": "cod_propiedad_logico",
              "value": "={{ $json.cod_propiedad_logico }}",
              "type": "string"
            },
            {
              "id": "8f2f73f2-8d0b-4ea2-8aa9-6f9b479f5365",
              "name": "origen_form",
              "value": "={{ $json.origen_form }}",
              "type": "string"
            },
            {
              "id": "38ae88b4-13ca-400f-b9a4-717c60ff746f",
              "name": "origen_original",
              "value": "={{ $json.origen_original }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        384
      ],
      "id": "3b36cad6-1a8a-4487-934e-d16a8c471739",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "url": " https://propertamibotcom.kommo.com/api/v4/leads/pipelines/11240224/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        528
      ],
      "id": "a9a909b6-c353-486d-a2fd-bd20ba2c4eae",
      "name": "HTTP Request Statuses",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -80,
        528
      ],
      "id": "89389419-fc80-4d8a-b790-e878da0d8c20",
      "name": "Sort"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=_embedded.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -304,
        896
      ],
      "id": "34bad1a3-6360-4503-a0c5-3e3589edbb59",
      "name": "Split Out"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -80,
        896
      ],
      "id": "45026a6e-25b0-44da-97ed-8c5a6099b516",
      "name": "Sort by Date"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "2504f489-361c-447f-93c2-2e867ae0c54f",
              "leftValue": "={{ $json._embedded.tags.toJsonString() }}",
              "rightValue": "DIEGO",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "7972cc23-970e-40a7-9973-5f70f5d42a25",
              "leftValue": "={{ $json._embedded.contacts[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        144,
        896
      ],
      "id": "6f166b73-a10b-4063-afd3-607164074b17",
      "name": "Filter DIEGO"
    },
    {
      "parameters": {
        "authentication": "longLivedToken",
        "resource": "contacts",
        "filter": {
          "id": "={{ $('Split Out').item.json._embedded.contacts[0].id }}"
        },
        "options": {
          "with": [
            "leads"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        592,
        752
      ],
      "id": "3da811d4-8a3b-43b5-b15b-da810c8af03d",
      "name": "Get Contact",
      "credentials": {
        "kommoLongLivedApi": {
          "id": "20bzHfzuZvuDPmtm",
          "name": "Kommo Long Lived Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "add02cca-2660-4c19-a042-f1a71ff7e63b",
              "leftValue": "={{ $('Get Contact').item.json._embedded.contacts[0].custom_fields_values.find(f => f.field_name === 'Phone')?.values?.[0]?.value || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        752
      ],
      "id": "849d617e-4f44-4ee3-8861-4a3c6b709ca5",
      "name": "If Phone Exists"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// TRANSFORMACIN LEAD KOMMO  POSTGRESQL (DIEGO)\n// ========================================\n\nconst lead = $('Split Out').item.json;\nconst statuses = $('HTTP Request Statuses1').first().json._embedded?.statuses || [];\nconst contactData = $('Get Contact').first().json._embedded?.contacts?.[0] || {};\n\n// Helper: obtener custom field\nfunction getCF(fieldName) {\n  const cf = (lead.custom_fields_values || []).find(x => x.field_name === fieldName);\n  return (cf && cf.values && cf.values[0]) ? cf.values[0].value : null;\n}\n\n// Helper: campo booleano\nfunction getCFBool(fieldName) {\n  const val = getCF(fieldName);\n  return (val === true || val === 1 || val === '1') ? 1 : 0;\n}\n\n// Helper: telfono del contacto\nfunction getPhone() {\n  const phoneField = (contactData.custom_fields_values || []).find(f => f.field_name === 'Phone');\n  return phoneField?.values?.[0]?.value || null;\n}\n\n// Helper: nombre del status\nfunction getStatusName(statusId) {\n  const hit = statuses.find(s => String(s.id) === String(statusId));\n  return hit?.name || '';\n}\n\n// Helper: Unix a ISO\nfunction unixToISO(unix) {\n  if (!unix) return null;\n  return new Date(unix * 1000).toISOString().replace('T', ' ').substring(0, 19);\n}\n\n// Helper: lunes de la semana\nfunction getMonday(date) {\n  const d = new Date(date);\n  const day = d.getDay();\n  const diff = (day === 0 ? -6 : 1) - day;\n  d.setDate(d.getDate() + diff);\n  return d.toISOString().split('T')[0];\n}\n\n// ========================================\n// EXTRACCIN DE CAMPOS\n// ========================================\n\n// Campos Diego\nconst origen = getCF('n8n - diego - origen') || 'SIN_ORIGEN';\nconst animo = getCF('n8n - diego - animo');\n\n// Horarios\nconst fecha1 = getCF('n8n - diego - fecha1');\nconst fecha2 = getCF('n8n - diego - fecha2');\nconst dioHorario = (fecha1 || fecha2) ? 1 : 0;\n\n// Errores (campos compartidos)\nconst tuvoError = getCFBool('n8n - supp - es_error');\nconst detalleError = getCF('n8n - supp - detalle_es_error');\nconst errorMarcado = getCFBool('rentas_error_marcado');\nconst estadoCorreccion = getCF('n8n - corregido') || 'N/A';\n\n// Caso especial\nconst casoEspecialCampo = getCFBool('n8n - supp - caso_especial');\nconst casoEspecialStatus = (lead.status_id === 92821236) ? 1 : 0;\nconst casoEspecial = (casoEspecialCampo || casoEspecialStatus) ? 1 : 0;\n\n// Fechas\nconst fechaCreacionUnix = lead.created_at;\nconst fechaCreacion = unixToISO(fechaCreacionUnix);\nconst fechaDia = fechaCreacion ? fechaCreacion.substring(0, 10) : null;\nconst fechaMes = fechaDia ? fechaDia.substring(0, 7) + '-01' : null;\nconst fechaSemana = fechaCreacionUnix ? getMonday(new Date(fechaCreacionUnix * 1000)) : null;\n\n// Cliente\nconst tipoCliente = getCF('n8n - TipoCliente');\nconst esNuevo = (tipoCliente === 'NUEVO') ? 1 : 0;\n\n// ========================================\n// RETORNO\n// ========================================\n\nreturn {\n  json: {\n    id: lead.id,\n    nombre: contactData.name || null,\n    telefono: getPhone(),\n    fecha_creacion: fechaCreacion,\n    status_id: lead.status_id,\n    etapa: getStatusName(lead.status_id),\n    origen: origen,\n    bot_respondio: 0,\n    bot_apagado_manual: 0,\n    dio_horario: dioHorario,\n    fecha1: fecha1,\n    fecha2: fecha2,\n    tuvo_error: tuvoError,\n    detalle_error: detalleError,\n    error_marcado: errorMarcado,\n    estado_correccion: estadoCorreccion,\n    caso_especial: casoEspecial,\n    animo: animo,\n    tipo_cliente: tipoCliente,\n    es_nuevo: esNuevo,\n    fecha_dia: fechaDia,\n    fecha_semana: fechaSemana,\n    fecha_mes: fechaMes\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        752
      ],
      "id": "45fa1988-6c5f-4666-94ff-2d4beaef24d5",
      "name": "Code Diego"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "crm",
          "mode": "list",
          "cachedResultName": "crm"
        },
        "table": {
          "__rl": true,
          "value": "bot_leads_diego",
          "mode": "list",
          "cachedResultName": "bot_leads_diego"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nombre": "={{ $json.nombre }}",
            "telefono": "={{ $json.telefono }}",
            "fecha_creacion": "={{ $json.fecha_creacion }}",
            "status_id": "={{ $json.status_id }}",
            "etapa": "={{ $json.etapa }}",
            "origen": "={{ $json.origen }}",
            "bot_respondio": "={{ $json.bot_respondio }}",
            "bot_apagado_manual": "={{ $json.bot_apagado_manual }}",
            "dio_horario": "={{ $json.dio_horario }}",
            "fecha1": "={{ $json.fecha1 }}",
            "fecha2": "={{ $json.fecha2 }}",
            "tuvo_error": "={{ $json.tuvo_error }}",
            "detalle_error": "={{ $json.detalle_error }}",
            "error_marcado": "={{ $json.error_marcado }}",
            "estado_correccion": "={{ $json.estado_correccion }}",
            "caso_especial": "={{ $json.caso_especial }}",
            "animo": "={{ $json.animo }}",
            "tipo_cliente": "={{ $json.tipo_cliente }}",
            "es_nuevo": "={{ $json.es_nuevo }}",
            "fecha_dia": "={{ $json.fecha_dia }}",
            "fecha_semana": "={{ $json.fecha_semana }}",
            "fecha_mes": "={{ $json.fecha_mes }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_id",
              "displayName": "status_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_respondio",
              "displayName": "bot_respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_apagado_manual",
              "displayName": "bot_apagado_manual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "dio_horario",
              "displayName": "dio_horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha1",
              "displayName": "fecha1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha2",
              "displayName": "fecha2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tuvo_error",
              "displayName": "tuvo_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_error",
              "displayName": "detalle_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_marcado",
              "displayName": "error_marcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado_correccion",
              "displayName": "estado_correccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "caso_especial",
              "displayName": "caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "animo",
              "displayName": "animo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "es_nuevo",
              "displayName": "es_nuevo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_dia",
              "displayName": "fecha_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_semana",
              "displayName": "fecha_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_mes",
              "displayName": "fecha_mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1264,
        832
      ],
      "id": "a7d2804f-04bc-4b30-815b-38f3c56ef3d5",
      "name": "Postgres Upsert",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        896
      ],
      "id": "7f6700b5-4c55-4a08-826f-0de45d58563b",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads/pipelines/9165176/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        896
      ],
      "id": "5f159daa-e140-4357-8335-491cdd52caa7",
      "name": "HTTP Request Statuses1",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        368,
        896
      ],
      "id": "a31054ae-2457-49f5-98a4-79300ef2cb39",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "=https://propertamibotcom.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts"
            },
            {
              "name": "filter[created_at][from]",
              "value": "1767243600"
            },
            {
              "name": "filter[created_at][to]",
              "value": "={{ Math.floor(new Date(new Date($now).setHours(0,0,0,0) + 48*60*60*1000).getTime() / 1000) }}"
            },
            {
              "name": "filter[pipeline_id][]",
              "value": "9165176"
            },
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body?._links?.next?.href }}",
              "limitPagesFetched": true,
              "maxRequests": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -528,
        896
      ],
      "id": "69e0d06a-9434-49f7-81e3-c8c47d18241a",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "with",
              "value": "contacts"
            },
            {
              "name": "filter[created_at][from]",
              "value": "1767243600"
            },
            {
              "name": "filter[created_at][to]",
              "value": "={{ Math.floor(new Date(new Date($now).setHours(0,0,0,0) + 48*60*60*1000).getTime() / 1000) }}"
            },
            {
              "name": "filter[pipeline_id][]",
              "value": "8874156"
            },
            {
              "name": "limit",
              "value": "250"
            },
            {
              "name": "page",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body?._links?.next?.href }}",
              "limitPagesFetched": true,
              "maxRequests": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        1392
      ],
      "id": "fc028897-7805-4fc1-b43a-959996a24a17",
      "name": "HTTP Request Leads",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-tag-inversiones",
              "leftValue": "={{ $json._embedded.tags.toJsonString() }}",
              "rightValue": "INVERSIONES_IA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "filter-contact-inversiones",
              "leftValue": "={{ $json._embedded.contacts[0].id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        1392
      ],
      "id": "c8868188-59cc-49a2-83b3-5493b1c4e717",
      "name": "Filter INVERSIONES_IA"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// TRANSFORMACION LEAD KOMMO -> POSTGRESQL (INVERSIONES IA)\n// ========================================\n\nconst lead = $('Split Out3').item.json;\nconst statuses = $('HTTP Request Statuses2').first().json._embedded?.statuses || [];\nconst contactData = $('Get Contact1').first().json._embedded?.contacts?.[0] || {};\n\n// Helper: obtener custom field\nfunction getCF(fieldName) {\n  const cf = (lead.custom_fields_values || []).find(x => x.field_name === fieldName);\n  return (cf && cf.values && cf.values[0]) ? cf.values[0].value : null;\n}\n\n// Helper: campo booleano\nfunction getCFBool(fieldName) {\n  const val = getCF(fieldName);\n  return (val === true || val === 1 || val === '1' || val === 'SI' || val === 'si') ? 1 : 0;\n}\n\n// Helper: telefono del contacto\nfunction getPhone() {\n  const phoneField = (contactData.custom_fields_values || []).find(f => f.field_name === 'Phone');\n  return phoneField?.values?.[0]?.value || null;\n}\n\n// Helper: nombre del status\nfunction getStatusName(statusId) {\n  const hit = statuses.find(s => String(s.id) === String(statusId));\n  return hit?.name || '';\n}\n\n// Helper: Unix a ISO\nfunction unixToISO(unix) {\n  if (!unix) return null;\n  return new Date(unix * 1000).toISOString().replace('T', ' ').substring(0, 19);\n}\n\n// Helper: lunes de la semana\nfunction getMonday(date) {\n  const d = new Date(date);\n  const day = d.getDay();\n  const diff = (day === 0 ? -6 : 1) - day;\n  d.setDate(d.getDate() + diff);\n  return d.toISOString().split('T')[0];\n}\n\n// ========================================\n// EXTRACCION DE CAMPOS BOTIA\n// ========================================\n\n// Clasificacion\nconst interes = getCF('botia - interes') || 'no_definido';\nconst tipoCliente = getCF('botia - tipo_cliente');\nconst esNuevo = (tipoCliente === 'NUEVO') ? 1 : 0;\n\n// Datos financieros\nconst ingresoPromedioMensual = getCF('botia - ingreso_promedio_mensual');\nconst capitalInicial = getCF('botia - capital_inicial');\nconst egresos = getCF('botia - egresos');\nconst primeraVivienda = getCF('botia - primera_vivienda');\nconst edad = getCF('botia - edad');\nconst dni = getCF('botia - dni');\nconst tipoIngreso = getCF('botia - tipo_ingreso');\n\n// Calificacion\nconst cumpleIngresos = getCF('botia - cumple_ingresos');\nconst cumpleInicial = getCF('botia - cumple_inicial');\nconst categoriaCompleta = getCF('botia - categoria_completa');\n\n// Asesor\nconst tieneAsesor = getCF('botia - tiene_asesor');\nconst nombreAsesor = getCF('botia - nombre_asesor');\nconst telefonoAsesor = getCF('botia - telefono_asesor');\n\n// Charla\nconst charlaElegida = getCF('botia - charla_elegida');\n\n// Derivacion\nconst derivadoA = getCF('botia - derivado_a');\nconst distritoPropiedad = getCF('botia - distrito_propiedad');\nconst zonaInteres = getCF('botia - zona_interes');\nconst edificioActual = getCF('botia - edificio_actual');\n\n// Resumen\nconst resumenConversacion = getCF('botia - resumen_conversacion');\n\n// Caso especial\nconst casoEspecial = getCF('botia - caso_especial');\nconst detalleCasoEspecial = getCF('botia - detalle_caso_especial');\n\n// Embudo\nconst estatusEmbudo = getCF('botia - estatusEmbudo');\n\n// Errores (campos compartidos)\nconst tuvoError = getCFBool('n8n - supp - es_error');\nconst detalleError = getCF('n8n - supp - detalle_es_error');\nconst errorMarcado = getCFBool('rentas_error_marcado');\nconst estadoCorreccion = getCF('n8n - corregido') || 'N/A';\n\n// Origen\nconst origen = getCF('n8n - origen') || 'SIN_ORIGEN';\n\n// Fechas\nconst fechaCreacionUnix = lead.created_at;\nconst fechaCreacion = unixToISO(fechaCreacionUnix);\nconst fechaDia = fechaCreacion ? fechaCreacion.substring(0, 10) : null;\nconst fechaMes = fechaDia ? fechaDia.substring(0, 7) + '-01' : null;\nconst fechaSemana = fechaCreacionUnix ? getMonday(new Date(fechaCreacionUnix * 1000)) : null;\n\n// ========================================\n// RETORNO\n// ========================================\n\nreturn {\n  json: {\n    // Identificadores\n    id: lead.id,\n    nombre: contactData.name || null,\n    telefono: getPhone(),\n    \n    // Fechas\n    fecha_creacion: fechaCreacion,\n    fecha_dia: fechaDia,\n    fecha_semana: fechaSemana,\n    fecha_mes: fechaMes,\n    \n    // Estado CRM\n    status_id: lead.status_id,\n    etapa: getStatusName(lead.status_id),\n    origen: origen,\n    \n    // Clasificacion\n    interes: interes,\n    tipo_cliente: tipoCliente,\n    es_nuevo: esNuevo,\n    \n    // Datos financieros\n    ingreso_promedio_mensual: ingresoPromedioMensual,\n    capital_inicial: capitalInicial,\n    egresos: egresos,\n    primera_vivienda: primeraVivienda,\n    edad: edad,\n    dni: dni,\n    tipo_ingreso: tipoIngreso,\n    \n    // Calificacion\n    cumple_ingresos: cumpleIngresos,\n    cumple_inicial: cumpleInicial,\n    categoria_completa: categoriaCompleta,\n    \n    // Asesor\n    tiene_asesor: tieneAsesor,\n    nombre_asesor: nombreAsesor,\n    telefono_asesor: telefonoAsesor,\n    \n    // Charla\n    charla_elegida: charlaElegida,\n    \n    // Derivacion\n    derivado_a: derivadoA,\n    distrito_propiedad: distritoPropiedad,\n    zona_interes: zonaInteres,\n    edificio_actual: edificioActual,\n    \n    // Resumen\n    resumen_conversacion: resumenConversacion,\n    \n    // Errores\n    tuvo_error: tuvoError,\n    detalle_error: detalleError,\n    error_marcado: errorMarcado,\n    estado_correccion: estadoCorreccion,\n    \n    // Caso especial\n    caso_especial: casoEspecial,\n    detalle_caso_especial: detalleCasoEspecial,\n    \n    // Embudo\n    estatus_embudo: estatusEmbudo,\n    \n    // Control bot\n    bot_respondio: 0,\n    bot_apagado_manual: 0\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1248
      ],
      "id": "9f94c99a-068b-40b4-8691-7220bccb5bc5",
      "name": "Code Inversiones"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        1392
      ],
      "id": "32acfc82-4ec6-47ad-91d6-7f9560d7810d",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "url": "https://propertamibotcom.kommo.com/api/v4/leads/pipelines/9165176/statuses",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        1392
      ],
      "id": "0d1db9b9-c739-4cf9-a817-c260a202e374",
      "name": "HTTP Request Statuses2",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "=_embedded.leads",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -448,
        1392
      ],
      "id": "1ee8f0aa-27ce-4f13-831e-2029c649e9d9",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "created_at",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -224,
        1392
      ],
      "id": "56bbfc98-cb24-4ca2-a6b0-19f70c952060",
      "name": "Sort by Date1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        1392
      ],
      "id": "2a32cefe-038c-498f-9f91-b3e99a229061",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "authentication": "longLivedToken",
        "resource": "contacts",
        "filter": {
          "id": "={{ $('Split Out3').item.json._embedded.contacts[0].id }}"
        },
        "options": {
          "with": [
            "leads"
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-kommo.kommo",
      "typeVersion": 1,
      "position": [
        448,
        1248
      ],
      "id": "f242d7ea-e666-4a36-9136-4646cf05f8ec",
      "name": "Get Contact1",
      "credentials": {
        "kommoLongLivedApi": {
          "id": "20bzHfzuZvuDPmtm",
          "name": "Kommo Long Lived Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-phone-inversiones",
              "leftValue": "={{ $('Get Contact1').item.json._embedded.contacts[0].custom_fields_values.find(f => f.field_name === 'Phone')?.values?.[0]?.value || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        1248
      ],
      "id": "20cbc50f-ce2e-4901-8255-52b9c50cfc9c",
      "name": "If Phone Exists1"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "crm",
          "mode": "list",
          "cachedResultName": "crm"
        },
        "table": {
          "__rl": true,
          "value": "bot_leads_inversiones",
          "mode": "list",
          "cachedResultName": "bot_leads_inversiones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "nombre": "={{ $json.nombre }}",
            "telefono": "={{ $json.telefono }}",
            "fecha_creacion": "={{ $json.fecha_creacion }}",
            "fecha_dia": "={{ $json.fecha_dia }}",
            "fecha_semana": "={{ $json.fecha_semana }}",
            "fecha_mes": "={{ $json.fecha_mes }}",
            "status_id": "={{ $json.status_id }}",
            "etapa": "={{ $json.etapa }}",
            "origen": "={{ $json.origen }}",
            "interes": "={{ $json.interes }}",
            "tipo_cliente": "={{ $json.tipo_cliente }}",
            "es_nuevo": "={{ $json.es_nuevo }}",
            "ingreso_promedio_mensual": "={{ $json.ingreso_promedio_mensual }}",
            "capital_inicial": "={{ $json.capital_inicial }}",
            "egresos": "={{ $json.egresos }}",
            "primera_vivienda": "={{ $json.primera_vivienda }}",
            "edad": "={{ $json.edad }}",
            "dni": "={{ $json.dni }}",
            "tipo_ingreso": "={{ $json.tipo_ingreso }}",
            "cumple_ingresos": "={{ $json.cumple_ingresos }}",
            "cumple_inicial": "={{ $json.cumple_inicial }}",
            "categoria_completa": "={{ $json.categoria_completa }}",
            "tiene_asesor": "={{ $json.tiene_asesor }}",
            "nombre_asesor": "={{ $json.nombre_asesor }}",
            "telefono_asesor": "={{ $json.telefono_asesor }}",
            "charla_elegida": "={{ $json.charla_elegida }}",
            "derivado_a": "={{ $json.derivado_a }}",
            "distrito_propiedad": "={{ $json.distrito_propiedad }}",
            "zona_interes": "={{ $json.zona_interes }}",
            "edificio_actual": "={{ $json.edificio_actual }}",
            "resumen_conversacion": "={{ $json.resumen_conversacion }}",
            "tuvo_error": "={{ $json.tuvo_error }}",
            "detalle_error": "={{ $json.detalle_error }}",
            "error_marcado": "={{ $json.error_marcado }}",
            "estado_correccion": "={{ $json.estado_correccion }}",
            "caso_especial": "={{ $json.caso_especial }}",
            "detalle_caso_especial": "={{ $json.detalle_caso_especial }}",
            "estatus_embudo": "={{ $json.estatus_embudo }}",
            "bot_respondio": "={{ $json.bot_respondio }}",
            "bot_apagado_manual": "={{ $json.bot_apagado_manual }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_creacion",
              "displayName": "fecha_creacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_dia",
              "displayName": "fecha_dia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_semana",
              "displayName": "fecha_semana",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "fecha_mes",
              "displayName": "fecha_mes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "status_id",
              "displayName": "status_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "etapa",
              "displayName": "etapa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "interes",
              "displayName": "interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_cliente",
              "displayName": "tipo_cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "es_nuevo",
              "displayName": "es_nuevo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "ingreso_promedio_mensual",
              "displayName": "ingreso_promedio_mensual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "capital_inicial",
              "displayName": "capital_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "egresos",
              "displayName": "egresos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "primera_vivienda",
              "displayName": "primera_vivienda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "edad",
              "displayName": "edad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "dni",
              "displayName": "dni",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tipo_ingreso",
              "displayName": "tipo_ingreso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cumple_ingresos",
              "displayName": "cumple_ingresos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "cumple_inicial",
              "displayName": "cumple_inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "categoria_completa",
              "displayName": "categoria_completa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tiene_asesor",
              "displayName": "tiene_asesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "nombre_asesor",
              "displayName": "nombre_asesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "telefono_asesor",
              "displayName": "telefono_asesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "charla_elegida",
              "displayName": "charla_elegida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "derivado_a",
              "displayName": "derivado_a",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "distrito_propiedad",
              "displayName": "distrito_propiedad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "zona_interes",
              "displayName": "zona_interes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "edificio_actual",
              "displayName": "edificio_actual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "resumen_conversacion",
              "displayName": "resumen_conversacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "tuvo_error",
              "displayName": "tuvo_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_error",
              "displayName": "detalle_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "error_marcado",
              "displayName": "error_marcado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "estado_correccion",
              "displayName": "estado_correccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "caso_especial",
              "displayName": "caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "detalle_caso_especial",
              "displayName": "detalle_caso_especial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "estatus_embudo",
              "displayName": "estatus_embudo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_respondio",
              "displayName": "bot_respondio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "bot_apagado_manual",
              "displayName": "bot_apagado_manual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        1328
      ],
      "id": "66707c8b-0c09-4ae0-b9c0-096370afea31",
      "name": "Postgres Upsert1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 900
  },
  "shared": [
    {
      "createdAt": "2025-09-23T04:15:40.700Z",
      "updatedAt": "2025-09-23T04:15:40.700Z",
      "role": "workflow:owner",
      "workflowId": "yWrQu0MbLsFrR6s2",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-08-01T18:41:06.465Z",
      "updatedAt": "2025-08-01T18:41:06.465Z",
      "id": "94z6tcDoVU8DriEW",
      "name": "IA"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2026-01-16T22:52:47.346Z",
  "versionId": "69c63383-e395-4701-9c3e-4755528886d6"
}