workflows/0zYOliVlWXi5TPIW.json
{
  "active": true,
  "connections": {
    "Programado (8 AM)": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Procesar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Reporte": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-04T18:05:49.387Z",
  "id": "0zYOliVlWXi5TPIW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "REPORTE DIARIO RENTAS VF",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "c313450e-3296-44bb-8ecd-4529c3a38557",
      "name": "Programado (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM crm.bot_leads_inversiones",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        192
      ],
      "id": "112e175c-9587-4a20-b7c9-009630a2544b",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================================================\n// PROCESAMIENTO DE DATOS - MASTER V5 (ULTIMATE PREMIUM)\n// ==========================================================================\n\nconst leads = $input.all().map(i => i.json);\n\nif (leads.length === 0) {\n  return [{ json: { html_final: \"<div style='font-family:Arial; padding:40px; text-align:center;'>No hay datos para procesar.</div>\" } }];\n}\n\n// 1. CONFIGURACIÓN DE TIEMPO (Relativo a Hoy)\nconst now = new Date();\nconst todayStr = now.toISOString().split('T')[0];\nconst yesterday = new Date(now);\nyesterday.setDate(now.getDate() - 1);\nconst yesterdayStr = yesterday.toISOString().split('T')[0];\n\nconst dayBeforeYesterday = new Date(yesterday);\ndayBeforeYesterday.setDate(yesterday.getDate() - 1);\nconst prevDayStr = dayBeforeYesterday.toISOString().split('T')[0];\n\nconst currentMonthStr = todayStr.substring(0, 7);\nconst lastMonthStr = new Date(now.getFullYear(), now.getMonth() - 1, 1).toISOString().substring(0, 7);\n\n// 2. LÓGICA DE CIERRE (STRICT)\nconst CLOSED_SUCCESS_IDS = [97504472, 99685039, 99685047, 99685055];\nfunction isSuccessful(l) { return CLOSED_SUCCESS_IDS.includes(Number(l.status_id)); }\n\n// 3. OBTENCIÓN DE MÉTRICAS CON COMPARATIVO\nfunction getStats(data, prevData) {\n  const calc = (arr) => {\n    const total = arr.length || 0;\n    const closed = arr.filter(isSuccessful).length || 0;\n    const seg = arr.filter(l => Number(l.status_id) === 99685027).length || 0;\n    const err = arr.filter(l => l.tuvo_error == 1 || l.error_marcado == 1).length || 0;\n    return { total, cierre: total > 0 ? (closed/total*100) : 0, seg, err };\n  };\n\n  const current = calc(data);\n  const prev = calc(prevData);\n\n  const diff = (curr, old) => {\n    if (old === 0) return curr > 0 ? '+100%' : '0%';\n    const d = ((curr - old) / old * 100);\n    return (d >= 0 ? '+' : '') + d.toFixed(1) + '%';\n  };\n\n  return {\n    ...current,\n    cierreStr: current.cierre.toFixed(1),\n    totalDiff: diff(current.total, prev.total),\n    cierreDiff: (current.cierre - prev.cierre).toFixed(1),\n    segDiff: diff(current.seg, prev.seg),\n    rawList: data\n  };\n}\n\nconst dayLeads = leads.filter(l => l.fecha_dia && l.fecha_dia.startsWith(yesterdayStr));\nconst prevDayLeads = leads.filter(l => l.fecha_dia && l.fecha_dia.startsWith(prevDayStr));\nconst monthLeads = leads.filter(l => l.fecha_dia && l.fecha_dia.startsWith(currentMonthStr));\nconst lastMonthLeads = leads.filter(l => l.fecha_dia && l.fecha_dia.startsWith(lastMonthStr));\n\nconst daySummary = getStats(dayLeads, prevDayLeads);\nconst monthSummary = getStats(monthLeads, lastMonthLeads);\n\n// 4. DESGLOSE CATEGORÍAS (PRODUCTOS)\nconst CATEGORIES = [\n  { name: 'INVERSIÓN (VENTA)', color: '#00b894' },\n  { name: 'RENTAS & GESTIÓN', color: '#a29bfe' },\n  { name: 'SIN CLASIFICAR', color: '#636e72' }\n];\n\nfunction processCategorized(periodLeads, prevPeriodLeads) {\n  return CATEGORIES.map(cat => {\n    const filter = (arr) => arr.filter(l => (l.categoria_interes || 'SIN CLASIFICAR').toUpperCase().startsWith(cat.name.substring(0, 5)));\n    const currCat = filter(periodLeads);\n    const prevCat = filter(prevPeriodLeads);\n    const currStats = getStats(currCat, prevCat);\n    \n    const subcats = {};\n    currCat.forEach(l => { const s = l.interes || 'Indefinido'; subcats[s] = (subcats[s] || 0) + 1; });\n\n    return {\n      ...cat,\n      total: currStats.total,\n      cierre: currStats.cierreStr,\n      prevCierre: prevCat.length > 0 ? (filter(prevPeriodLeads).filter(isSuccessful).length / filter(prevPeriodLeads).length * 100).toFixed(1) : '0.0',\n      subcatsByVol: Object.entries(subcats).map(([name, count]) => ({\n        name, count, pct: Math.round(count / (currStats.total || 1) * 100)\n      })).sort((a,b) => b.count - a.count)\n    };\n  });\n}\n\nconst dayCats = processCategorized(dayLeads, prevDayLeads);\nconst monthCats = processCategorized(monthLeads, lastMonthLeads);\n\n// 5. RENDERIZADO HTML (HIGH FIDELITY)\nconst colors = { bg: '#f4f7f9', card: '#ffffff', gray: '#636e72', text: '#2d3436', border: '#eef2f7' };\nconst sTitle = `font-size:32px; font-weight:800; color:#1a1a1a; margin-bottom:4px; font-family:'Inter', sans-serif;`;\nconst sCard = `background:${colors.card}; border-radius:16px; padding:24px; box-shadow:0 4px 20px rgba(0,0,0,0.04); border:1px solid ${colors.border}; margin-bottom:24px;`;\nconst sMetricBox = `flex:1; min-width:160px; background:${colors.card}; border:1px solid #edf2f7; border-radius:12px; padding:20px; text-align:left; position:relative;`;\n\nfunction renderTopCards(stats, periodName) {\n  return `\n    <div style=\"display:flex; gap:16px; margin-bottom:32px; flex-wrap:wrap;\">\n      <div style=\"${sMetricBox}\">\n         <div style=\"font-size:12px; color:${colors.gray}; font-weight:600; margin-bottom:8px;\">Leads Totales</div>\n         <div style=\"font-size:32px; font-weight:800;\">${stats.total}</div>\n         <div style=\"font-size:11px; color:#00b894; font-weight:700;\">${stats.totalDiff} <span style=\"color:#bdc3c7; font-weight:400;\">vs ${periodName}</span></div>\n      </div>\n      <div style=\"${sMetricBox}\">\n         <div style=\"font-size:12px; color:${colors.gray}; font-weight:600; margin-bottom:8px;\">Tasa Cierre Global</div>\n         <div style=\"font-size:32px; font-weight:800; color:${colors.text};\">${stats.cierreStr}%</div>\n         <div style=\"font-size:11px; color:#00b894; font-weight:700;\">${stats.cierreDiff >= 0 ? '+' : ''}${stats.cierreDiff}% <span style=\"color:#bdc3c7; font-weight:400;\">vs ${periodName}</span></div>\n      </div>\n      <div style=\"${sMetricBox}\">\n         <div style=\"font-size:12px; color:${colors.gray}; font-weight:600; margin-bottom:8px;\">En Seguimiento</div>\n         <div style=\"font-size:32px; font-weight:800;\">${stats.seg}</div>\n         <div style=\"font-size:11px; color:#00b894; font-weight:700;\">${stats.segDiff} <span style=\"color:#bdc3c7; font-weight:400;\">vs ${periodName}</span></div>\n      </div>\n      <div style=\"${sMetricBox}\">\n         <div style=\"font-size:12px; color:${colors.gray}; font-weight:600; margin-bottom:8px;\">Errores / Alertas</div>\n         <div style=\"font-size:32px; font-weight:800; color:${stats.err > 10 ? '#ff7675' : '#1a1a1a'};\">${stats.err}</div>\n         <div style=\"font-size:11px; color:#bdc3c7;\">Ver detalle abajo</div>\n      </div>\n    </div>\n  `;\n}\n\nfunction renderCategorizedClosing(cats) {\n  let h = `<div style=\"${sCard}\"><h3 style=\"margin-top:0; margin-bottom:20px; font-size:16px; font-weight:700;\">Tasa de Cierre por Producto</h3><div style=\"display:flex; gap:16px; flex-wrap:wrap;\">`;\n  cats.forEach(c => {\n     h += `\n       <div style=\"flex:1; min-width:180px; background:#f8f9fc; border-radius:12px; padding:20px; text-align:center;\">\n         <div style=\"font-size:10px; font-weight:800; color:${colors.gray}; letter-spacing:1px; text-transform:uppercase; margin-bottom:8px;\">${c.name.split(' ')[0]}</div>\n         <div style=\"font-size:24px; font-weight:800; color:${c.color};\">${c.cierre}%</div>\n         <div style=\"font-size:10px; color:${colors.gray}; margin-top:4px;\">Ant: ${c.prevCierre}%</div>\n       </div>`;\n  });\n  return h + `</div></div>`;\n}\n\nfunction renderVolumeSection(cats) {\n  let h = `<div style=\"${sCard}\"><h3 style=\"margin-top:0; border-bottom:1px solid #f1f4f8; padding-bottom:16px; margin-bottom:20px; font-size:16px; font-weight:700;\">Volumen por Interés</h3>`;\n  cats.forEach(c => {\n     h += `\n       <div style=\"margin-bottom:24px;\">\n         <div style=\"display:flex; align-items:center; margin-bottom:12px;\">\n            <span style=\"width:10px; height:10px; border-radius:50%; background:${c.color}; margin-right:12px;\"></span>\n            <span style=\"font-weight:800; font-size:14px; color:${c.color};\">${c.name}</span>\n            <span style=\"margin-left:auto; font-size:11px; color:${colors.gray}; font-weight:600;\">Leads: ${c.total}</span>\n         </div>`;\n     c.subcatsByVol.forEach(s => {\n        h += `\n          <div style=\"margin-left:22px; margin-bottom:14px;\">\n            <div style=\"display:flex; font-size:12px; margin-bottom:4px;\">\n               <span style=\"color:#4a5568;\">${s.name}</span>\n               <span style=\"margin-left:auto; color:#2d3436; font-weight:700;\">${s.count} (${s.pct}%)</span>\n            </div>\n            <div style=\"height:8px; background:#edf2f7; border-radius:4px;\">\n               <div style=\"height:100%; background:${c.color}; width:${s.pct}%; border-radius:4px;\"></div>\n            </div>\n          </div>`;\n     });\n     h += `</div>`;\n  });\n  return h + `</div>`;\n}\n\nfunction renderIncidentTable(stats, title, color) {\n  const list = title.includes('Casos') ? stats.rawList.filter(l => Number(l.status_id) === 99685035 || l.caso_especial === 'SI') : stats.rawList.filter(l => l.tuvo_error == 1 || l.error_marcado == 1);\n  let h = `<div style=\"${sCard} border-top: 4px solid ${color};\"><h3 style=\"margin-top:0; color:${color}; font-size:15px; margin-bottom:16px;\">${title}</h3>`;\n  if (list.length === 0) return h + `<div style=\"text-align:center; padding:20px; color:#bdc3c7; font-size:12px; font-style:italic;\">No se registraron incidentes en este periodo.</div></div>`;\n  \n  h += `<table style=\"width:100%; border-collapse:collapse;\">\n    <thead><tr style=\"background:#f8f9fa;\"><th style=\"padding:12px; text-align:left; font-size:11px; color:#636e72;\">CLIENTE</th><th style=\"padding:12px; text-align:left; font-size:11px; color:#636e72;\">RESUMEN / DETALLE</th></tr></thead>\n    <tbody>`;\n  list.forEach(l => {\n    const info = title.includes('Error') ? (l.detalle_error || l.resumen_conversacion) : (l.detalle_caso_especial || l.resumen_conversacion);\n    h += `<tr style=\"border-bottom:1px solid #f1f4f8;\"><td style=\"padding:12px; font-size:12px;\"><b>${l.nombre || 'Anon'}</b><br><span style=\"color:#94a3b8;\">${l.telefono || '-'}</span></td><td style=\"padding:12px; font-size:11px; color:#4a5568;\">${info || 'Sin detalles'}</td></tr>`;\n  });\n  return h + `</tbody></table></div>`;\n}\n\nlet html = `\n<div style=\"background:${colors.bg}; padding:40px 20px; font-family:'Inter', 'Segoe UI', Arial, sans-serif; color:${colors.text};\">\n  <div style=\"max-width:850px; margin:auto;\">\n    \n    <div style=\"display:flex; justify-content:space-between; align-items: flex-start; margin-bottom:40px;\">\n      <div>\n        <h1 style=\"${sTitle}\">Reporte de Operaciones</h1>\n        <p style=\"margin:0; font-size:14px; color:${colors.gray};\">Métricas en tiempo real vs Periodo Anterior.</p>\n      </div>\n      <div style=\"background:#00b89415; color:#00b894; padding:6px 14px; border-radius:20px; font-size:12px; font-weight:800; border:1px solid #00b89430;\">● EN LÍNEA</div>\n    </div>\n\n    <div style=\"margin-bottom:60px;\">\n      <h2 style=\"font-size:14px; font-weight:800; color:${colors.gray}; text-transform:uppercase; letter-spacing:1.5px; margin-bottom:20px;\">I. RESULTADOS DE AYER (${yesterdayStr})</h2>\n      ${renderTopCards(daySummary, \"Anteayer\")}\n      ${renderCategorizedClosing(dayCats)}\n      ${renderVolumeSection(dayCats)}\n      ${renderIncidentTable(daySummary, \"Casos Especiales (Ayer)\", \"#0984e3\")}\n      ${renderIncidentTable(daySummary, \"Errores / Alertas (Ayer)\", \"#d63031\")}\n    </div>\n\n    <div style=\"margin-bottom:60px;\">\n      <h2 style=\"font-size:14px; font-weight:800; color:${colors.gray}; text-transform:uppercase; letter-spacing:1.5px; margin-bottom:20px;\">II. ACUMULADO DEL MES (${currentMonthStr})</h2>\n      ${renderTopCards(monthSummary, \"Mes Pasado\")}\n      ${renderCategorizedClosing(monthCats)}\n      ${renderVolumeSection(monthCats)}\n    </div>\n\n    <div style=\"text-align:center; padding-top:40px; border-top:1px solid #dee2e6; color:#94a3b8; font-size:11px;\">\n      Gerencia de Operaciones Proper &copy; 2024. Generado automáticamente por Agente IA.\n    </div>\n\n  </div>\n</div>`;\n\nreturn [{ json: { html_final: html } }];"
      },
      "id": "d9ffa87a-49e5-4c5d-910f-98acd291a5cf",
      "name": "Procesar Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "sendTo": "valeria.vega@proper.com.pe, mvelascoo@tamibot.com, jorge.campos@cmcapital.in, giomar.lopez@proper.com.pe, soporte.corretaje@proper.com.pe",
        "subject": "REPORTE DIARIO PROPER (INVERSIONES)",
        "message": "={{ $json.html_final }}",
        "options": {}
      },
      "id": "a2d277fb-69fe-4813-903c-edf61f9de1b5",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1120,
        192
      ],
      "webhookId": "9ab2126d-f1d2-4ab0-af1b-7f36c5fbb092",
      "credentials": {
        "gmailOAuth2": {
          "id": "SPurZ4Z9pGQy8MKJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b03b56ba-8838-4d3d-9f7e-5d3fc4929b76",
      "name": "Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        448,
        32
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-12-04T18:05:49.387Z",
      "updatedAt": "2025-12-04T18:05:49.387Z",
      "role": "workflow:owner",
      "workflowId": "0zYOliVlWXi5TPIW",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": {
    "node:Programado (8 AM)1": {
      "recurrenceRules": []
    },
    "node:Programado (8 AM)": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-20T18:09:56.291Z",
  "versionId": "3d7874f4-932e-42c1-ac3c-3cda1ad300d3"
}