workflows/B5epSnzliaGnLJPn.json
{
  "active": true,
  "connections": {
    "Al hacer clic en Ejecutar": {
      "main": [
        [
          {
            "node": "1. Bot Leads (Ayer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Bot Leads (Ayer)": {
      "main": [
        [
          {
            "node": "2. Modo (Ayer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Modo (Ayer)": {
      "main": [
        [
          {
            "node": "3. Retail (Ayer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Retail (Ayer)": {
      "main": [
        [
          {
            "node": "4. Inventario (Ayer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Inventario (Ayer)": {
      "main": [
        [
          {
            "node": "Formatear HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear HTML": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Programado (8 AM)1": {
      "main": [
        [
          {
            "node": "1. Bot Leads (Ayer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-06T16:10:11.878Z",
  "id": "B5epSnzliaGnLJPn",
  "isArchived": false,
  "meta": null,
  "name": "REPORTE DIARIO RENTAS",
  "nodes": [
    {
      "parameters": {},
      "id": "cfc64950-daf9-4d19-bfce-1b0a692c2d4a",
      "name": "Al hacer clic en Ejecutar",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fecha_dia::date AS dia, COUNT(DISTINCT telefono) AS cant_leads, COUNT(DISTINCT CASE WHEN inmueble_identificado = 1 THEN telefono END) AS cant_leads_inmueble_identificado, ROUND( COUNT(DISTINCT CASE WHEN inmueble_identificado = 1 THEN telefono END)::numeric / NULLIF(COUNT(DISTINCT telefono), 0), 2 ) AS porc_identificado, COUNT(DISTINCT CASE WHEN cod_propiedad_unificado ILIKE '%MODO%' THEN telefono END) AS cant_leads_modo, COUNT(DISTINCT CASE WHEN cod_propiedad_unificado NOT ILIKE '%MODO%' THEN telefono END) AS cant_leads_retail FROM crm.bot_leads_david WHERE es_nuevo = 1 AND FECHA_DIA::DATE = CURRENT_DATE - 1 GROUP BY 1 ORDER BY 1 DESC;",
        "additionalFields": {}
      },
      "id": "8c2cb2ec-3469-45e1-8b78-0dcd40007b6a",
      "name": "1. Bot Leads (Ayer)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -112,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parametros AS (\n    SELECT \n        MIN(dia) AS fecha_min,\n        MAX(dia) AS fecha_max\n    FROM (\n        SELECT fecha_dia::date AS dia\n        FROM crm.bot_leads_david\n        WHERE cod_propiedad_unificado ILIKE '%MODO%'\n          AND es_nuevo = 1\n\n        UNION\n\n        SELECT fecha_programada::date AS dia\n        FROM rentas_crm.visitas\n        WHERE formulario ILIKE '%Inquilino interesado%'\n          AND codigo_inmueble ILIKE '%MODO%'\n    ) t\n),\n\ncalendario AS (\n    SELECT generate_series(fecha_min, fecha_max, interval '1 day')::date AS dia\n    FROM parametros\n),\n\nleads AS (\n    SELECT \n        fecha_dia::date AS dia,\n        COUNT(DISTINCT telefono) AS cant_leads\n    FROM crm.bot_leads_david\n    WHERE cod_propiedad_unificado ILIKE '%MODO%'\n      AND es_nuevo = 1\n    GROUP BY 1\n),\n\nvisitas AS (\n    SELECT \n        fecha_programada::date AS dia,\n        COUNT(DISTINCT CELULAR) AS cant_visitas_agendadas_real,\n        COUNT(DISTINCT CASE \n                         WHEN estado NOT IN ('No realizado', 'Cliente no asistió') \n                         THEN CELULAR\n                       END) AS cant_visitas_realizadas\n    FROM rentas_crm.visitas\n    WHERE formulario ILIKE '%Inquilino interesado%'\n      AND codigo_inmueble ILIKE '%MODO%'\n    GROUP BY 1\n)\n\nSELECT \n    c.dia,\n    COALESCE(l.cant_leads, 0)                                          AS cant_leads_real,\n\t50\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tAS cant_leads_target,\n\tCOALESCE(l.cant_leads, 0) - 50                     \t\t\t\t\tAS diff_cant_leads_target,\n    COALESCE(v.cant_visitas_agendadas_real, 0)                          AS cant_visitas_agendadas_real,\n    5                                                                   AS cant_visitas_agendadas_target,\n    COALESCE(v.cant_visitas_agendadas_real, 0) - 5                     AS diff_cant_visitas_agendadas_target,\n    COALESCE(v.cant_visitas_realizadas, 0)                              AS cant_visitas_realizadas,\n    3                                                                   AS cant_visitas_realizadas_target,\n    COALESCE(v.cant_visitas_realizadas, 0) - 3                          AS diff_cant_visitas_realizadas_target\nFROM calendario c\nLEFT JOIN leads   l ON c.dia = l.dia\nLEFT JOIN visitas v ON c.dia = v.dia\nWHERE 1=1\nAND C.DIA = CURRENT_DATE - 1\n-- AND C.DIA >= CURRENT_DATE - 7\n-- AND C.DIA < CURRENT_DATE\nORDER BY c.dia DESC;\n",
        "additionalFields": {}
      },
      "id": "1e33e0aa-8995-4d77-98ee-a6a047c3d44b",
      "name": "2. Modo (Ayer)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        112,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH parametros AS (\n    SELECT \n        MIN(dia) AS fecha_min,\n        MAX(dia) AS fecha_max\n    FROM (\n        SELECT fecha_dia::date AS dia\n        FROM crm.bot_leads_david\n        WHERE cod_propiedad_unificado NOT ILIKE '%MODO%'\n          AND es_nuevo = 1\n\n        UNION\n\n        SELECT fecha_programada::date AS dia\n        FROM rentas_crm.visitas\n\t\tWHERE 1=1\n\t\tAND FORMULARIO ilike '%Inquilino interesado%'\n\t\tAND CODIGO_INMUEBLE NOT ILIKE '%TEST%'\n\t\tAND CODIGO_INMUEBLE NOT ILIKE '%PRUEBA%'\n\t\tAND CODIGO_INMUEBLE NOT ILIKE '%MODO%'\n    ) t\n),\n\ncalendario AS (\n    SELECT generate_series(fecha_min, fecha_max, interval '1 day')::date AS dia\n    FROM parametros\n),\n\nleads AS (\n    SELECT \n        fecha_dia::date AS dia,\n        COUNT(DISTINCT telefono) AS cant_leads\n    FROM crm.bot_leads_david\n    WHERE cod_propiedad_unificado NOT ILIKE '%MODO%'\n      AND es_nuevo = 1\n    GROUP BY 1\n),\n\nvisitas AS (\n    SELECT \n        fecha_programada::date AS dia,\n        COUNT(DISTINCT CELULAR) AS cant_visitas_agendadas_real,\n        COUNT(DISTINCT CASE \n                         WHEN estado NOT IN ('No realizado', 'Cliente no asistió') \n                         THEN CELULAR \n                       END) AS cant_visitas_realizadas\n    FROM rentas_crm.visitas\n\tWHERE 1=1\n\tAND FORMULARIO ilike '%Inquilino interesado%'\n\tAND CODIGO_INMUEBLE NOT ILIKE '%TEST%'\n\tAND CODIGO_INMUEBLE NOT ILIKE '%PRUEBA%'\n\tAND CODIGO_INMUEBLE NOT ILIKE '%MODO%'\n    GROUP BY 1\n)\n\nSELECT \n    c.dia,\n    COALESCE(l.cant_leads, 0)                                          AS cant_leads_real,\n\t50 \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\tAS cant_leads_target,\n\tCOALESCE(l.cant_leads, 0) - 50                     \t\t\t\t\tAS diff_cant_leads_target,\n    COALESCE(v.cant_visitas_agendadas_real, 0)                          AS cant_visitas_agendadas_real,\n    10                                                                   AS cant_visitas_agendadas_target,\n    COALESCE(v.cant_visitas_agendadas_real, 0) - 10                     AS diff_cant_visitas_agendadas_target,\n    COALESCE(v.cant_visitas_realizadas, 0)                              AS cant_visitas_realizadas,\n    7                                                                   AS cant_visitas_realizadas_target,\n    COALESCE(v.cant_visitas_realizadas, 0) - 7                          AS diff_cant_visitas_realizadas_target\nFROM calendario c\nLEFT JOIN leads   l ON c.dia = l.dia\nLEFT JOIN visitas v ON c.dia = v.dia\nWHERE 1=1\nAND C.DIA = CURRENT_DATE - 1\n-- AND C.DIA >= CURRENT_DATE - 7 AND C.DIA < CURRENT_DATE\nORDER BY c.dia DESC;\n",
        "additionalFields": {}
      },
      "id": "0be468a5-caa7-43fb-b9c2-9fecce314981",
      "name": "3. Retail (Ayer)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        336,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH lead_base AS ( SELECT a.id AS lead_id, a.fecha_creacion AS lead_fecha_creacion, a.funnel_id, a.\"customFields\", b.id AS contacto_id, b.nombre, b.apellido_paterno, b.telefono, b.email, b.nro_documento, e.nombre AS etapa_funnel FROM crm.leads a LEFT JOIN crm.contactos b ON a.contacto_id = b.id LEFT JOIN crm.etapas_leads e ON a.etapa_inmueble = e.codigo WHERE a.funnel_id = 7 ), kv AS ( SELECT lb.lead_id, lb.contacto_id, lb.nombre, lb.apellido_paterno, lb.telefono, lb.nro_documento, lb.email, lb.lead_fecha_creacion, lb.funnel_id, lb.etapa_funnel, k.key AS field_id, k.value AS raw_value FROM lead_base lb LEFT JOIN LATERAL jsonb_each(lb.\"customFields\"::jsonb) AS k(key, value) ON true ), kv_norm AS ( SELECT kv.*, trim(both '\"' from kv.raw_value::text) AS raw_text, CASE WHEN jsonb_typeof(kv.raw_value) IN ('number','string') AND (trim(both '\"' from kv.raw_value::text) ~ '^\\d+$') THEN (trim(both '\"' from kv.raw_value::text))::int ELSE NULL END AS raw_id FROM kv ), resolved AS ( SELECT kvn.lead_id, kvn.contacto_id, kvn.nombre, kvn.apellido_paterno, kvn.telefono, kvn.nro_documento, kvn.email, kvn.lead_fecha_creacion, kvn.etapa_funnel, cf.name AS field_name, COALESCE(cv.value, NULLIF(kvn.raw_text,'null')) AS field_value FROM kv_norm kvn LEFT JOIN crm.custom_fields cf ON cf.id = kvn.field_id LEFT JOIN crm.custom_values cv ON cv.field_id = cf.id AND cv.id = kvn.raw_id WHERE cf.funnel_id = 7 ), leads_v1 AS ( SELECT r.lead_id, r.contacto_id, r.nombre, r.apellido_paterno, r.telefono, r.email, r.nro_documento, r.lead_fecha_creacion, r.etapa_funnel, MAX(CASE WHEN r.field_name = '¿En que departamento se encuentra tu inmueble?' THEN r.field_value END) AS departamento, MAX(CASE WHEN r.field_name = '¿En qué distrito se encuentra tu inmueble?' THEN r.field_value END) AS distrito, MAX(CASE WHEN r.field_name = '¿Tu departamento está listo para alquilar o está en construcción?' THEN r.field_value END) AS listo_alquilar FROM resolved r GROUP BY 1,2,3,4,5,6,7,8,9 ), leads_final AS ( SELECT date_trunc('month', lead_fecha_creacion::date)::date AS mes, date_trunc('week', lead_fecha_creacion::date)::date AS semana, lead_fecha_creacion::date AS fechacreacion, nombre, apellido_paterno, nro_documento AS nrodoc, telefono, email, distrito, CASE WHEN distrito IN ( 'Miraflores', 'San Miguel', 'Magdalena', 'Lince', 'Jesús María', 'Pueblo Libre', 'La Victoria', 'Breña', 'Barranco', 'San Borja', 'San Isidro', 'Surquillo', 'Chorrillos', 'Santa Beatriz', 'Surco' ) THEN 'SI' ELSE 'NO' END AS con_cobertura, listo_alquilar FROM leads_v1 ), REPORTE_LEADS AS ( SELECT fechacreacion AS dia, COUNT(DISTINCT telefono) AS cant_leads_real, 5 AS cant_leads_target, COUNT(DISTINCT telefono) - 5 AS diferencia_leads_target, COUNT(DISTINCT CASE WHEN con_cobertura = 'SI' THEN telefono ELSE NULL END) AS cant_leads_cobertura_real, 4 AS cant_leads_cobertura_target, COUNT(DISTINCT CASE WHEN con_cobertura = 'SI' THEN telefono ELSE NULL END) - 4 AS diferencia_cobertura_target FROM leads_final A WHERE 1 = 1 AND A.nombre NOT ILIKE '%TEST%' AND A.nombre NOT ILIKE '%PRUEBA%' AND A.apellido_paterno NOT ILIKE '%Mendoza Mattos%' AND A.apellido_paterno NOT ILIKE '%PRUEBA%' AND A.apellido_paterno NOT ILIKE '%TEST%' AND (A.nrodoc <> '75946464' OR A.nrodoc IS NULL) GROUP BY 1 ), LLAMADAS AS ( SELECT fecha_programada::date AS dia, COUNT(DISTINCT RIGHT(REGEXP_REPLACE(celular, '[^0-9]', '', 'g'), 9)) AS cant_llamadas_agendadas_real FROM rentas_crm.visitas WHERE 1 = 1 AND formulario = 'Propietario interesado' AND RIGHT(REGEXP_REPLACE(celular, '[^0-9]', '', 'g'), 9) NOT IN ('959264957') GROUP BY 1 ), REPORTE_LLAMADAS AS ( SELECT a.dia, a.cant_llamadas_agendadas_real, 5 AS cant_llamadas_agendadas_target, a.cant_llamadas_agendadas_real - 5 AS dif_cant_llamadas_agendadas_target FROM llamadas a ), limites AS ( SELECT MIN(dia) AS fecha_min, MAX(dia) AS fecha_max FROM ( SELECT dia FROM REPORTE_LEADS UNION SELECT dia FROM REPORTE_LLAMADAS ) x ), calendario AS ( SELECT generate_series(fecha_min, fecha_max, interval '1 day')::date AS dia FROM limites ) SELECT c.dia, COALESCE(rl.cant_leads_real, 0) AS cant_leads_real, 5 AS cant_leads_target, COALESCE(rl.cant_leads_real, 0) - 5 AS diferencia_leads_target, COALESCE(rl.cant_leads_cobertura_real, 0) AS cant_leads_cobertura_real, 4 AS cant_leads_cobertura_target, COALESCE(rl.cant_leads_cobertura_real, 0) - 4 AS diferencia_cobertura_target, COALESCE(rl2.cant_llamadas_agendadas_real, 0) AS cant_llamadas_agendadas_real, 5 AS cant_llamadas_agendadas_target, COALESCE(rl2.cant_llamadas_agendadas_real, 0) - 5 AS dif_cant_llamadas_agendadas_target FROM calendario c LEFT JOIN REPORTE_LEADS rl ON c.dia = rl.dia LEFT JOIN REPORTE_LLAMADAS rl2 ON c.dia = rl2.dia WHERE C.DIA = CURRENT_DATE-1 ORDER BY c.dia DESC;",
        "additionalFields": {}
      },
      "id": "bfe9d2e4-bcb2-494b-8af8-b4bdb9885b4c",
      "name": "4. Inventario (Ayer)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        544,
        32
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Helper para recolectar datos y filtrar respuestas vacías (causadas por Always Output Data)\nconst getData = (nodeName) => {\n    try {\n        // Obtenemos los datos del nodo\n        const data = $(nodeName).all().map(i => i.json);\n        // Si el array contiene objetos vacíos o nulos (sin fecha/dia), filtramos\n        return data.filter(row => row && row.dia);\n    } catch (e) {\n        // Si el nodo no se ejecutó o dio error\n        return [];\n    }\n};\n\nconst q1Data = getData('1. Bot Leads (Ayer)');\nconst q2Data = getData('2. Modo (Ayer)');\nconst q3Data = getData('3. Retail (Ayer)');\nconst q4Data = getData('4. Inventario (Ayer)');\n\n// Estilos Compartidos\nconst headerStyle = 'background-color: #ecf0f1; border: 1px solid #bdc3c7; padding: 6px; color: #2c3e50; text-align: center; font-weight: bold; font-family: Arial, sans-serif; font-size: 12px;';\nconst cellStyle = 'border: 1px solid #bdc3c7; padding: 6px; text-align: center; font-family: Arial, sans-serif; font-size: 12px;';\nconst titleStyle = 'font-family: Arial, sans-serif; color: #2c3e50; border-bottom: 2px solid #3498db; padding-bottom: 5px; margin-top: 20px;';\n\n// Helper de Color\nconst getBgColor = (val) => {\n  val = parseInt(val) || 0;\n  if (val < 0) return '#ffcccc'; // Rojo\n  if (val > 0) return '#ccffcc'; // Verde\n  return '#fff5cc'; // Amarillo\n};\n\n// --- Función Tabla 1: Resumen General ---\nfunction buildGeneralTable(data, title) {\n  let html = `<h3 style=\"${titleStyle}\">${title}</h3>`;\n  if (!data || data.length === 0) return html + \"<p style='font-family:Arial; font-size:12px'>No se encontraron datos.</p>\";\n\n  html += '<table style=\"width: 100%; border-collapse: collapse; margin-bottom: 10px;\">';\n  html += '<thead><tr>';\n  // CAMBIO: Títulos actualizados\n  const headers = ['Fecha', 'Total Leads', 'Inmuebles Identificados', '% Identificado', 'Modo', 'Retail'];\n  headers.forEach(h => html += `<th style=\"${headerStyle}\">${h}</th>`);\n  html += '</tr></thead><tbody>';\n\n  for (const row of data) {\n    const dateStr = row.dia ? new Date(row.dia).toISOString().split('T')[0] : 'N/A';\n    const pct = row.porc_identificado ? Math.round(row.porc_identificado * 100) + '%' : '0%';\n    html += '<tr>';\n    html += `<td style=\"${cellStyle}\"><strong>${dateStr}</strong></td>`;\n    html += `<td style=\"${cellStyle}\">${row.cant_leads || 0}</td>`;\n    html += `<td style=\"${cellStyle}\">${row.cant_leads_inmueble_identificado || 0}</td>`;\n    html += `<td style=\"${cellStyle}\">${pct}</td>`;\n    html += `<td style=\"${cellStyle}\">${row.cant_leads_modo || 0}</td>`;\n    html += `<td style=\"${cellStyle}\">${row.cant_leads_retail || 0}</td>`;\n    html += '</tr>';\n  }\n  html += '</tbody></table>';\n  return html;\n}\n\n// --- Función Tabla 2 y 3: Operativa (Modo/Retail) ---\nfunction buildTargetTable(data, title) {\n  let html = `<h3 style=\"${titleStyle}\">${title}</h3>`;\n  if (!data || data.length === 0) return html + \"<p style='font-family:Arial; font-size:12px'>No se encontraron datos.</p>\";\n\n  html += '<table style=\"width: 100%; border-collapse: collapse; margin-bottom: 10px;\">';\n  html += '<thead><tr>';\n  // CAMBIO: Títulos actualizados\n  const headers = ['Fecha', 'Leads Real', 'Target', 'Dif', 'Visitas Agendadas', 'Target', 'Dif', 'Visitas Realizadas', 'Target', 'Dif'];\n  headers.forEach(h => html += `<th style=\"${headerStyle}\">${h}</th>`);\n  html += '</tr></thead><tbody>';\n\n  for (const row of data) {\n    const dateStr = row.dia ? new Date(row.dia).toISOString().split('T')[0] : 'N/A';\n    const colLead = getBgColor(row.diff_cant_leads_target);\n    const colAgen = getBgColor(row.diff_cant_visitas_agendadas_target);\n    const colReal = getBgColor(row.diff_cant_visitas_realizadas_target);\n\n    html += '<tr>';\n    html += `<td style=\"${cellStyle}\"><strong>${dateStr}</strong></td>`;\n    html += `<td style=\"${cellStyle}\">${row.cant_leads_real || 0}</td>`;\n    html += `<td style=\"${cellStyle} color: #7f8c8d;\">${row.cant_leads_target || 0}</td>`;\n    html += `<td style=\"${cellStyle} background-color: ${colLead};\">${row.diff_cant_leads_target || 0}</td>`;\n\n    html += `<td style=\"${cellStyle}\">${row.cant_visitas_agendadas_real || 0}</td>`;\n    html += `<td style=\"${cellStyle} color: #7f8c8d;\">${row.cant_visitas_agendadas_target || 0}</td>`;\n    html += `<td style=\"${cellStyle} background-color: ${colAgen};\">${row.diff_cant_visitas_agendadas_target || 0}</td>`;\n\n    html += `<td style=\"${cellStyle}\">${row.cant_visitas_realizadas || 0}</td>`;\n    html += `<td style=\"${cellStyle} color: #7f8c8d;\">${row.cant_visitas_realizadas_target || 0}</td>`;\n    html += `<td style=\"${cellStyle} background-color: ${colReal};\">${row.diff_cant_visitas_realizadas_target || 0}</td>`;\n    html += '</tr>';\n  }\n  html += '</tbody></table>';\n  return html;\n}\n\n// --- Función Tabla 4: Inventario (Leads, Cobertura, Llamadas) ---\nfunction buildInventarioTable(data, title) {\n  let html = `<h3 style=\"${titleStyle}\">${title}</h3>`;\n  if (!data || data.length === 0) return html + \"<p style='font-family:Arial; font-size:12px'>No se encontraron datos.</p>\";\n\n  html += '<table style=\"width: 100%; border-collapse: collapse; margin-bottom: 10px;\">';\n  html += '<thead><tr>';\n  // CAMBIO: Títulos actualizados\n  const headers = ['Fecha', 'Leads Real', 'Target', 'Dif', 'Leads en Cobertura', 'Target', 'Dif', 'Llamadas', 'Target', 'Dif'];\n  headers.forEach(h => html += `<th style=\"${headerStyle}\">${h}</th>`);\n  html += '</tr></thead><tbody>';\n\n  for (const row of data) {\n    const dateStr = row.dia ? new Date(row.dia).toISOString().split('T')[0] : 'N/A';\n    const colLead = getBgColor(row.diferencia_leads_target);\n    const colCob = getBgColor(row.diferencia_cobertura_target);\n    const colLlam = getBgColor(row.dif_cant_llamadas_agendadas_target);\n\n    html += '<tr>';\n    html += `<td style=\"${cellStyle}\"><strong>${dateStr}</strong></td>`;\n    html += `<td style=\"${cellStyle}\">${row.cant_leads_real || 0}</td>`;\n    html += `<td style=\"${cellStyle} color: #7f8c8d;\">${row.cant_leads_target || 0}</td>`;\n    html += `<td style=\"${cellStyle} background-color: ${colLead};\">${row.diferencia_leads_target || 0}</td>`;\n\n    html += `<td style=\"${cellStyle}\">${row.cant_leads_cobertura_real || 0}</td>`;\n    html += `<td style=\"${cellStyle} color: #7f8c8d;\">${row.cant_leads_cobertura_target || 0}</td>`;\n    html += `<td style=\"${cellStyle} background-color: ${colCob};\">${row.diferencia_cobertura_target || 0}</td>`;\n\n    html += `<td style=\"${cellStyle}\">${row.cant_llamadas_agendadas_real || 0}</td>`;\n    html += `<td style=\"${cellStyle} color: #7f8c8d;\">${row.cant_llamadas_agendadas_target || 0}</td>`;\n    html += `<td style=\"${cellStyle} background-color: ${colLlam};\">${row.dif_cant_llamadas_agendadas_target || 0}</td>`;\n    html += '</tr>';\n  }\n  html += '</tbody></table>';\n  return html;\n}\n\nlet finalHtml = \"\";\n\nfinalHtml += buildGeneralTable(q1Data, \"1. Resumen General Bot Leads (Ayer)\");\nfinalHtml += buildTargetTable(q2Data, \"2. Detalle Operativo: MODO (Ayer)\");\nfinalHtml += buildTargetTable(q3Data, \"3. Detalle Operativo: RETAIL (Ayer)\");\nfinalHtml += buildInventarioTable(q4Data, \"4. Detalle Operativo: INVENTARIO (Ayer)\");\n\nreturn [{ json: { html_final: finalHtml } }];"
      },
      "id": "a320a6eb-fb6e-4c41-b8bc-32b1212590ef",
      "name": "Formatear HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        768,
        32
      ]
    },
    {
      "parameters": {
        "sendTo": "valeria.vega@proper.com.pe",
        "subject": "Reporte diario de leads y visitas rentas",
        "message": "={{ $json.html_final }}",
        "options": {}
      },
      "id": "cdd053a2-93d9-4a16-96e0-a8baf88cced8",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        992,
        32
      ],
      "webhookId": "e061af9a-eae8-4388-95ef-4966afbac880",
      "credentials": {
        "gmailOAuth2": {
          "id": "SPurZ4Z9pGQy8MKJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "e2e41406-1b66-4890-b66a-845fff860456",
      "name": "Programado (8 AM)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -336,
        224
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-12-06T16:10:11.878Z",
      "updatedAt": "2025-12-06T16:10:11.878Z",
      "role": "workflow:owner",
      "workflowId": "B5epSnzliaGnLJPn",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": {
    "node:Programado (8 AM)1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-06T16:10:49.544Z",
  "versionId": "b2522500-7fbb-4487-90d3-2590bef94974"
}