workflows/bJgLKx8yTE9LNvvM.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "List records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List records": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "List records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List records1": {
      "main": [
        [
          {
            "node": "Existe Deal ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existe Deal ID": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Update a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T00:13:04.492Z",
  "id": "bJgLKx8yTE9LNvvM",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Proper - Cotizaciones DNI - Bitrix",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "proper-cotizacionesdni-bitrix",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "dceba98b-4eb7-49a5-9d54-d9cddd05de22",
      "name": "Webhook",
      "webhookId": "b623c622-4068-44a5-a595-02dc0a889141"
    },
    {
      "parameters": {
        "authentication": "bitrixWebhookApi",
        "resource": "crm.contact",
        "operation": "list",
        "parameters": {
          "filter": {
            "property": [
              {
                "field": "UF_CRM_3237DE05",
                "value": "={{ $json.body.dni }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-bitrix.bitrix",
      "typeVersion": 1,
      "position": [
        176,
        0
      ],
      "id": "1a9ff949-53f2-490f-99cd-e62e8e570eec",
      "name": "List records",
      "credentials": {
        "bitrixWebhookApi": {
          "id": "ROP1MNW41IyhXNQY",
          "name": "BitrixCuentaEdu"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "22d4cd5f-e2e3-4aa1-bc46-28b5f4eca45c",
              "leftValue": "={{ $json.result[0].ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "92349371-c9c9-4a16-bb5a-e1be8b2b2dff",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "bitrixWebhookApi",
        "operation": "list",
        "parameters": {
          "filter": {
            "property": [
              {
                "field": "CONTACT_ID",
                "value": "={{ $json.result[0].ID }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-bitrix.bitrix",
      "typeVersion": 1,
      "position": [
        592,
        0
      ],
      "id": "aa79596f-15f4-40bd-bb78-f5f1204b0159",
      "name": "List records1",
      "credentials": {
        "bitrixWebhookApi": {
          "id": "ROP1MNW41IyhXNQY",
          "name": "BitrixCuentaEdu"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef9705be-b974-497b-a476-6f70e6fcc484",
              "leftValue": "={{ $json.result[0].ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "b2262cc7-1149-4bc1-9e9d-5a0f06031346",
      "name": "Existe Deal ID"
    },
    {
      "parameters": {
        "authentication": "bitrixWebhookApi",
        "resource": "crm.contact",
        "operation": "update",
        "id": "={{ $('List records').item.json.result[0].ID }}",
        "fields": {
          "values": [
            {
              "name": "COMMENTS",
              "value": "No existe deal - DNI"
            }
          ]
        }
      },
      "type": "n8n-nodes-bitrix.bitrix",
      "typeVersion": 1,
      "position": [
        1008,
        96
      ],
      "id": "f2b09543-93a8-4c28-a0e7-92531fcdb074",
      "name": "Update a record",
      "credentials": {
        "bitrixWebhookApi": {
          "id": "ROP1MNW41IyhXNQY",
          "name": "BitrixCuentaEdu"
        }
      }
    },
    {
      "parameters": {
        "authentication": "bitrixWebhookApi",
        "operation": "get",
        "id": "={{ $('List records1').item.json.result[0].ID }}"
      },
      "type": "n8n-nodes-bitrix.bitrix",
      "typeVersion": 1,
      "position": [
        1008,
        -96
      ],
      "id": "7150155c-99a7-4746-aa1f-1e1d65480d8c",
      "name": "Get a record",
      "credentials": {
        "bitrixWebhookApi": {
          "id": "ROP1MNW41IyhXNQY",
          "name": "BitrixCuentaEdu"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "92bd40b5-745c-4f6e-91ab-5141bdb855ad",
              "leftValue": "={{ $json.result.CATEGORY_ID }}",
              "rightValue": "5",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1216,
        -96
      ],
      "id": "253f82c2-f407-49b1-b852-c0a36e7da036",
      "name": "Filter1"
    },
    {
      "parameters": {
        "authentication": "bitrixWebhookApi",
        "operation": "update",
        "id": "={{ $('Get a record').item.json.result.ID }}",
        "fields": {
          "values": [
            {
              "name": "STAGE_ID",
              "value": "C5:UC_T2D4AX"
            },
            {
              "name": "UF_CRM_1720704487",
              "value": "={{ $('Webhook').item.json.body.fecha.split('-').reverse().map(part => part.padStart(2, '0')).join('.') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-bitrix.bitrix",
      "typeVersion": 1,
      "position": [
        1424,
        -96
      ],
      "id": "170df062-6c3b-4d38-ae9b-5092dcd8e628",
      "name": "Update a record1",
      "credentials": {
        "bitrixWebhookApi": {
          "id": "ROP1MNW41IyhXNQY",
          "name": "BitrixCuentaEdu"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-0299.up.railway.app",
            "user-agent": "Make/production",
            "content-length": "317",
            "accept-encoding": "gzip, br, deflate",
            "content-type": "application/json",
            "traceparent": "00-68c18f71000000001889a497b34436cf-1889a497b34436cf-00",
            "tracestate": "dd=t.tid:68c18f7100000000;t.dm:-1;s:0;p:1889a497b34436cf",
            "x-datadog-parent-id": "1768125300174239439",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=68c18f7100000000",
            "x-datadog-trace-id": "1768125300174239439",
            "x-forwarded-for": "54.161.178.114",
            "x-forwarded-host": "primary-production-0299.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "fX1aAk3uQkWDkwD0g4a9AQ",
            "x-real-ip": "54.161.178.114",
            "x-request-start": "1757515633537"
          },
          "params": {},
          "query": {},
          "body": {
            "dni": "45414075",
            "fecha": "2025-9-9",
            "asesor": "elena.aranibar@proper.com.pe",
            "cliente": "Jaime toribio .",
            "proyecto": "db38b443-4e9c-4d42-addc-b7c8f917bfb3",
            "departamento": "-",
            "correo_asesor": "elena.aranibar@proper.com.pe",
            "proyecto_nombre": "monumento 506",
            "departamento_nombre": ""
          },
          "webhookUrl": "https://primary-production-0299.up.railway.app/webhook/proper-cotizacionesdni-bitrix",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T00:13:04.492Z",
      "updatedAt": "2025-09-10T00:13:04.492Z",
      "role": "workflow:owner",
      "workflowId": "bJgLKx8yTE9LNvvM",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-10T15:08:15.190Z",
  "versionId": "f341b632-fe3d-45ba-97e9-6562694e1378"
}