workflows/DXEjkncA9fksqVfJ.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-12T00:15:49.238Z",
    "createdAt": "2026-02-12T00:15:49.237Z",
    "versionId": "ec8badd0-d954-453e-8af2-09006a0ce192",
    "workflowId": "DXEjkncA9fksqVfJ",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "fa974b22-2ba3-47de-a58b-76684e4d74f9",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          400
        ],
        "id": "499fe83f-603e-4986-b084-acaee6b47cb4",
        "name": "Webhook",
        "webhookId": "fa974b22-2ba3-47de-a58b-76684e4d74f9"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const celularRaw = $input.item.json.body.phone || $input.item.json.body[0].body.phone || '';\n\n// Eliminar todo lo que no sea dígito\nlet digits = celularRaw.replace(/\\D/g, '');\n\n// Si ya empieza con 51, se queda\nif (digits.startsWith('51')) {\n  digits = digits;\n} else if (digits.startsWith('0')) {\n  digits = '51' + digits.slice(1);\n} else {\n  digits = '51' + digits;\n}\n\n// Añadir el + adelante\n$input.item.json.celular = '+' + digits;\n\nreturn $input.item;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          220,
          400
        ],
        "id": "531679cb-4c41-40f5-8442-dae961a85fa8",
        "name": "Code"
      },
      {
        "parameters": {
          "url": "=https://propertamibotcom.kommo.com/api/v4/contacts?query={{ $json.celular }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          400
        ],
        "id": "0fa7e868-71df-45b3-a23f-8b476030aef1",
        "name": "HTTP Request1",
        "credentials": {
          "oAuth2Api": {
            "id": "CUkAxEZkWpxNLUY2",
            "name": "Proper"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://propertamibotcom.kommo.com/api/v4/contacts/{{ $json.contact }}?with=leads",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          400
        ],
        "id": "4c835691-f89c-40cc-9ec7-b6bcebdb025a",
        "name": "HTTP Request",
        "credentials": {
          "oAuth2Api": {
            "id": "CUkAxEZkWpxNLUY2",
            "name": "Proper"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const leads = item.json._embedded?.leads || [];\n\n  for (const lead of leads) {\n    items.push({\n      json: {\n        lead_id: lead.id,\n        contacto_id: item.json.id,\n        contacto_nombre: item.json.name,\n      }\n    });\n  }\n}\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1320,
          400
        ],
        "id": "4b3be259-2c81-4e76-aec0-a3df0f184633",
        "name": "Code1"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          1320,
          150
        ],
        "id": "c646139c-ac4d-4643-b8a7-934410b07f1d",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "url": "=https://propertamibotcom.kommo.com/api/v4/leads/{{ $json.lead_id }}?with=contacts",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1540,
          0
        ],
        "id": "8ea0eeeb-70c5-4a14-b392-d4da698c0c9c",
        "name": "HTTP Request2",
        "credentials": {
          "oAuth2Api": {
            "id": "CUkAxEZkWpxNLUY2",
            "name": "Proper"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e5ad2441-fc9d-4999-8354-e6c0f43dc12b",
                "leftValue": "={{ $json.pipeline_id }}",
                "rightValue": 9165176,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1760,
          25
        ],
        "id": "9dfb00de-abed-4314-8a3a-ce7511c3781c",
        "name": "If"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://propertamibotcom.kommo.com/api/v4/leads/{{ $json.id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"status_id\": 72466296\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1980,
          100
        ],
        "id": "9c9c8631-01a6-48c2-b93e-74b23222aade",
        "name": "HTTP Request3",
        "credentials": {
          "oAuth2Api": {
            "id": "CUkAxEZkWpxNLUY2",
            "name": "Proper"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const leads = item.json._embedded?.contacts || [];\n\n  for (const lead of leads) {\n    items.push({\n      json: {\n        contact: lead.id\n      }\n    });\n  }\n}\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          400
        ],
        "id": "9c45d72d-a597-457b-9edb-1a279095908e",
        "name": "Code2"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          880,
          400
        ],
        "id": "d8e4cf46-c6d8-4a18-8e2b-4e40fcf1db58",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "include": "specifiedFields",
          "fieldsToInclude": "lead_id",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1540,
          475
        ],
        "id": "4b04dbb0-999a-4f9f-9b1c-e8111ab9800f",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const leads = item.json.data || [];\n\n  for (const lead of leads) {\n    items.push({\n      json: {\n        lead_id: lead.lead_id\n      }\n    });\n  }\n}\n\nreturn items;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          150
        ],
        "id": "35ca1783-66f8-4dcb-91fe-384bd95ff0fb",
        "name": "Code3"
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Code2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code2": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "Code3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code3": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "ec8badd0-d954-453e-8af2-09006a0ce192",
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-25T13:03:52.899Z",
  "id": "DXEjkncA9fksqVfJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "LlamadasKommo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fa974b22-2ba3-47de-a58b-76684e4d74f9",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "id": "499fe83f-603e-4986-b084-acaee6b47cb4",
      "name": "Webhook",
      "webhookId": "fa974b22-2ba3-47de-a58b-76684e4d74f9"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const celularRaw = $input.item.json.body.phone || $input.item.json.body[0].body.phone || '';\n\n// Eliminar todo lo que no sea dígito\nlet digits = celularRaw.replace(/\\D/g, '');\n\n// Si ya empieza con 51, se queda\nif (digits.startsWith('51')) {\n  digits = digits;\n} else if (digits.startsWith('0')) {\n  digits = '51' + digits.slice(1);\n} else {\n  digits = '51' + digits;\n}\n\n// Añadir el + adelante\n$input.item.json.celular = '+' + digits;\n\nreturn $input.item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        400
      ],
      "id": "531679cb-4c41-40f5-8442-dae961a85fa8",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "=https://propertamibotcom.kommo.com/api/v4/contacts?query={{ $json.celular }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        400
      ],
      "id": "0fa7e868-71df-45b3-a23f-8b476030aef1",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://propertamibotcom.kommo.com/api/v4/contacts/{{ $json.contact }}?with=leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        400
      ],
      "id": "4c835691-f89c-40cc-9ec7-b6bcebdb025a",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const leads = item.json._embedded?.leads || [];\n\n  for (const lead of leads) {\n    items.push({\n      json: {\n        lead_id: lead.id,\n        contacto_id: item.json.id,\n        contacto_nombre: item.json.name,\n      }\n    });\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        400
      ],
      "id": "4b3be259-2c81-4e76-aec0-a3df0f184633",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1320,
        150
      ],
      "id": "c646139c-ac4d-4643-b8a7-934410b07f1d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://propertamibotcom.kommo.com/api/v4/leads/{{ $json.lead_id }}?with=contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1540,
        0
      ],
      "id": "8ea0eeeb-70c5-4a14-b392-d4da698c0c9c",
      "name": "HTTP Request2",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5ad2441-fc9d-4999-8354-e6c0f43dc12b",
              "leftValue": "={{ $json.pipeline_id }}",
              "rightValue": 9165176,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1760,
        25
      ],
      "id": "9dfb00de-abed-4314-8a3a-ce7511c3781c",
      "name": "If"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://propertamibotcom.kommo.com/api/v4/leads/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status_id\": 72466296\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        100
      ],
      "id": "9c9c8631-01a6-48c2-b93e-74b23222aade",
      "name": "HTTP Request3",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const leads = item.json._embedded?.contacts || [];\n\n  for (const lead of leads) {\n    items.push({\n      json: {\n        contact: lead.id\n      }\n    });\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        400
      ],
      "id": "9c45d72d-a597-457b-9edb-1a279095908e",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        400
      ],
      "id": "d8e4cf46-c6d8-4a18-8e2b-4e40fcf1db58",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "lead_id",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1540,
        475
      ],
      "id": "4b04dbb0-999a-4f9f-9b1c-e8111ab9800f",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "jsCode": "const items = [];\n\nfor (const item of $input.all()) {\n  const leads = item.json.data || [];\n\n  for (const lead of leads) {\n    items.push({\n      json: {\n        lead_id: lead.lead_id\n      }\n    });\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        150
      ],
      "id": "35ca1783-66f8-4dcb-91fe-384bd95ff0fb",
      "name": "Code3"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-0299.up.railway.app",
            "user-agent": "PostmanRuntime/7.44.1",
            "content-length": "151",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "postman-token": "e424a6d0-dacc-4d88-bc12-5243df027459",
            "x-forwarded-for": "179.6.7.119",
            "x-forwarded-host": "primary-production-0299.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "CF9ZjXXdRkaRCj9cCx5-qw",
            "x-real-ip": "179.6.7.119",
            "x-request-start": "1750871757523"
          },
          "params": {},
          "query": {},
          "body": {
            "idVisita": "137f7801-5e2b-441d-94bb-e4468d67a18e",
            "phone": "959264957",
            "name": "Valeria ",
            "correo": "Vega.valeria1324@gmail.com"
          },
          "webhookUrl": "https://primary-production-0299.up.railway.app/webhook-test/fa974b22-2ba3-47de-a58b-76684e4d74f9",
          "executionMode": "test"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-06-25T13:03:52.899Z",
      "createdAt": "2025-06-25T13:03:52.899Z",
      "role": "workflow:owner",
      "workflowId": "DXEjkncA9fksqVfJ",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-25T17:40:03.946Z",
  "versionId": "ec8badd0-d954-453e-8af2-09006a0ce192"
}