workflows/ECmFkMX904F4cDML.json
{
  "active": true,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        []
      ]
    },
    "Correo": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-23T19:40:06.275Z",
  "id": "ECmFkMX904F4cDML",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CodigoUrbania",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2cfc52b-1e7b-4dde-9954-dae6cfff0ede",
              "name": "text",
              "value": "={{ $json.query?.mensaje || $json.body?.text || $json.text || JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        208
      ],
      "id": "ceb2938a-3742-4aeb-b5cf-8a362f1d6d85",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06bba813-25c8-4406-bbbd-c7debfbcf268",
              "leftValue": "={{$json.body.sender}}",
              "rightValue": "=usuarios.adondevivir.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "251b8991-39f0-412a-9241-22c50f0b9038",
              "leftValue": "={{ $json.body.sender }}",
              "rightValue": "usuarios.urbania.pe",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        560,
        208
      ],
      "id": "9c0271cc-6c85-427d-bf64-af828c546f8b",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "descripcion",
              "cssSelector": "meta[name=\"description\"]",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "precio",
              "cssSelector": "meta[name='precioAlquiler']",
              "returnValue": "attribute",
              "attribute": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1632,
        -80
      ],
      "id": "71dcef57-2d1b-461b-aace-254ed3464a7f",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const descripcion = $json[\"descripcion\"] || '';\nconst match = descripcion.match(/\\{\\[(.*?)\\]\\}/);\nconst codigo = match ? match[1] : null;\n\nreturn [{\n  codigo,\n  ...$json\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -80
      ],
      "id": "8ca30014-7767-470c-aa79-9d5df12eacbc",
      "name": "Code"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "correo-proper",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        352,
        208
      ],
      "id": "48803a8d-8e93-4724-a09d-e38b58146ffa",
      "name": "Correo",
      "webhookId": "fc3d0ae9-0adb-4923-84f7-9fac900512da"
    },
    {
      "parameters": {
        "jsCode": "const text = $json[\"text\"];\n\n// 📞 Teléfono\nconst phoneMatch = text.match(/Tel[eé]fono:\\s*(\\d{6,})/);\nconst phone = phoneMatch ? phoneMatch[1] : null;\nconst nameMatch = text.match(/Nombre y apellido:\\s*(.+?)\\s*(?:DNI|Tel[eé]fono|Email|E-mail|Correo|$)/i);\nconst name = nameMatch ? nameMatch[1].trim() : null;\n\n// 📧 Email\nconst emailMatch = text.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/);\nconst email = emailMatch ? emailMatch[0] : null;\nconst fechaUTC = new Date($('Correo').first().json.body.date);\n\n// Convertir a Lima (GMT-5)\nconst fechaLima = fechaUTC.toLocaleDateString('es-PE', {\n  timeZone: 'America/Lima'\n});\n\n// 🔗 URL del aviso justo después de \"Ver aviso\"\nconst urlMatch = text.match(/Ver aviso[\\s\\S]*?\\[(https?:\\/\\/[^\\]\\s]+)/);\nconst url = urlMatch ? urlMatch[1] : null;\n\n// 🔥 Output\nreturn [\n  {\n    json: {\n      name:name,\n      phone: phone.startsWith('+51') ? phone : `+51${phone}`,\n      email: email,\n      date:fechaLima,\n      url_aviso: url\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        208
      ],
      "id": "6fb55fe5-7bb8-444b-abb2-e486f6d812ff",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "={{ $json.url_aviso }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        208
      ],
      "id": "4d156c6a-74dc-497b-8273-f34551da701e",
      "name": "HTTP Request2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "crm",
          "mode": "list",
          "cachedResultName": "crm"
        },
        "table": {
          "__rl": true,
          "value": "datos_urbania",
          "mode": "list",
          "cachedResultName": "datos_urbania"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "codigo": "={{ $json.codigo }}",
            "telefono": "={{ $('Code1').item.json.phone }}",
            "correo": "={{ $('Code1').item.json.email }}",
            "fecha": "={{ $('Correo').item.json.body.date }}",
            "link_urbania": "={{ $('HTTP Request2').item.json.headers.location }}",
            "nombre_pre_inquilino": "={{ $('Code1').item.json.name }}",
            "precio": "={{ $json.precio }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "codigo",
              "displayName": "codigo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "correo",
              "displayName": "correo",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "precio",
              "displayName": "precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "link_urbania",
              "displayName": "link_urbania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre_pre_inquilino",
              "displayName": "nombre_pre_inquilino",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        208
      ],
      "id": "49354b46-865a-4698-99e8-a86e8d10d521",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://3.15.201.205:3000/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"url\":\"{{ $json.headers.location }}\"\n}",
        "options": {
          "timeout": 360000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -64
      ],
      "id": "a92a6847-a35d-4bba-a366-fadb0c1dc167",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM crm.departamentos_urbania\nWHERE\n  id_urbania = {{ $json.id_urbania }}\n  OR id_adondevivir = {{ $json.id_urbania }}\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        208
      ],
      "id": "9d47371e-46fb-47e5-9b16-bf1553c57c53",
      "name": "Postgres1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cff59ab-24c0-49bd-b327-a84191dbe2d0",
              "name": "id_urbania",
              "value": "={{ $json.headers.location.match(/-(\\d{6,12})(?:\\.html)?\\?/)?.[1] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        208
      ],
      "id": "bbe05740-2b4a-4207-aab0-6369dbbcf7aa",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "Correo": [
      {
        "json": {
          "headers": {
            "host": "primary-production-0299.up.railway.app",
            "user-agent": "Make/production",
            "content-length": "19786",
            "accept-encoding": "gzip, br, deflate",
            "content-type": "multipart/form-data; boundary=--------------------------704263020026978709037731",
            "traceparent": "00-692fcae1000000003cebe7dda6c41644-3cebe7dda6c41644-00",
            "tracestate": "dd=t.tid:692fcae100000000;t.dm:-1;s:0;p:3cebe7dda6c41644",
            "x-datadog-parent-id": "4389857200974337604",
            "x-datadog-sampling-priority": "0",
            "x-datadog-tags": "_dd.p.tid=692fcae100000000",
            "x-datadog-trace-id": "4389857200974337604",
            "x-forwarded-for": "54.209.79.175",
            "x-forwarded-host": "primary-production-0299.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "AiHi089SSUmaJ3Xeg4a9AQ",
            "x-real-ip": "54.209.79.175",
            "x-request-start": "1764739809599"
          },
          "params": {},
          "query": {},
          "body": {
            "sender": "elviacevedo651@usuarios.adondevivir.com",
            "text": "urbania.com\n[https://storage.googleapis.com/leads_statics_resources/mails/logosv4/logo-urbania.png?t=1764739804055]\nhttp://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc825mi1kCl1XzlhwQulgB1dA0RQOffJ0tQwYtATW33cnObOxm-2BkOhyE3Q233SjajKIS-2FKH2Nsd237PoDBn20kq9QdhxFOL-2BI-2Fyv18x05bsVAxYljxpriFVD-2FncKcwYapJzmtx2a9pRoO3gq53t6LucEsfSGpMlgwGahHIJs7OOVA75PEB_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjXr5da4RPDUGiZbllqlbS1ZiW9PoMLCa51-2F9YX9F-2B0SM10T5rXsV13o6tL6V0-2BNTfriByopR4toc4mOgSjIup2GwXsvQuFklo18YTsFYy875-2BGd-2BMa9oCEVeYOGcQ8Pr6XB2eYvi6o6lNBZGpjvM8bbGgCF9MsBQijccRmQwWM4GKL-2FGORkXqLRvDcfXowLqRkfttsqSeHJpmFNro8TUYd7cUn-2Bnbckifiv1y68-2F7cE5vj-2FPBEJOlnB5SAaDS584FkmuH9xNdO8-2Bh76Wb7tqSuIXbeS8qvDHAr4kMU68G8JveBYQfo-2FHkC-2Fq1ljjULbS6Q-3D\n\n¡Hola, PROPER RENTAS! Hay interesados que consultaron tu número de WhatsApp por\nel siguiente aviso: ¡Hola, PROPER RENTAS! Hay interesados que consultaron tu\nnúmero de WhatsApp por el siguiente aviso:\n\n[https://img10.naventcdn.com/avisos/11/01/48/18/39/62/200x149/1572044625.jpg]\n[https://img10.naventcdn.com/avisos/11/01/48/18/39/62/290x180/1572044625.jpg]\nhttp://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8-2F0Asy8P-2FvlHh2tlMpTYci9wmsrgzdNfiMukbdD3XHGSkQpB-2BGit0480b-2FqP6b6KlAodNU79c-2BlQ87o8rFMDso01rbWGn57whLuJvC1l2be8VZ3lTXPefF3SETuUegCNmBZD8IScnCdT4Iahk4n8-2Bx5BaW-2BEiVDfRKXgXCZhRszqCWi0auPtjY8H-2BCCC5imbX2r9m-2FvTkUF1IniB1-2BgdeiI-3DjFs7_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUb33S6MMSXBo-2B9-2Bg-2BmeZt63lM231-2FDpx0HpZxFXAG9WqIYpar3mjfaqewdbHImb5wYxXemozdYhTNIUoMqCZTjBctOqS1yhA3O-2FP3crCuEh3gOROChXUGfIYDfh127ALEBVvjZiRNbZ2-2BOB4NMYeyrnvQJeRShV6UZbXZeXw8iiEp-2BScY6HLKA-2B7zEqFZLsT2FsmrQA-2BRS47HpaVwym64s4E7OSzQ0GlVNM7GBEGM9HXGp0eqbMZfUaIml1qgpx0w5ofFhQyphQ4lGVZRiderb6tSv6MCqwAcqbOpiZso7ABfJHcfrPiPnyCPbLEdkBV0-3D\n\nAlquiler  |  Departamento\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8-2F0Asy8P-2FvlHh2tlMpTYci9wmsrgzdNfiMukbdD3XHGSkQpB-2BGit0480b-2FqP6b6KlAodNU79c-2BlQ87o8rFMDso01rbWGn57whLuJvC1l2be8VZ3lTXPefF3SETuUegCNmBZD8IScnCdT4Iahk4n8-2Bx6mbZr2Z027CfEOFFLbnjTbG5sHSM-2By9tCSN9d6ICRWH-2FI85kcytuTClRau0baTQyc-3DarrM_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjWNcGcb0mYsIYfPvSQAIysUCZuG-2FlZ7bGsX-2BirvC-2F0ogq7ctos3NPo4HJCMWT5OcJR-2FZunbsGv1pcEPaZYUY8nirH6tav5FjY-2FwrmsaiEqWYyaTcj-2FCaTm6PYEq4sA-2FHplm4LU-2FzC7t3Mq-2BlljuYwE-2F72L0uMjZp9yk2-2BIODK8ok-2FSYj6Qe9kKQaRG3yZkr8EPTMSd6gzJ-2BAzY-2FNITO3UJAjS0CygoimEwa2vcdF7NYb97ilgxrStInhfQaqCc7NHI-2BgKAAVCyPm4Z588mgp8GEYKd6JK8enxuTVGMUAbYKvO0rXzMOKB-2Bdv9gAXm4nZqA-3D]\nS/ 2,400 +  S/ 120 Mantenimiento\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8-2F0Asy8P-2FvlHh2tlMpTYci9wmsrgzdNfiMukbdD3XHGSkQpB-2BGit0480b-2FqP6b6KlAodNU79c-2BlQ87o8rFMDso01rbWGn57whLuJvC1l2be8VZ3lTXPefF3SETuUegCNmBZD8IScnCdT4Iahk4n8-2Bx6mbZr2Z027CfEOFFLbnjTbG5sHSM-2By9tCSN9d6ICRWH-2FI85kcytuTClRau0baTQyc-3DjzLl_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjU5h5MRBSB7eXPpS19RgFWYtVeKln2JV7T2iT7tDKZF-2BQc3-2BZVhxuljZZvh5fvEg6nuU3XRgfY-2FggXBrdLrc2V-2Besv9JHsDSPbG5pI7k0P2vaIqqMTOK5EZRDaCjQGaS4LY6qgZUIRDK6I6rgrzAyWyKu-2BgEGfAkrz8-2FnxB7d6HnD-2BX3NeuSTGHOrAQNZ-2FZEiE5FoEpIEGBBiGBGLslTfjjq5GVdHDElMPaWDobAD7voAas5t7ckPU6i-2BlUdg5Np8DgvlAnSJrFs6EJdNBvHUGzUjFT-2BsJARSOOlS0p-2Fw7WbrjIQNovfxIQfNDhoyoH4I4-3D]\n\nRío Moche, 275, 15084, Lima, Lima, Perú Pueblo Libre, Lima\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8-2F0Asy8P-2FvlHh2tlMpTYci9wmsrgzdNfiMukbdD3XHGSkQpB-2BGit0480b-2FqP6b6KlAodNU79c-2BlQ87o8rFMDso01rbWGn57whLuJvC1l2be8VZ3lTXPefF3SETuUegCNmBZD8IScnCdT4Iahk4n8-2Bx6mbZr2Z027CfEOFFLbnjTbG5sHSM-2By9tCSN9d6ICRWH-2FI85kcytuTClRau0baTQyc-3Dc9vf_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjWcP2Em5UQj1fuOdO3vQgdKDGsE-2FzFG9AvTj4iclLaE9Gh8D05z7r1nsqz8v1iaDnFRotOqH06ZuFFZtSNn40h5n1E3P6RnXlI5v7ux4cUEGhsWFworfz4OyHXH1PIfpZVDcicu8Xk2YEUKao1F7Q2196lWLXo-2FqeJa6Kr-2BwTeEqu-2Bx27h69PCFwpPcJAo9dO4-2FmM-2FGblKG9-2FhdPUoWJrhW0a524X81aWT4JWSnDQWRuOBcXuM5WuIFXR8xqQ4pMG58KURCa1Te7Rt4rxwdRfFpMFQFAeyqjcqkGCik8k1EcoIimttm0s23EI4wHHqhYs0-3D]\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/cards/caracteristicas/metros.png]\n87 m2\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/cards/caracteristicas/ambientes.png]\n3 dormitorios\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/cards/caracteristicas/banio.png]\n2 baños\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/cards/caracteristicas/cochera.png]\n2 estacionamientos\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8-2F0Asy8P-2FvlHh2tlMpTYci9wmsrgzdNfiMukbdD3XHGSkQpB-2BGit0480b-2FqP6b6KlAodNU79c-2BlQ87o8rFMDso01rbWGn57whLuJvC1l2be8VZ3lTXPefF3SETuUegCNmBZD8IScnCdT4Iahk4n8-2Bx6mbZr2Z027CfEOFFLbnjTbG5sHSM-2By9tCSN9d6ICRWH-2FI85kcytuTClRau0baTQyc-3DOLr-_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUYp3EWkBax1a4RRr1qsvLeemTPmKjgsW43dyepF-2Bw3KRd4hN2mVhsR9lrfp0NhygHn4NTDU-2FWr8qw3hQuew-2BrXMEw5xZcQqxOGsz1TShFcSK1sx2L90r-2F8lT3PNAyp-2B7NsolNu8u6CusmpRbF-2FzgNfVfaJ7K71ajIm7Yi9rmy90S9IFoJXNzOKCEpJGGamVqxrMAdb6jLoyRYgeYpgzjAiSl-2FuWUfuAumzfwxN8fsQU0AVUrPs1YlBhEEDD4p7hl7gtmTGX2N4RHnBPJVL1rS8JkElqvgOCDQsWwhp6q3hX1rreDGp8BnSAdoxLA-2BbkH0-3D]\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/cards/caracteristicas/metros.png]\n87 m2\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/cards/caracteristicas/ambientes.png]\n3 dorm.\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/cards/caracteristicas/banio.png]\n2 baños\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/cards/caracteristicas/cochera.png]\n2 ests.\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8-2F0Asy8P-2FvlHh2tlMpTYci9wmsrgzdNfiMukbdD3XHGSkQpB-2BGit0480b-2FqP6b6KlAodNU79c-2BlQ87o8rFMDso01rbWGn57whLuJvC1l2be8VZ3lTXPefF3SETuUegCNmBZD8IScnCdT4Iahk4n8-2Bx6mbZr2Z027CfEOFFLbnjTbG5sHSM-2By9tCSN9d6ICRWH-2FI85kcytuTClRau0baTQyc-3D4d1O_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjURlkfSPljsHHxrEgX3JwYrcRPX8mVw9OpTbRUIAxhSd-2BDB-2BOYe2zdCI-2FsH3mxwPzAeP-2FTnIQZiEFPd3wdK7aP5iUgyeyXU-2BZwjjhAp-2FqGfUBH5AXe7jEO7XPiPB1xpFBDd7kD1aZl0BPahd18FmlRSQlNsittKw8-2Ftj4CF22QXFdbnB1GXA8qysS9Duw-2FnTzOUm-2FFpy6QXKgvvTy4B0Th6P-2Bhl0-2B-2BcGGc3hrPqlx8GPbbYqxtXe36GXAAdA5WHf0i6RqvYshiu0x3vZIIm38xIWpBYa-2FOZcTPFo6iaFmlw8UvrsZTOc2Kc-2FZc9CedDZsc-3D]\nAlquiler  |  Departamento\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8-2F0Asy8P-2FvlHh2tlMpTYci9wmsrgzdNfiMukbdD3XHGSkQpB-2BGit0480b-2FqP6b6KlAodNU79c-2BlQ87o8rFMDso01rbWGn57whLuJvC1l2be8VZ3lTXPefF3SETuUegCNmBZD8IScnCdT4Iahk4n8-2Bx6mbZr2Z027CfEOFFLbnjTbG5sHSM-2By9tCSN9d6ICRWH-2FI85kcytuTClRau0baTQyc-3DpWCC_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjVpAxZQfAiUpX5j5Bi8c9l2MnLwtMDh7-2F7d7Po0PAZnFVYUaxpXLiNoc89BAaObC2UZiqv2NIVDo6VU1-2BiRCTGKUf2-2ByqpwHvEyFS2ulWXaqu5UvOKgBijC7v4rPQUlVwu7Vi6NCeSJMZ7upSRYlLSRlzdd2H6juo-2FIi-2Fp-2FvdF-2F-2FJeacO-2FyYYjgn7UEcpMeBEoRTLfaUJCriHuLk1yOAv3kp0NsZT-2BjhTd23mg6R53m40Lu9Ouy4zGmGIwJZQ3kUzZtYK5GnExzJh-2FWpzq7f7pFulfUirme56uAjgxxvTGMxEBz8lqJ9f7-2FhiD9lpn17tA-3D]\nVer aviso\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8-2F0Asy8P-2FvlHh2tlMpTYci9wmsrgzdNfiMukbdD3XHGSkQpB-2BGit0480b-2FqP6b6KlAodNU79c-2BlQ87o8rFMDso01rbWGn57whLuJvC1l2be8er6rgURoQCqt3Wh7wvWmQcqL702Tv3bjUzBw0AFyWM4U45v4U8LnWhIiTfTHLM4sTGFKgMqFRIO7MQ4zHbzqy-2BkFm-2B7SmIiRLgb7yMRZ523iJQuq2uwIhhW2ObXz1tG1zJrl_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjWsgdaMbslbnPtP3d4BpWLCE5l4l2KAmTkmB4PKOejoZk83IM7GFwE3EptJybjFmBQcH6zqskT5ClHxJb0Hjt4wT7Tn3fOY1VR2gSQMPz47HG0yLNCLrBGgJYEimPmePzV39hLFzYFvBvevlY2Ry2vSwGcfZB0rVCoiqc1p0lyctWApB0rz-2BxMZXZBTMXMfn26wnfvUK1aURAJDbbPB-2F9iOYPWuXn-2FYfdSRlPllZpDEimsh0eZVJdMlVHIGn67qY0bb6Bvc8S3vGp4tjKn7wFTboepixuGvi75jOUx-2B9m0lEYafvfITrv9dIA6-2FcERDxm8-3D]\n\nCódigo de aviso: 148183962 Código del anunciante: 62S8PC\nDatos del interesado\nNombre y apellido: ELVIRA ZOILA ACEVEDO HERNANDEZZ\nDNI: undefined\nTeléfono: 992799929\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/general/misc/destacado.png]\nE-mail: elviacevedo65@gmail.com [elviacevedo65@gmail.com]\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/general/misc/destacado.png]\n\nConoce lo que busca ELVIRA ZOILA ACEVEDO HERNANDEZZ en un inmueble Tu contacto\nbusca:\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/general/misc/lupa.png]\nDepartamento en Renta\n[https://storage.googleapis.com/leads_statics_resources/mails/templates/general/misc/dinero.png]\nPEN 1.800 - PEN 2.600\nLe interesa encontrar un inmueble en: Pueblo Libre Jesús María San Miguel Oyague\nEl Carmen\nVer perfil\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8zsMllz9Wxe-2BjVhXRWULZDXoa04BiaDcQNoRbYUH10R-2FBDFpIBSWnSQkhrkUfUXnF-2F0Rp2bLXMztKkMxbvf8idTVlr4zU2oiDdqUsiyCVgqR9ulR7ZPjv0FdvWDdSfRZ0FfxiqP6vNXFITfVV-2FILVxYovaVWSVWmAYrkxhhOkkPq5DdcUmvMipMBG2-2FHPFeWsA-3D-3DeqB3_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUh6FAIem0yjExyiLBDEQHc3rCOwpjI9t3wltj1euEM-2BOuskYoiFDcbxYKZgfdfPqrCaVMMXbAcmVURqFqKt8EVzr3WvC5iyT9l-2FyM0yP2dEVfJ24ziBKlJevGmPZY8Wsq-2FE9SzP3iD7d3y0l1-2BHC0LRrQB5ER-2Bvf4vQwemYpkMQorHv-2Bo9GJ2cL-2FgHcic3RblKXaaSB3QUNJoTtU5ZB0wCzo1V44U-2FE3hD8-2FdeD1oHlBDyQMMLhlneEwlXiNJpS-2BPNC8nATGFGy0bPGBJe6tueCve0RBhFZH5xbDQ-2BSEjw9lWbwvGBpSyIklVMWUI-2BTaY-3D]\n\nLa respuesta de este email será enviada a elviacevedo65@gmail.com\n[elviacevedo65@gmail.com]\n\n\n\nurbania.com\n[https://storage.googleapis.com/leads_statics_resources/mails/logosv4/logo-urbania.png?t=1764739804055]\nhttp://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc825mi1kCl1XzlhwQulgB1dA0RQOffJ0tQwYtATW33cnObOxm-2BkOhyE3Q233SjajKIS-2FKH2Nsd237PoDBn20kq9QdhxFOL-2BI-2Fyv18x05bsVAxYljxpriFVD-2FncKcwYapJzhMN-2F-2F-2BhZ9xj0Cv1I8lGJ3k-3DqYP6_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUb33S6MMSXBo-2B9-2Bg-2BmeZt6Qxsi8sUyuj0N60BUtGgX0C-2F5AruyKUQ3j7dQx-2FXbq9LHNUTu0Zbba9-2FWnkLi5qJorFMnIyGHoO-2BD7K5EK3HWuMWLA-2FvFSCef1LfrCtbeC3yJ3fwCCjUP20oO6ONwWGvK2i2KeitrW9nIF-2FmlRAyoTsJM2BAeuaX4z0-2BSqlQQ8zQOCy-2FizGAADoMownNVSKy5zK4jpXkotZmM7nROtIoh-2BDszL57t90nT8mxwJ-2F3huofiBuPqB76fAdX6K2gdqw3TbJzCXX3Nxgh0LUYZtT-2BeRIvKlpRANqB8EqNon91cMNg-3D\n\n\n[https://storage.googleapis.com/leads_statics_resources/mails/logosv4/logo-quintoandar.png]\nhttp://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8xuDqgOWQe3C6UIDsSqkPqy67niCqeLgRayWWKVjp4MW3Min_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUb33S6MMSXBo-2B9-2Bg-2BmeZt6gIPen2HbSXysgGS-2FvvzoqZuaNz98F1Q5D30SRMhSgHBWnDSu-2Fg2cm9vks7qQKtArflBnRw1VcEmImzwm3mpXWqIAZAUQKyxpVxIY5BqWsV-2BRT6H9BGGBLKacIn6lP-2FAA3omg-2FNVVELypZ4bQZOknp2Ocd8TXZzZqZ9KJ3e3ZndV8l6KDvf09DCUOjgn-2F0YSHxmRFLrfT7mo4TXlU3m9L-2FSUTB9twHchg-2BnIlxXT-2FIO6al5wlpDzDP0-2BeJflKIRtxSiVJi7JNNPCdYObkxYovxbAFXEM2N5dSOFhIC51Pqx8-3D\nPolíticas de Privacidad\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc89mG-2BdKtzXWfzm8e3488-2BT2T53pW-2FsMXP9-2BUW-2BaNIKd1rJcFYWI4qvZbYq6kdo-2B5-2FLmHACQ7XviYrf0oAIHKFN4-3DQ18L_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUb33S6MMSXBo-2B9-2Bg-2BmeZt6dswi2uiV0aEm01Ugv2xm517scE0tPxf-2BrxeMaV5vqQ1-2Bbj0BftmmQF3dqQPrZ7G3Q8A48xoTFkB1BkAUBfr7-2FxYXcOJk9lPkuGaFlfk4HJQ-2FMYphJ0pu1zSdG8Y7mHlRrrwfXH02BMXi2DrzwH4NazqyhaWKOnfzqca5ZBK-2FIoMDbj-2FdJVMdYgwAruJPILpxBkHMYXppqaEHdw70cBl1EAE7m708OmLuwvFy19V9PP9AsOvZQDFmlRitF5i4LepjD5tBvSjTTOVQ8gzYFEf0nuLDIPeBvDtTEEChmXI1Oc0-3D]\n| Términos y Condiciones de uso\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc89mG-2BdKtzXWfzm8e3488-2BT2T53pW-2FsMXP9-2BUW-2BaNIKd1sZU699h7EikxVcjdhWtbwOvU9hLKiWq9-2FvkNX60SXYbcl2t4l5IUhjbAeOyELAW7dP0F_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUb33S6MMSXBo-2B9-2Bg-2BmeZt6fTAeaggMTMj8hxmUeNbCAgTD1gakgv6cAuM91rIygvnxnHXSUS8GiCXF-2BK3h1JER6nMnBrZv9vrGKtGppezGI7AqnytV9ve970GoVeVr6SEmkONyZ6AkqOK-2B13YHudRD9kb9jp3MVR31kT0-2BGYABV6Mo60jq0XW2rYsuxdBh8nNwvJvgKMR5T4G9-2FvQ7p55OBr5JYg9pVjoaTSvPzOTyUn4JrR3ESmg1KFd4ODnWeORSdE5VKnRseYpeJtLVSTPkTsfwJdo48iity7YNMvAZjIJaktHXcgOUx-2BQmHARnz3U-3D]\n\n[https://storage.googleapis.com/leads_statics_resources/mails/logosv4/logo-quintoandar.png]\nhttp://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc8xuDqgOWQe3C6UIDsSqkPqy67niCqeLgRayWWKVjp4MWelhk_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUb33S6MMSXBo-2B9-2Bg-2BmeZt6Ivxa6GKKymPgXf7A-2BZubJSzQac9kcUo9qsDQv5KoFMI-2B1a3hky-2B9S9spL3Bxu0N2b3a-2BO6g40K1P2cABmualdNuggEqLIBFt1LfBBq1PjaOl9isZ60IBrAl5oPOWu6iUbVOJUn3YaODBEz7mbZgyng8DfHvrqEbTO-2FW1EfeaOr6zqwa7Y9HBPO6mAVAP6KCdazaGpSg3wfN5JUuKamuH76nkSunX4ILgRPgfmixCUHHYApNFJaGnhH-2BlCnzt7fvTmO8u-2F1Jpik6A-2BEAn3-2B7OUPFvmwaPIs5f9Ygh2-2BCywu4-3D\nPolíticas de Privacidad\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc89mG-2BdKtzXWfzm8e3488-2BT2T53pW-2FsMXP9-2BUW-2BaNIKd1rJcFYWI4qvZbYq6kdo-2B5-2FLmHACQ7XviYrf0oAIHKFN4-3Db12b_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUb33S6MMSXBo-2B9-2Bg-2BmeZt6Umm3VzhkQuj-2FWzW-2B3Iq1CSYVXCEWqRCCtTAE3JlHQUsLxY1vRV1iHr3Y4vcpzfslyjBVYnvMKRyRno9xwtxtK-2Fyl1VP3NDGDpTTMfchk4u23BA1yb7QhNBJl-2BN6v8uE71qH0Gd5V3CVY3WPq83O7EOzDsr-2BKv23kNaVzJY9VC8Aj-2FLC8NTO5XuplPwumr0-2FCQ244RFiCxd5Wy-2FEzvpyGa1XIKquO0wsQCi9PjX1u5g5AMVBHzOTJxmyNLlAXEnFISlTxHMVssIvafIvhJ9urkCncK02djwoaQbnwKeOoJvQ-3D]\nTérminos y Condiciones de uso\n[http://url5581.usuarios.inmuebles24.com/ls/click?upn=u001.RRZssfXDl0XhfXB0owvc89mG-2BdKtzXWfzm8e3488-2BT2T53pW-2FsMXP9-2BUW-2BaNIKd1sZU699h7EikxVcjdhWtbwOvU9hLKiWq9-2FvkNX60SXYbcl2t4l5IUhjbAeOyELAW7ztwG_-2FUUYQ43rod4IJTLf4mV8KtPe5M8Nbq-2FhvT7LMEPCM1dV3-2FFUNHB4Z3vE6sCQBfGPkQMKNIhHX2RNmrYJEH7yD8Cy1X-2BFgTkzfAhEvti5Bha7P2a00LPUa-2FXKPTv99yaCJmGB8c9692psaKE-2FYVNT5Mdqc9C9adfw1wBkyivwn9hJYYpmx7aHXClIX-2FHYgU7u3yRw-2BQnf8SP0gJkkQH1GqGBLRDL2T1iLNl9qfTs86bEEY756Drm3CJMZQHDSv7ybKsyQFd1J8UGfcmZEZlckk9iSVMOH0Mv0a0lmKpKtrjUb33S6MMSXBo-2B9-2Bg-2BmeZt6NKbp4CfBK94s3qczH1IMxxDiar0sdYx1jJDKP4wMJr7KJORsgAM9UnhO2i9pVPbLP9k-2FejamBQEC2FWLUPvzAu0HCN0MWz-2FvvbVG5Uf94-2FLFCr-2BObwL9IUGVfkcAxSoDwAe3t0NNtqLmtRwC0jeQc1EQMKW1oc8uF-2Fqt4fEpk1IKYxCAbZSGQvlvm0X-2FyqvphbqocAXF-2F-2B-2FfG71Qbqsf5j-2FTw0QCIiisIpKWdsNmcm-2BbiqZgwbMoL7RNQ1bIniH1Lajgjl8ln45m47n7d6sTmFjz7ktsEJFB9SwCMaO39zU-3D]\n\nE-HOLDING S.A.C. (RUC: 20522947891)\n\n[http://url5581.usuarios.inmuebles24.com/wf/open?upn=u001.6I-2BtciyMg0aQf109tvp4W7EH5uzZueIKuQVLrRk0XzXiWDrwR-2BSGzAj8Scn-2FBTWX49BxkjUdacX-2F7oh-2BJliP2dp4O1BUDz95kAPhuT4Eva-2FwuiEz6u6JTvpASvQNeJ6w4rGACLML6XqOsCmvV-2FHIlj9B8mBgsJ4uKlrNV1ph44Lw2UkwnVPsOuHC3lXjeYFBHxu4G2htuU5fYify7k0ANre39OoO1FcA7rRzI2PeaLQs1WFcRdjCPtboCtUK3A1TGdKRSvNutOC8drUwnOYXlVi1nTmp7jlBbYtCfHfis2-2B7bCjZPl-2FtwoKvw-2BvIsveX8X-2BrT6Ud2pF1HYkcVVXmU-2BMU86DqMlpesJrEJKf33vdQDmkVxuv1ZKdm8jzdfhr9iilZmlG28opkO3cUTlY2JEkHPcJzSgKRSQahM3ntYkvdwtS5Pp3lsPrsV3EstQsEYrkPcYypzupvyFGRFIWng7-2BnYlP4BEgsKCKbDLIStXUkIXFN2gofwK7AprVXYk2sCssbfZ402p500KefCOL8joyR-2BNIRHUtTfGrEk4wVdEFnyHKsSDhF3F3EDt9jFf5ikD7rOSzCykuHQ5REj-2F72EyZ5HygqPrJz-2BneygO4XxsE-3D]",
            "date": "2025-12-03T05:30:09.364Z"
          },
          "webhookUrl": "https://primary-production-0299.up.railway.app/webhook/correo-proper",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-06-23T19:40:06.275Z",
      "updatedAt": "2025-06-23T19:40:06.275Z",
      "role": "workflow:owner",
      "workflowId": "ECmFkMX904F4cDML",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-03T13:20:45.333Z",
  "versionId": "82a74098-529e-475b-af47-71afa65066cf"
}