workflows/FF4Js81gFtPjrYXv.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "List records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List records": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a record": {
      "main": [
        [
          {
            "node": "Filter2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter2": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-04T19:39:54.369Z",
  "id": "FF4Js81gFtPjrYXv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Evento: Crédito Hipotecario FINAL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "credito-hipotecario-final",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "cb2fa50e-ea8c-4b04-9457-3932a9b810fb",
      "name": "Webhook",
      "webhookId": "e6990a70-5015-4ec2-804e-ef143154a1ef"
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.data.rows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "2f53a0af-b5eb-4996-83ff-44d200d53f1c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "registro_web_usuario",
          "mode": "list",
          "cachedResultName": "registro_web_usuario"
        },
        "limit": 10,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.dimensionValues[1].value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "90fc3aef-24a5-4f53-88fc-27addff0d516",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "bitrixWebhookApi",
        "operation": "list",
        "parameters": {
          "filter": {
            "property": [
              {
                "field": "ID",
                "value": "={{ $json.id_deal_web }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-bitrix.bitrix",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "207b95e6-11da-419f-8f95-5954ceba428c",
      "name": "List records",
      "credentials": {
        "bitrixWebhookApi": {
          "id": "ROP1MNW41IyhXNQY",
          "name": "BitrixCuentaEdu"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b45e9d40-d0ac-4f7f-9c09-4ef8933b63a7",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "04bb0139-2ce5-46f6-9d3b-bc559041334e",
              "leftValue": "={{ $json.id_deal_web }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "60579032-0caa-40d7-8c67-197fc4eb69ca",
              "leftValue": "={{ $json.id_contacto }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "a38b24dd-f4cc-4d5e-94f9-d73df7c50a3b",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc7af743-10bb-4d91-a485-eda6e9cbfdd8",
              "leftValue": "={{ Number($json.result[0].ID) }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1008,
        0
      ],
      "id": "7ee74c60-9b3b-4ff2-b983-1e3ae445b344",
      "name": "Filter1"
    },
    {
      "parameters": {
        "authentication": "bitrixWebhookApi",
        "operation": "get",
        "id": "={{ Number($json.result[0].ID) }}"
      },
      "type": "n8n-nodes-bitrix.bitrix",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "8bdc1114-9d4e-41e7-b61d-e32c0b581ec4",
      "name": "Get a record",
      "credentials": {
        "bitrixWebhookApi": {
          "id": "ROP1MNW41IyhXNQY",
          "name": "BitrixCuentaEdu"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "afeebfa4-12bc-4e46-b415-923c997ee348",
              "leftValue": "={{ Number($json.result.ASSIGNED_BY_ID) }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1424,
        0
      ],
      "id": "e4f293a4-eb19-40b3-9233-3646e974de5a",
      "name": "Filter2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "bitrix",
          "mode": "list",
          "cachedResultName": "bitrix"
        },
        "table": {
          "__rl": true,
          "value": "asesor",
          "mode": "list",
          "cachedResultName": "asesor"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ Number($json.result.ASSIGNED_BY_ID) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1632,
        0
      ],
      "id": "62356be6-e614-412b-9fef-93d64b72b2a8",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "960fc10f-79f7-42f5-8b39-d194f4d749a2",
              "leftValue": "={{ $('Get a record').item.json.result.STAGE_ID }}",
              "rightValue": "C5:UC_GFZ3OE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "4b69a178-b13b-4751-9d46-53d0ca71db83",
              "leftValue": "={{ $('Get a record').item.json.result.STAGE_ID }}",
              "rightValue": "C5:LOSE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "88dcf1df-9bf6-4ced-9dab-f1178760b4a8",
              "leftValue": "={{ $('Get a record').item.json.result.STAGE_ID }}",
              "rightValue": "C5:APOLOGY",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "db8846e9-b4d2-4865-bbd2-48247f982309",
              "leftValue": "={{ $('Get a record').item.json.result.STAGE_ID }}",
              "rightValue": "C5:WON",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "d578447e-70dd-44e9-94da-b5e883c2721e",
              "leftValue": "={{ $('Get a record').item.json.result.ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3bfb9e87-9699-4b00-8711-03bbbc7ddda8",
              "leftValue": "={{ Number($json.id) }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1824,
        0
      ],
      "id": "bf1c42cb-a67f-4100-b7e1-7befcb4fbe76",
      "name": "Filter3"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1YOHspTg0VUMQSX_4jteym-67vrrCZbuGJcEpUhCbZfg",
          "mode": "list",
          "cachedResultName": "CONSOLIDADOEVENTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOHspTg0VUMQSX_4jteym-67vrrCZbuGJcEpUhCbZfg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1YOHspTg0VUMQSX_4jteym-67vrrCZbuGJcEpUhCbZfg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asesor": "={{ $('Select rows from a table1').item.json.correo }}",
            "Fecha": "={{ $('Split Out').item.json.dimensionValues[3].value.replace(/(\\d{4})(\\d{2})(\\d{2})/, '$1-$2-$3') }}",
            "Nombre": "={{ $('Select rows from a table').item.json.nombre }}",
            "Apellido": "={{ $('Select rows from a table').item.json.apellido_materno }} {{ $('Select rows from a table').item.json.apellido_paterno }}",
            "Correo": "={{ $('Select rows from a table').item.json.correo }}",
            "Celular": "={{ $('Select rows from a table').item.json.celular }}",
            "Tipo Evento": "crédito Hipotecario",
            "Proyecto Simuló": "={{ $('Split Out').item.json.dimensionValues[2].value }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "asesor",
              "displayName": "asesor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Apellido",
              "displayName": "Apellido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Celular",
              "displayName": "Celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo Evento",
              "displayName": "Tipo Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proyecto Favorito",
              "displayName": "Proyecto Favorito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proyecto Simuló",
              "displayName": "Proyecto Simuló",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Proyecto Analizó",
              "displayName": "Proyecto Analizó",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Residencia",
              "displayName": "Residencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ingresos",
              "displayName": "Ingresos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Monto Inicial",
              "displayName": "Monto Inicial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tiene un crédito hipotecario",
              "displayName": "Tiene un crédito hipotecario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modalidad de Trabajo",
              "displayName": "Modalidad de Trabajo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meses de Continuidad Laboral",
              "displayName": "Meses de Continuidad Laboral",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2016,
        0
      ],
      "id": "f7f14dcd-632f-43f9-8224-e15bdda128b1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WQy7dRpZDtSa20hj",
          "name": "n8n - Agosto 25"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "primary-production-0299.up.railway.app",
            "user-agent": "Make/production",
            "content-length": "10340",
            "accept-encoding": "gzip, br, deflate",
            "content-type": "application/json",
            "traceparent": "00-68bf66210000000017727129f293a29a-726988503168a7cd-01",
            "tracestate": "dd=t.dm:-0;t.tid:68bf662100000000;s:1;p:726988503168a7cd",
            "x-datadog-parent-id": "8244270470886107085",
            "x-datadog-sampling-priority": "1",
            "x-datadog-tags": "_dd.p.tid=68bf662100000000,_dd.p.dm=-0",
            "x-datadog-trace-id": "1689537235194716826",
            "x-forwarded-for": "54.161.178.114",
            "x-forwarded-host": "primary-production-0299.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/us-east4-eqdc4a",
            "x-railway-request-id": "Ghzw2OiHSFeX_gRxCx5-qw",
            "x-real-ip": "54.161.178.114",
            "x-request-start": "1757374130002"
          },
          "params": {},
          "query": {},
          "body": {
            "source": "google_analytics",
            "timestamp": "2025-09-08T23:28:49.964Z",
            "data": {
              "dimensionHeaders": [
                {
                  "name": "eventName"
                },
                {
                  "name": "customEvent:id_user"
                },
                {
                  "name": "customEvent:proyecto"
                },
                {
                  "name": "date"
                }
              ],
              "metricHeaders": [
                {
                  "name": "eventCount",
                  "type": "TYPE_INTEGER"
                }
              ],
              "rows": [
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "616b1580-c0a1-70fb-ee36-5223de3e1f6c"
                    },
                    {
                      "value": "catolica"
                    },
                    {
                      "value": "20250903"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "14"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "810b85f0-40e1-7076-39ea-fd2938215def"
                    },
                    {
                      "value": "santa beatriz"
                    },
                    {
                      "value": "20250906"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "13"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "e18bb510-d0f1-70aa-26f7-708686c44dd8"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "13"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "515ba570-e081-70be-6019-de3298c5af5d"
                    },
                    {
                      "value": "lince"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "11"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "31bb25f0-b061-70b8-39d1-f9eefc29e104"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250905"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "10"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "71dbc550-4071-70fc-dc26-d37747453e45"
                    },
                    {
                      "value": "carrión"
                    },
                    {
                      "value": "20250831"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "10"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "f18be560-c0a1-70f0-06d5-97ac1676a096"
                    },
                    {
                      "value": "benavides"
                    },
                    {
                      "value": "20250905"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "9"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "117b45c0-d051-702f-e20e-0a0bf777f897"
                    },
                    {
                      "value": "lince 2"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "8"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "117b55c0-d0a1-7095-9a26-dbce9ca3d670"
                    },
                    {
                      "value": "benavides"
                    },
                    {
                      "value": "20250906"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "8"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "71bb65d0-9071-70ba-b03a-b300fe2fc8f8"
                    },
                    {
                      "value": "carrión"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "7"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "c10be590-d0a1-70d7-eba8-868d1326f14a"
                    },
                    {
                      "value": "catolica"
                    },
                    {
                      "value": "20250905"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "5"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "d17b3500-f0a1-703c-59c2-1550ead9f220"
                    },
                    {
                      "value": "marsano 1201"
                    },
                    {
                      "value": "20250903"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "5"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "119bc570-c041-709f-9cc9-2a91c0433f80"
                    },
                    {
                      "value": "petit"
                    },
                    {
                      "value": "20250831"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "4"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "416b3550-4011-7068-6b62-ef5292031b76"
                    },
                    {
                      "value": "guisse 504"
                    },
                    {
                      "value": "20250831"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "4"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "616bd530-5061-709c-78b3-ee9cd5b408a6"
                    },
                    {
                      "value": "benavides"
                    },
                    {
                      "value": "20250905"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "4"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "b1abf580-50f1-7027-4982-9884627e9b85"
                    },
                    {
                      "value": "lince 2"
                    },
                    {
                      "value": "20250907"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "4"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "71fb85f0-5031-7040-490d-794cd57058d7"
                    },
                    {
                      "value": "marsano 1201"
                    },
                    {
                      "value": "20250831"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "3"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "817bb550-b0d1-703d-b16b-2b3d7182e6b7"
                    },
                    {
                      "value": "lince 2"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "3"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "01db25c0-9001-7036-21a5-b4107300f572"
                    },
                    {
                      "value": "carrión"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "01db25c0-9001-7036-21a5-b4107300f572"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "114be580-20e1-70cb-d14d-82c8ce5a12f6"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "310bb5a0-c041-70db-b3cb-f5ec24bad7c8"
                    },
                    {
                      "value": "lince 2"
                    },
                    {
                      "value": "20250907"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "312b55e0-8051-701c-6e39-b10016e013fd"
                    },
                    {
                      "value": "benavides"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "416b3550-4011-7068-6b62-ef5292031b76"
                    },
                    {
                      "value": "derby 2"
                    },
                    {
                      "value": "20250831"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "515ba570-e081-70be-6019-de3298c5af5d"
                    },
                    {
                      "value": "monumento 506"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "517b05c0-4071-7062-6467-ce63fd80f6de"
                    },
                    {
                      "value": "barranco"
                    },
                    {
                      "value": "20250903"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "611bd5a0-2051-7063-2cd6-c90bce85f5d0"
                    },
                    {
                      "value": "monumento 506"
                    },
                    {
                      "value": "20250903"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "615b9550-7071-705e-4816-9a9d1d80f0e5"
                    },
                    {
                      "value": "benavides"
                    },
                    {
                      "value": "20250905"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "811b65b0-7031-704e-0e75-02d6bb899c2a"
                    },
                    {
                      "value": "canadá"
                    },
                    {
                      "value": "20250831"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "918b4510-5001-708f-1a0b-a7d154d63c24"
                    },
                    {
                      "value": "guisse 504"
                    },
                    {
                      "value": "20250906"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "a1fb35a0-6031-7073-4373-bce70fe3ea60"
                    },
                    {
                      "value": "berisso"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "b1cb6550-b071-70b4-72b5-44836064ecf2"
                    },
                    {
                      "value": "carrión"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "2"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "111be560-20c1-7085-7093-5c7ec3f57130"
                    },
                    {
                      "value": "marsano 1601"
                    },
                    {
                      "value": "20250903"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "214b1520-4041-70c7-a852-cdb8c412989f"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "217b3540-9001-70ad-1f97-e2cb9ed030ea"
                    },
                    {
                      "value": "lince 2"
                    },
                    {
                      "value": "20250905"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "217bb5d0-b0e1-70b7-70b1-01aefceb770d"
                    },
                    {
                      "value": "santa beatriz"
                    },
                    {
                      "value": "20250902"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "310bb5a0-c041-70db-b3cb-f5ec24bad7c8"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250907"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "315b5510-4051-7095-85a0-2eb8f2cfb870"
                    },
                    {
                      "value": "catolica"
                    },
                    {
                      "value": "20250907"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "31cbd500-1091-70fa-ce1d-6ee3d1175e84"
                    },
                    {
                      "value": "marsano 1201"
                    },
                    {
                      "value": "20250902"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "411bc5d0-e031-70f2-333a-095da52c0995"
                    },
                    {
                      "value": "panamá"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "515ba570-e081-70be-6019-de3298c5af5d"
                    },
                    {
                      "value": "c. orquídeas 1002"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "515ba570-e081-70be-6019-de3298c5af5d"
                    },
                    {
                      "value": "kubo"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "515ba570-e081-70be-6019-de3298c5af5d"
                    },
                    {
                      "value": "panamá"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "517b05c0-4071-7062-6467-ce63fd80f6de"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250903"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "71bb65d0-9071-70ba-b03a-b300fe2fc8f8"
                    },
                    {
                      "value": "benavides"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "71bb65d0-9071-70ba-b03a-b300fe2fc8f8"
                    },
                    {
                      "value": "costanera 1806"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "71bb65d0-9071-70ba-b03a-b300fe2fc8f8"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "71bb65d0-9071-70ba-b03a-b300fe2fc8f8"
                    },
                    {
                      "value": "park g"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "71fb85f0-5031-7040-490d-794cd57058d7"
                    },
                    {
                      "value": "catolica"
                    },
                    {
                      "value": "20250831"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "816bb520-b081-7096-363b-61d260e68cf3"
                    },
                    {
                      "value": "barranco"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "816bb520-b081-7096-363b-61d260e68cf3"
                    },
                    {
                      "value": "benavides"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "816bb520-b081-7096-363b-61d260e68cf3"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "817bb550-b0d1-703d-b16b-2b3d7182e6b7"
                    },
                    {
                      "value": "marsano 1601"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "c17bc5b0-f011-70ec-b662-9bbf58144b26"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "c17bc5b0-f011-70ec-b662-9bbf58144b26"
                    },
                    {
                      "value": "marsano 1601"
                    },
                    {
                      "value": "20250904"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "d10b1530-90e1-70b0-a98d-177d2a331c27"
                    },
                    {
                      "value": "lince 2"
                    },
                    {
                      "value": "20250902"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "e1eb3540-5091-7011-6999-5bd150f8e881"
                    },
                    {
                      "value": "benavides"
                    },
                    {
                      "value": "20250901"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                },
                {
                  "dimensionValues": [
                    {
                      "value": "click calcular"
                    },
                    {
                      "value": "f1eb7530-2011-704a-492b-7973497cbbae"
                    },
                    {
                      "value": "innova"
                    },
                    {
                      "value": "20250907"
                    }
                  ],
                  "metricValues": [
                    {
                      "value": "1"
                    }
                  ]
                }
              ],
              "rowCount": 58,
              "metadata": {
                "currencyCode": "PEN",
                "timeZone": "America/Lima"
              },
              "kind": "analyticsData#runReport"
            }
          },
          "webhookUrl": "https://primary-production-0299.up.railway.app/webhook/credito-hipotecario-final",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-04T19:39:54.369Z",
      "updatedAt": "2025-09-04T19:39:54.369Z",
      "role": "workflow:owner",
      "workflowId": "FF4Js81gFtPjrYXv",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-20T14:39:44.808Z",
  "versionId": "60e35b52-661c-4cc9-9290-5a9956b0f60d"
}