workflows/fZc9su0VEenLGV1R.json
{
  "active": true,
  "connections": {
    "Programado (8 AM)": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Procesar Reporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Procesar Reporte": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-19T17:47:52.676Z",
  "id": "fZc9su0VEenLGV1R",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "REPORTE DIARIO - PROPER BOT IA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "505759dc-69d3-4c05-ba77-4d2b5af21628",
      "name": "Programado (8 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        240
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM crm.bot_leads_inversiones",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        240
      ],
      "id": "513c6de0-bcb4-4e24-b3c7-35ea0c4b556c",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================================================\n// PROCESAMIENTO DE DATOS - REPORTE MATRICIAL V9 (INDICADOR + REFINAMIENTO)\n// ==========================================================================\n\nconst leads = $input.all().map(i => i.json);\n\nif (leads.length === 0) {\n  return [{ json: { html_final: \"<div style='font-family:Arial; padding:20px; text-align:center;'>No hay datos para procesar.</div>\" } }];\n}\n\n// 1. CONFIGURACIÓN DE TIEMPO (GMT-5 PERÚ)\nconst now = new Date();\nconst peruOffset = -5;\nconst peruTime = new Date(now.getTime() + (peruOffset * 60 * 60 * 1000));\nconst yesterdayPeru = new Date(peruTime.getTime() - (24 * 60 * 60 * 1000));\nconst yesterdayStr = yesterdayPeru.getUTCFullYear() + '-' + \n                     String(yesterdayPeru.getUTCMonth() + 1).padStart(2, '0') + '-' + \n                     String(yesterdayPeru.getUTCDate()).padStart(2, '0');\nconst currentMonthStr = peruTime.getUTCFullYear() + '-' + \n                        String(peruTime.getUTCMonth() + 1).padStart(2, '0');\n\n// 2. ESTILOS BASE\nconst tableStyle = 'width: 100%; border-collapse: collapse; margin-bottom: 5px; border: 1px solid black;';\nconst headerStyle = 'padding: 6px; text-align: center; font-weight: bold; font-family: Arial, sans-serif; font-size: 10px; border: 1px solid black;';\nconst cellStyle = 'border: 1px solid black; padding: 6px; text-align: center; font-family: Arial, sans-serif; font-size: 10px; min-width: 60px;';\nconst labelCellStyle = 'border: 1px solid black; padding: 6px; text-align: left; font-family: Arial, sans-serif; font-size: 10px; font-weight: bold; background-color: #f9f9f9; width: 140px;';\nconst titleStyle = 'font-family: Arial, sans-serif; font-weight: bold; font-size: 14px; margin-bottom: 5px; margin-top: 25px; color: #333;';\nconst subTitleStyle = 'font-family: Arial, sans-serif; font-size: 12px; margin-bottom: 8px; color: #666; font-weight: bold;';\n\n// 3. LÓGICA DE ESTADÍSTICAS\nfunction getStats(data) {\n  const IDS_INV = [97504464, 97504468, 97504472, 99685031];\n  const IDS_RENT = [98000340, 99685039];\n  const IDS_PROP = [99685043, 99685047];\n  const IDS_CLI = [99685051, 99685055];\n  const IDS_NO_ID = [96388008, 97504460, 99685035];\n\n  const isAsesor = l => Number(l.status_id) === 97504472;\n  const isReunion = l => l.charla_elegida && !['NINGUNO', 'VACIO'].includes(l.charla_elegida);\n  const isSimulacion = l => Number(l.status_id) === 97504468;\n  const isPropDerivado = l => Number(l.status_id) === 99685047;\n  const isInqDerivado = l => Number(l.status_id) === 99685039;\n\n  const invLeads = data.filter(l => IDS_INV.includes(Number(l.status_id)) || isAsesor(l) || isReunion(l) || isSimulacion(l));\n  const rentLeads = data.filter(l => IDS_RENT.includes(Number(l.status_id)) || IDS_PROP.includes(Number(l.status_id)) || isPropDerivado(l) || isInqDerivado(l));\n\n  const total_inversion = invLeads.length;\n  const total_rentas = rentLeads.length;\n\n  const inv_asesor = invLeads.filter(isAsesor).length;\n  const inv_reunion = invLeads.filter(isReunion).length;\n  const inv_simulacion = invLeads.filter(isSimulacion).length;\n  const total_deriv_inv = invLeads.filter(l => isAsesor(l) || isReunion(l) || isSimulacion(l)).length;\n  \n  const rent_prop = rentLeads.filter(isPropDerivado).length;\n  const rent_corretaje = rentLeads.filter(isInqDerivado).length;\n  const total_deriv_rent = rentLeads.filter(l => isPropDerivado(l) || isInqDerivado(l)).length;\n\n  return {\n    matrix: {\n      total_chats: data.length,\n      total_inversion,\n      total_rentas,\n      no_identificado: data.filter(l => IDS_NO_ID.includes(Number(l.status_id))).length,\n      inv_cliente_actual: data.filter(l => IDS_CLI.includes(Number(l.status_id)) && (l.categoria_completa || '').includes('INV')).length,\n      inv_lead_potencial: invLeads.filter(l => Number(l.status_id) !== 99685031).length,\n      rentas_cliente_actual: data.filter(l => IDS_CLI.includes(Number(l.status_id)) && !(l.categoria_completa || '').includes('INV')).length,\n      rentas_lead_propietario: data.filter(l => IDS_PROP.includes(Number(l.status_id)) || isPropDerivado(l)).length,\n      rentas_lead_inquilino: data.filter(l => IDS_RENT.includes(Number(l.status_id)) || isInqDerivado(l)).length\n    },\n    deriv_inv: {\n      labels: ['Total Derivados Inversión', 'Derivados Asesor', 'Derivados Reunión', 'Simulación de Crédito'],\n      values: [total_deriv_inv, inv_asesor, inv_reunion, inv_simulacion]\n    },\n    deriv_rent: {\n      labels: ['Total Derivados Rentas', 'Derivado Asesor Propietario', 'Derivados Inquilino a Corretaje'],\n      values: [total_deriv_rent, rent_prop, rent_corretaje]\n    }\n  };\n}\n\nconst dayRes = getStats(leads.filter(l => l.fecha_dia && l.fecha_dia.startsWith(yesterdayStr)));\nconst monthRes = getStats(leads.filter(l => l.fecha_dia && l.fecha_dia.startsWith(currentMonthStr)));\n\n// 4. RENDERS\nfunction renderMatrix(stats) {\n  const cols = [\n    { label: 'Total Chats', key: 'total_chats', color: '#f2f2f2', txt: '#333' },\n    { label: 'Inversión', key: 'total_inversion', color: '#ff9900', txt: 'white' },\n    { label: 'Rentas', key: 'total_rentas', color: '#28a745', txt: 'white' },\n    { label: 'No identificado', key: 'no_identificado', color: '#dc3545', txt: 'white' },\n    { label: 'Inversión Cliente Actual', key: 'inv_cliente_actual', color: '#ff9900', txt: 'white' },\n    { label: 'Inversión Lead potencial', key: 'inv_lead_potencial', color: '#ff9900', txt: 'white' },\n    { label: 'Rentas Cliente Actual', key: 'rentas_cliente_actual', color: '#28a745', txt: 'white' },\n    { label: 'Rentas lead Propietario', key: 'rentas_lead_propietario', color: '#28a745', txt: 'white' },\n    { label: 'Rentas Lead Inquilino', key: 'rentas_lead_inquilino', color: '#28a745', txt: 'white' }\n  ];\n\n  let html = `<table style=\"${tableStyle}\"><thead><tr>`;\n  html += `<th style=\"${headerStyle} background-color: #f2f2f2; border-color: black; min-width: 140px;\">Indicador</th>`;\n  cols.forEach(c => {\n    html += `<th style=\"${headerStyle} background-color: ${c.color}; color: ${c.txt}; border-color: black;\">${c.label}</th>`;\n  });\n  html += `</tr></thead><tbody><tr>`;\n  html += `<td style=\"${labelCellStyle}\">Nro</td>`;\n  cols.forEach(c => {\n    html += `<td style=\"${cellStyle}\">${stats.matrix[c.key]}</td>`;\n  });\n  html += `</tr><tr>`;\n  html += `<td style=\"${labelCellStyle}\">%</td>`;\n  cols.forEach(c => {\n    const pct = stats.matrix.total_chats > 0 ? ((stats.matrix[c.key] / stats.matrix.total_chats) * 100).toFixed(0) + '%' : '0%';\n    html += `<td style=\"${cellStyle}\">${pct}</td>`;\n  });\n  html += `</tr></tbody></table>`;\n  return html;\n}\n\nfunction renderDerivTable(deriv, totalBase, pctLabel, themeColor) {\n  let html = `<table style=\"${tableStyle}\"><thead><tr>`;\n  html += `<th style=\"${headerStyle} background-color: #f2f2f2; border-color: black; min-width: 140px;\">Indicador</th>`;\n  deriv.labels.forEach((l, i) => {\n    html += `<th style=\"${headerStyle} background-color: ${themeColor}; color: white; border-color: black;\">${l}</th>`;\n  });\n  html += `</tr></thead><tbody><tr>`;\n  html += `<td style=\"${labelCellStyle}\">Nro</td>`;\n  deriv.values.forEach(v => html += `<td style=\"${cellStyle}\">${v}</td>`);\n  html += `</tr><tr>`;\n  html += `<td style=\"${labelCellStyle}\">${pctLabel}</td>`;\n  deriv.values.forEach(v => {\n    const pct = totalBase > 0 ? ((v / totalBase) * 100).toFixed(0) + '%' : '0%';\n    html += `<td style=\"${cellStyle}\">${pct}</td>`;\n  });\n  html += `</tbody></table>`;\n  return html;\n}\n\nfunction renderSection(stats, title, shortTitle) {\n  let html = `<div style=\"${titleStyle}\">${title}</div>`;\n  html += renderMatrix(stats);\n  \n  html += `<div style=\"${subTitleStyle}; margin-top: 15px;\">${shortTitle}</div>`;\n  html += `<div style=\"display: flex; gap: 6px;\">`;\n  html += `<div style=\"flex: 1.3;\">${renderDerivTable(stats.deriv_inv, stats.matrix.total_inversion, \"% del total chats inversión\", \"#ff9900\")}</div>`;\n  html += `<div style=\"flex: 1;\">${renderDerivTable(stats.deriv_rent, stats.matrix.total_rentas, \"% del total chats rentas\", \"#28a745\")}</div>`;\n  html += `</div>`;\n  return html;\n}\n\nlet finalHtml = `<div style=\"padding:10px; max-width: 1250px; margin: auto;\">`;\nfinalHtml += renderSection(dayRes, \"REPORTE DIARIO\", \"Diario\");\nfinalHtml += `<br><div style='border-top: 1px dashed #ccc; margin: 25px 0;'></div>`;\nfinalHtml += renderSection(monthRes, \"REPORTE ACUMULADO DEL MES\", \"Acumulado\");\nfinalHtml += `</div>`;\n\nreturn [{ json: { html_final: finalHtml } }];"
      },
      "id": "3b643763-f2f7-4675-9fe6-22bad22f67fe",
      "name": "Procesar Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        528,
        240
      ]
    },
    {
      "parameters": {
        "sendTo": "valeria.vega@proper.com.pe, mvelascoo@tamibot.com, jorge.campos@cmcapital.in",
        "subject": "REPORTE DIARIO PROPER (INVERSIONES)",
        "message": "={{ $json.html_final }}",
        "options": {}
      },
      "id": "c6b11b2d-8575-444c-86ce-11d169d97fbf",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        240
      ],
      "webhookId": "8116e545-6cba-4f10-829a-66beb3358fff",
      "credentials": {
        "gmailOAuth2": {
          "id": "SPurZ4Z9pGQy8MKJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "id": "19e7537a-fe56-433c-b3f1-d4af8d8048c0",
      "name": "Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        80
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-19T17:47:52.676Z",
      "updatedAt": "2026-01-19T17:47:52.676Z",
      "role": "workflow:owner",
      "workflowId": "fZc9su0VEenLGV1R",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Programado (8 AM)": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-23T01:06:26.464Z",
  "versionId": "804da0ae-f3b2-4ded-bd64-87eba272fde1"
}