workflows/nipXycZzo02sdz3K.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-12T00:15:49.238Z",
    "createdAt": "2026-02-12T00:15:49.237Z",
    "versionId": "673aac38-f71f-45b6-bb47-b7fcad878dbd",
    "workflowId": "nipXycZzo02sdz3K",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 8
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -440,
          115
        ],
        "id": "fab58bc2-75b9-4bf1-ae83-f21a273b1869",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "WITH datos_filtrados AS (\n  SELECT DISTINCT ON (dat.telefono) dat.*\n  FROM crm.datos_urbania dat\n  WHERE DATE(dat.fecha) = CURRENT_DATE - INTERVAL '1 day'\n  ORDER BY dat.telefono, dat.fecha DESC\n)\n\nSELECT df.*\nFROM datos_filtrados df\nLEFT JOIN crm.leads_pre_inquilinos l\n  ON df.telefono = l.telefono_pre_inquilino\nWHERE l.id IS NULL;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -220,
          115
        ],
        "id": "f12bdae2-cd18-4a58-a179-eae3ffbbe018",
        "name": "Postgres",
        "credentials": {
          "postgres": {
            "id": "fuKiWlAN9ojbRM9W",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          0,
          115
        ],
        "id": "78f7e601-5945-4397-92b4-b0dc1d0c7132",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "url": "=https://propertamibotcom.kommo.com/api/v4/contacts?query={{$json.telefono}}&limit=1",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "options": {
            "response": {
              "response": {
                "fullResponse": true,
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          440,
          40
        ],
        "id": "88ea1e7c-6ae1-4991-8ac3-98dd2b4e7e46",
        "name": "HTTP Request",
        "credentials": {
          "oAuth2Api": {
            "id": "CUkAxEZkWpxNLUY2",
            "name": "Proper"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "542ddb0a-f83c-49fa-8e2c-ae81592b422a",
                "leftValue": "={{ $json.statusMessage }}",
                "rightValue": "No Content",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          660,
          60
        ],
        "id": "a0642384-1c89-483e-9da1-2c683a2b4999",
        "name": "If"
      },
      {
        "parameters": {
          "amount": 2
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          220,
          40
        ],
        "id": "f3455038-7ae9-44ab-8771-44df86d1d8f6",
        "name": "Wait",
        "webhookId": "c1832cd0-23a4-4f03-8350-da9cd8ef9afa"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://propertamibotcom.kommo.com/api/v4/contacts",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[{\n  \"name\": \"{{ $('Wait').item.json.nombre_pre_inquilino }}\",\n  \"custom_fields_values\": [\n    {\n      \"field_id\": 522506,\n      \"values\": [\n        {\n          \"value\": \"{{ $('Loop Over Items').item.json.correo }}\",\n          \"enum_id\": 315952\n        }\n      ]\n    },\n    {\n          \"field_id\": 522504,\n          \"values\": [\n            {\n              \"value\": \"{{ $('Loop Over Items').item.json.telefono }}\",\n              \"enum_id\": 315940\n            }\n          ]\n        }\n  ]\n}\n]\n",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          960,
          -40
        ],
        "id": "03df61de-ec90-4e67-a2b0-94d30f09dd86",
        "name": "HTTP Request1",
        "credentials": {
          "oAuth2Api": {
            "id": "CUkAxEZkWpxNLUY2",
            "name": "Proper"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://propertamibotcom.kommo.com/api/v4/leads/complex",
          "authentication": "genericCredentialType",
          "genericAuthType": "oAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "=[{\n  \"name\":\"{{ $('Loop Over Items').item.json.telefono }}\",\n  \"pipeline_id\":9165176,\n  \"status_id\":88281952,\n \"custom_fields_values\": [\n      {\n        \"field_id\": 797051,\n        \"values\": [\n          {\n            \"value\": \"{{ $('Loop Over Items').item.json.codigo }}\"\n          }\n        ]\n      },\n      {\n        \"field_id\": 797511,\n        \"values\": [\n          {\n            \"value\": \"{{ $('Wait').item.json.link_urbania }}\"\n          }\n        ]\n      }\n    ],\n    \"_embedded\": {\n            \"contacts\": [\n              {\n                \"id\": {{ $json._embedded.contacts[0].id }}  \n              }\n            ]\n    }\n  } \n]\n",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1100,
          20
        ],
        "id": "e91a52e9-c8e4-4570-8c52-edcd95408b63",
        "name": "HTTP Request2",
        "credentials": {
          "oAuth2Api": {
            "id": "CUkAxEZkWpxNLUY2",
            "name": "Proper"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Postgres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Postgres": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "system migration",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "activeVersionId": "673aac38-f71f-45b6-bb47-b7fcad878dbd",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-08T12:20:24.256Z",
  "id": "nipXycZzo02sdz3K",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CreacionLeadsUrbania",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -440,
        115
      ],
      "id": "fab58bc2-75b9-4bf1-ae83-f21a273b1869",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH datos_filtrados AS (\n  SELECT DISTINCT ON (dat.telefono) dat.*\n  FROM crm.datos_urbania dat\n  WHERE DATE(dat.fecha) = CURRENT_DATE - INTERVAL '1 day'\n  ORDER BY dat.telefono, dat.fecha DESC\n)\n\nSELECT df.*\nFROM datos_filtrados df\nLEFT JOIN crm.leads_pre_inquilinos l\n  ON df.telefono = l.telefono_pre_inquilino\nWHERE l.id IS NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -220,
        115
      ],
      "id": "f12bdae2-cd18-4a58-a179-eae3ffbbe018",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "fuKiWlAN9ojbRM9W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        115
      ],
      "id": "78f7e601-5945-4397-92b4-b0dc1d0c7132",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://propertamibotcom.kommo.com/api/v4/contacts?query={{$json.telefono}}&limit=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        40
      ],
      "id": "88ea1e7c-6ae1-4991-8ac3-98dd2b4e7e46",
      "name": "HTTP Request",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "542ddb0a-f83c-49fa-8e2c-ae81592b422a",
              "leftValue": "={{ $json.statusMessage }}",
              "rightValue": "No Content",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        660,
        60
      ],
      "id": "a0642384-1c89-483e-9da1-2c683a2b4999",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        220,
        40
      ],
      "id": "f3455038-7ae9-44ab-8771-44df86d1d8f6",
      "name": "Wait",
      "webhookId": "c1832cd0-23a4-4f03-8350-da9cd8ef9afa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://propertamibotcom.kommo.com/api/v4/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n  \"name\": \"{{ $('Wait').item.json.nombre_pre_inquilino }}\",\n  \"custom_fields_values\": [\n    {\n      \"field_id\": 522506,\n      \"values\": [\n        {\n          \"value\": \"{{ $('Loop Over Items').item.json.correo }}\",\n          \"enum_id\": 315952\n        }\n      ]\n    },\n    {\n          \"field_id\": 522504,\n          \"values\": [\n            {\n              \"value\": \"{{ $('Loop Over Items').item.json.telefono }}\",\n              \"enum_id\": 315940\n            }\n          ]\n        }\n  ]\n}\n]\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        -40
      ],
      "id": "03df61de-ec90-4e67-a2b0-94d30f09dd86",
      "name": "HTTP Request1",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://propertamibotcom.kommo.com/api/v4/leads/complex",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[{\n  \"name\":\"{{ $('Loop Over Items').item.json.telefono }}\",\n  \"pipeline_id\":9165176,\n  \"status_id\":88281952,\n \"custom_fields_values\": [\n      {\n        \"field_id\": 797051,\n        \"values\": [\n          {\n            \"value\": \"{{ $('Loop Over Items').item.json.codigo }}\"\n          }\n        ]\n      },\n      {\n        \"field_id\": 797511,\n        \"values\": [\n          {\n            \"value\": \"{{ $('Wait').item.json.link_urbania }}\"\n          }\n        ]\n      }\n    ],\n    \"_embedded\": {\n            \"contacts\": [\n              {\n                \"id\": {{ $json._embedded.contacts[0].id }}  \n              }\n            ]\n    }\n  } \n]\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        20
      ],
      "id": "e91a52e9-c8e4-4570-8c52-edcd95408b63",
      "name": "HTTP Request2",
      "credentials": {
        "oAuth2Api": {
          "id": "CUkAxEZkWpxNLUY2",
          "name": "Proper"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-07-08T12:20:24.256Z",
      "createdAt": "2025-07-08T12:20:24.256Z",
      "role": "workflow:owner",
      "workflowId": "nipXycZzo02sdz3K",
      "projectId": "tpSonpyzopDOYZNA"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-17T19:40:19.506Z",
  "versionId": "673aac38-f71f-45b6-bb47-b7fcad878dbd"
}